<div class="app-body">
  <main class="main">
    <div class="container-fluid  animated fadeIn">
      <div class="row">
        <!-- Logo section starts -->
        <div class="col-xl-7 col-lg-7 col-md-7 col-md-7 full-height logo-section">
          <div class="row">
            <div class="col-sm-2">
              <img class="logo-flip img-fluid" src="assets/img/FLIP.png" />
            </div>
          </div>
        </div>
        <!-- Logo section ends -->
        <!-- Booking-form starts -->
        <div class="d-flex flex-column col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 full-height booking-form ">
          <!-- Steper starts -->
          <div class="row steper">
            <div class="col-sm-2 step active-step">
              <div>
                1
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                2
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                3
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                4
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                5
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                6
              </div>
            </div>
          </div>
          <!-- Steper ends -->
          <!-- Form Section starts -->
          <div class="row flex-fill  align-items-center">
            <div class="col">
              <div class="row ">
                <div class="col-sm-12 text-center">
                  <h5>HOW LONG ARE YOU PLANNING TO STAY?</h5>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-check" id="form-check-long">
                      <input class="form-check-input" type="checkbox" value="" id="longTerm">
                      <label class="form-check-label" for="longTerm">
                        Long Term
                        <p><small>( + than a week )</small></p>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="shortTerm">
                      <label class="form-check-label" for="shortTerm">
                        Short Term
                        <p><small>( - than a week )</small></p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-button">
                  <button aria-pressed="true" class="btn btn-pill btn-block btn-dark active" type="button" routerLink="/#/wizard2">SIGUIENTE  ></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Form Section ends -->
        </div>
        <!-- Booking-form ends -->
      </div>
    </div>
    <!-- Footer starts -->
    <app-footer>
      <div class="footer">
        <ul class="footer_menu">
          <br class="brhide hiddens">
          <li class="movilhidden img-fluid"><img src="../assets/img/FLIP.png" alt="FLIP_LOGO"></li>
          <li><a href="#">Communities</a></li>
          <li><a href="#">Backstage</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">More</a></li>
          <li class="movilhidden"><hr></li>
          <li class="">
            <a id="partnerfooter" style="font-weight: 600; font-family: GothamProLight;" href="#">Partner</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Carrers</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Team</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">FAQ</a>
          </li>
          <br class="brhide hiddens">
          <br class="brhide hiddens">
          <li>
            <a id="facefooter" href="#" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="youtube"><i class="fa fa-youtube fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
        </ul>
        <br class="brhide hiddens">
        <br class="brhide hiddens">
        <br class="brhide hiddens">
      </div>
    </app-footer>
    <!-- Footer ends -->
  </main>
</div>


