<div class="ml-col-1">
    <!-- booking-navbar [section]="section"></booking-navbar -->
    <div class="ml-col-1 padding-general-m margin-bottom-m">
        <div class="ml-col-1">
            <div class="ml-col-1 margin-bottom-x">
                <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
                    <span class="title_back_button" (click)="backIndex()"></span><br />
                    <span class="padding-left-m">
                        Room Catalog
                    </span>
                 </h4>
                 <button 
                    class="ap-form__rButton button-pink padding-lateral-m button-icon button-icon--add-white "
                    (click)="goToPage()">
                    Add Room
                </button>
            </div>
            <div class="ml-col-1">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Room">
                </mat-form-field>
                <table mat-table mat-sort [dataSource]="roomList" class="mat-elevation-z8 table--no-shadow">
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Active</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <div *ngIf="element.active">
                                <label class="icon-check"></label>
                            </div>
                            <div *ngIf="!element.active">
                                <label class="icon-ban"></label>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Name</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bed">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Beds </th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.beds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Description </th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="floor">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Floor </th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.floor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="typeRoom">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Type Room </th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.typeRoom}} </td>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <button 
                                (click)="viewDetail(element.id)" 
                                mat-raised-button
                                class="table__data-button button-blue">
                                Detail
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>