.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 25vh;
  align-items: center;
  padding: 0 8%;
}

img {
  margin-right: 3%;
}

.options {
  display: flex;
  justify-content: center;
  margin-right: 3%;
  height: 100%;
}

.opt-left {
  display: flex;
  padding: 2%;
  list-style: none;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.opt-right {
  display: flex;
  padding: 2%;
  list-style: none;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  border-left: solid 1px lightgray;
  height: 70%;
}

.opt-left li a {
  font-weight: 700;
}

.networks {
  display: flex;
  margin-left:2%;
}
