<div class="footer col-lg-12">
  <img src="./assets/img/footer/FLIP.png" />
  <div class="options col-lg-8">
    <ul class="opt-left col-lg-4">
      <li><a>Backstage</a></li>
      <li><a>Communities</a></li>
      <li><a>Design</a></li>
      <li><a>More</a></li>
    </ul>
    <ul class="opt-right col-lg-4">
      <li><a>Press</a></li>
      <li><a>Team</a></li>
      <li><a>Work with us</a></li>
    </ul>
  </div>

  <div class="networks col-lg-2">
    <img src="./assets/img/footer/tweeter.png" />
    <img src="./assets/img/footer/youtube.png" />
    <img src="./assets/img/footer/facebook.png" />
    <img src="./assets/img/footer/instagram.png" />
  </div>

</div>
