  <div class="app-body">
    <div class="booking-background col-lg-12">
      <!--FLIP 1 WORKS!-->
      <img class="filmclik" src="./assets/img/booking/f-booking.png" />
      <img class="background1" src="https://picsum.photos/800/1200" />
      <div class="content-box row col-lg-6">
        <div class="title col-lg-12">
          <h5>WHAT MONTH ARE YOU PLANNING ON MOVING?</h5>
        </div>
        <div class="select-month col-lg-6">
          <select class="month col-lg-12">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-pill btn-block btn-dark active col-lg-12">SIGUIENTE</button>
        </div>
      </div>
    </div>

  </div>
