<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-g background-white">
        <div class="ml-col-1 margin-bottom-x">
            <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
               Messages
            </h4>
            <button 
                class="ap-form__rButton button-yellow button-icon button-icon--add padding-lateral-m button-big"
                (click)="openModal()">
                New Conversation
            </button>
        </div>
        <div class="ml-col-1 position-relative">
            <div class="ml-col-1 ap-chat">
                <div class="ap-chat__people-person ap-chat__people-person--me">
                    <figure class="ap-chat__people-person-photo">
                        <img [src]="userInfo.avatar?userInfo.avatar:'src\assets\avatar-def.png'" />
                    </figure>
                    <p class="ap-chat__people-person-name">
                        {{userInfo.name}} {{userInfo.lastName}}
                    </p>
                </div>
                <div class="ap-chat__people-person ap-chat__people-person--contacts block-tets" style="height: 40px;">
                    <p class="ap-chat__people-person-name ap-chat__people-person--contacts-subtitle padding-left-min">
                        Conversations
                    </p>
                    <!-- button class="ap-chat__people-person--contacts-button button-yellow button-icon button-icon--edit">
                        New Message
                    </button -->
                </div>
                <div class="ap-chat__people">
                    <div class="ml-col-1" *ngIf="no_chats">
                        <div 
                            *ngFor="let friend of posts;"
                            (click)="showConversation(friend, friend.iduser, $event)" 
                            class="ap-chat__people-person ap-chat__people-person--friend">
                            <span class="ap-chat__people-person--mask"></span>
                            <figure class="ap-chat__people-person-photo ap-chat__people-person-photo--friend">
                                <img *ngIf="friend.photo != ''" src="{{ friend.photo }}" />
                                <img *ngIf="friend.photo == ''" src="../../../../assets/avatar-def.png" />
                            </figure>
                            <p class="ap-chat__people-person-name ap-chat__people-person-name--friend">
                                {{ friend.name }} {{ friend.lastname }}
                            </p>
                            <span class="ap-chat__people-person-on"></span>
                        </div>
                    </div>
                </div>
                <div class="ap-chat__chat">
                    <div class="ml-col-1" *ngIf="showChat">
                        <button class="ap-form__rButton button-icon button-icon--cancel-white button-red" (click)="hideChat()">
                            Close
                        </button>
                    </div>
                    <div class="chatm card-style margin-top-x" *ngIf="showChat">
                        <h4 style="cursor:pointer; color:inherit; text-decoration: underline; text-decoration-color: blue;" class="chatm__datos" (click)="viewDetail(userConversation.id, userConversation.idBooking)">
                            {{ userSendMessage.info.name + ' ' + userSendMessage.info.lastname }}
                            <!-- img class="chatm__datos-photo" 
                                 src="{{ userSendMessage.info.photo }}" / -->
                            <img *ngIf="userSendMessage.info.photo != ''" class="chatm__datos-photo" src="{{ userSendMessage.info.photo }}" />
                            <img *ngIf="userSendMessage.info.photo == ''" class="chatm__datos-photo" src="../../../../assets/avatar-def.png" />
                        </h4>
                        <div class="chatm__chat" id="chat_messages">
                            <div *ngFor="let message of messages"
                                 class="chatm__chat-message">
                                <!-- span class="chatm__chat-message-msg"
                                      [ngClass]="{'chatm__chat-message-msg-own': IDUSR == message.message.userId, 
                                                  'chatm__chat-message-msg-from': IDUSR != message.message.userId}">
                                    {{ message.message.message1 }}
                                </span -->
                                <span class="chatm__chat-message-msg chatm__chat-message-msg-from" 
                                      *ngIf="CONSIERGE == message.message.userId">
                                    {{ message.message.message1 }}
                                </span>
                                <span class="chatm__chat-message-msg chatm__chat-message-msg-own" 
                                      *ngIf="CONSIERGE != message.message.userId">
                                    {{ message.message.message1 }}
                                </span>
                            </div>
                        </div>
                        <div class="chatm__message">
                            <textarea class="chatm__message-message card-style" [(ngModel)]="messageInput"></textarea>
                            <button 
                                (click)="SentMessage(1)"
                                class="chatm__message-send">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <span class="chatm--selecting center-element-absolute" *ngIf="!showChat || showChat && !no_chats">
                        Select a conversation or start one  
                    </span>
                </div>
            </div>
        </div>  
    </div>
</div>