<h4 class="aa-navbar__comunidad">
  {{ community_name }}
  <span class="aa-navbar__comunidad-back" (click)="goTo('communities')"></span>
</h4>
<div class="aa-navbar">
  <div class="aa-navbar__item" 
       *ngFor="let nav of navRoutes"
       [ngClass]="{'aa-navbar__item--active': nav.active}">
    <a class="aa-navbar__link aa-navbar__link--active" 
       [ngClass]="{'aa-navbar__link--active': nav.active}"
       [routerLink]="[ nav.route, IDBUILD]">
      {{ nav.title }}
    </a>
  </div>
</div>