<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding: 0;">
    <h2 Class="text-ultra">Carrers</h2>
  </div>
  <div class="row padding-bottom-m">
    <div class="big-card" *ngFor="let post of posts, index as index;">
      <div class="card">
        <div class="card__row">
          <div class="card__info">
            <p class="card__info-dato margin-bottom-x">
              <span class="text-bold">Titulo: </span>
              {{ post.title }}
            </p>
            <p class="card__info-dato margin-bottom-x">
              <span class="text-bold">Short Descripción: </span>
              {{ post.shortdesc }}
            </p>
            <p class="card__info-dato margin-bottom-x">
              <span class="text-bold">Long Descripción: </span>
              {{ post.longdesc }}
            </p>
          </div>
        </div>
        <div class="card__row text-center">
          <button 
          class="button button-x padding-lateral button-green button-icon button-icon--edit-white"
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata( post );">
            Editar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="row display-none">
  <div class="col-12" style="padding:0;">
    <br />
    <h2>Empleos</h2>
    <br />
  </div>
  <div class="col-md-3" *ngFor="let post of posts; let i = index">
    <mat-card *ngIf="i!=3" style="height: 400px; margin-bottom: 15px">
      <div class="col-sm-12 col-md-12" style="padding:0;">
        <strong> Titulo : </strong>{{post.title}}
        <br>
        <strong> LongDesc :  </strong> {{post.longdesc}}
        <br>
        <strong> ShortDesc :  </strong>  {{post.shortdesc}}
        <br>

        <div class="col-12" style="text-align:center; vertical-align:baseline;">
          <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 20px;" (click)="primaryModal.show();passdata(post.id, post.title, post.longdesc,post.shortdesc);">
            Editar
          </button>
        </div>

      </div>

    </mat-card><!--/.col-->
    <mat-card *ngIf="i==3" style="background-color: #f8cd58;height: 400px; margin-bottom:15px">
      <div class="col-sm-12 col-md-12" style="padding:0;">
        JOBS
      </div>
    </mat-card><!--/.col-->
  </div><!--/.row-->
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade modal-fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div>
        <button type="button" 
                id="close_modal"
                class="ap-form__rButton button-red button-icon button-icon--cancel-white padding-lateral-m"
                (click)="primaryModal.hide()" 
                aria-label="Cerrar">
          Cerrar
        </button>
        <br><br>
        <h4 class="modal-title">Complete the information for the carrer: {{job_data.id}}</h4>
      </div>
      <hr>
      <div class="form">
        <form #loginForm="ngForm" autocomplete="off">
          <div class="ml-col-1 custom-input margin-top-m margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="room_titulo" 
              id="room_titulo" 
              placeholder="Titulo" 
              [(ngModel)]="job_data.Titulo"
              [class.custom-input__text--error]="form_watcher.no_titl"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_titulo">
              Titulo
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_titl">
              Titulo se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="room_titulo" 
              id="room_titulo" 
              [(ngModel)]="job_data.ShortDescription"
              placeholder="Short Descripción" 
              [class.custom-input__text--error]="form_watcher.no_sdes"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_titulo">
              Short Descripción
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_sdes">
              Short Descripción se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-m">
            <textarea 
              class="custom-input__textarea" 
              name="room_desc" 
              id="room_desc" 
              [(ngModel)]="job_data.LongDescription"
              [class.custom-input__textarea--error]="form_watcher.no_ldes"
              placeholder="Long Descripción" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_desc">
              Long Descripción
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_ldes">
              Long Descripción se requiere
            </span>
          </div>
        </form>
      </div>
      <!-- form #loginForm="ngForm" autocomplete="off">
        <div class="modal-body">
          <div class="col-12  margin-gral">
            Title:
            <input type="text" [(ngModel)]="title" class="form-control" name="postitle" id="postitle" placeholder="Title" required>
          </div>
          <div class="col-12  margin-gral">
            LongDesc:
            <input type="text" [(ngModel)]="longdesc" class="form-control" name="lng" id="lng" placeholder="Long Desc" required>
          </div>
          <div class="col-12  margin-gral">
            ShortDesc:
            <input type="text" [(ngModel)]="shortdesc" class="form-control" name="sht" id="sht" placeholder="ShortDesc" required>
          </div>

        </div>
      </form -->
      <div class="card__row margin-top-x" style="text-align: end;">
        <button 
              type="button" 
              class="ap-form__buttons-button margin-gral ap-form__buttons-button--big button-green button-icon button-icon--add-white"
              (click)="updatephoto()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
