table {
    width: 100%;
  }

.button {
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.font-badge {
  font-size: 140%;
}