<booking-navbar [section]="section"></booking-navbar>
<div class="ml-col-1">
    <div class="ml-col-1 padding-general-m margin-bottom-m background-white">
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 position-relative">
                <h4 class="ap-form__titulo ap-form__titulo--no-border text-left">
                  Room detail
                </h4>
            </div>
            <div class="ml-col-1">
                <div class="ml-col-1 padding-general-m" >
                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                        <div class="ml-col-1">
                          Name: <br>
                          <span class="text-bold">
                            {{ roomObj.name }}     
                          </span>
                        </div>
                    </div>
                    
                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                        <div class="ml-col-1">
                            Occupation: <br>
                          <span class="text-bold">
                            {{ roomObj.totalBeds }}     
                          </span>
                        </div>
                    </div>
                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                        <div class="ml-col-1">
                            Type room: <br>
                          <span class="text-bold">
                            {{ roomObj.typeRoom }}     
                          </span>
                        </div>
                    </div>

                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-right">
                        <div class="ml-col-1">
                            Next full avaibility date: <br>
                          <span class="text-bold">
                            {{ roomObj.dateUnemployment }}     
                          </span>
                        </div>
                    </div>

                </div>

                <div class="ml-col-1 padding-general-m">
                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                        <div class="ml-col-1">
                          Roomate Type:
                          <div *ngIf="roomData.roomateFlip">
                              <span class="text-bold">
                                  Roomate Flip
                              </span>
                          </div>
                          <div *ngIf="!roomData.roomateFlip">
                              <span class="text-bold">
                                  No Roomate   
                              </span>
                          </div>
                        </div>
                      </div>
  
                      <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                          <div class="ml-col-1">
                              Smoking: 
                              <div *ngIf="roomData.smoke">
                                  <span class="text-bold">
                                      Yes
                                  </span>
                              </div>
                              <div *ngIf="!roomData.smoke">
                                  <span class="text-bold">
                                      No 
                                  </span>
                              </div>
                          </div>
                      </div>
  
                      <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                          <div class="ml-col-1">
                              Room Active: 
                              <div *ngIf="roomData.status">
                                  <span class="text-bold">
                                      Yes
                                  </span>
                              </div>
                              <div *ngIf="!roomData.status">
                                  <span class="text-bold">
                                      No 
                                  </span>
                              </div>
                          </div>
                      </div>
  
                      <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-right">
                          <div class="ml-col-1">
                              Reservations Active: <br>
                            <span class="text-bold">
                              {{ roomData.disponibility }}     
                            </span>
                          </div>
                      </div>
                </div>

                <div class="ml-col-1 padding-general-m">
                    <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                        <div class="ml-col-1">
                            Description: <br>
                          <span class="text-bold">
                            {{ roomObj.description }}     
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="ml-col-1 padding-general-m" *ngIf="displayMembership">
                <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                    <div class="ml-col-1 text-bold">
                        Memberships Asociate:
                    </div>
                </div>
                <table mat-table mat-sort [dataSource]="membershipRelationshipObj" class="mat-elevation-z8 table--no-shadow">
                    
                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef fxFlex="40" class="table__header">Type Room</th>
                        <td mat-cell *matCellDef="let element" fxFlex="40" class="table__data">{{ roomObj.typeRoom }}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="table__header">Name</th>
                        <td mat-cell *matCellDef="let element" class="table__data">{{ element.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef class="table__header">Description</th>
                        <td mat-cell *matCellDef="let element" class="table__data">{{ element.description }}</td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="table__header">Price Per Bed</th>
                        <td mat-cell *matCellDef="let element" class="table__data">{{ element.price | currency }}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="membershipDisplayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: membershipDisplayColumns;"></tr>
                </table>
            </div>

            <div class="ml-col-1 padding-general-m" *ngIf="!displayMembership">
                <span class="text-bold">Memberships :</span> No Data
            </div>

            <div class="ml-col-1 padding-general-m" *ngIf="displayActive">
                <span class="text-bold">Active Booking :</span>
                <form class="ap-form__titulo ap-form__titulo--no-border date-block" [formGroup]="filterActiveForm">          
                    <div class="ml-col-1">
                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                        <mat-label>Check Out</mat-label>
                                        <mat-select [formControl]="animalControl" formControlName="ifCheckOut">
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let ifCheckOut of ifCheckOutLs" [value]="ifCheckOut">
                                            {{ifCheckOut.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                        <mat-label>Pending</mat-label>
                                        <mat-select [formControl]="animalControl" formControlName="pending">
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let pending of pendingLs" [value]="pending">
                                            {{pending.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="ml-col-1 margin-bottom-m">
                    <div class="ml-col-4">
                      <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="filterTable(true)">Filter</button>
                    </div>
                    <div class="ml-col-4">
                        <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="filterTable(true)">Reset</button>
                    </div>
                  </div>
    
                </form>
                
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
                </mat-form-field>
                <mat-table mat-table matSort [dataSource]="activeObj" class="mat-elevation-z8 table--no-shadow">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Name </th>
                        <td mat-cell *matCellDef="let element" class="table__data" > 
                            <a style="cursor:pointer; color:inherit; text-decoration: underline; text-decoration-color: blue;" (click)="viewDetail(element)">
                                {{element.firstName}}
                            </a> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Room </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.room}} </td>
                    </ng-container>
                    <ng-container matColumnDef="membership">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Membership </th>
                        <td mat-cell *matCellDef="let element" class="table__data">
                            <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>{{element.membership.membershipType}}</ng-template>
                            <ng-template #elseBlock>None</ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="dateInit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Arrival date </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.dateInit}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="dateEnd">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> End Reservation </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.dateEnd}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amountOutstanding">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Total Billed </th>
                        <td mat-cell *matCellDef="let element" class="table__data">
                            <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>{{element.membership.priceMembership + element.amountOutstanding | currency }}</ng-template>
                            <ng-template #elseBlock>{{element.amountOutstanding | currency }}</ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pendingBilled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center">Pending</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.pending | currency }}</td>
                    </ng-container>
                    <ng-container matColumnDef="totalBeds">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Total Beds	 </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.totalBeds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="roomateFlip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Roomate Type </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.roomateFlip}} </td>
                    </ng-container>
                    <ng-container matColumnDef="checkIn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check In </th>
                        <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.checkIn"></td>
                    </ng-container>
                    <ng-container matColumnDef="checkOut">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check Out </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> 
                            <div *ngIf="element.checkOut.includes('Check Out') || element.checkOut.length <= 3 ; then elseOut else thenOut"></div>
                            <ng-template #thenOut >
                                <span>{{element.checkOut}}</span>
                            </ng-template>
                            <ng-template #elseOut>
                                <div *ngIf="element.checkIn.includes('<span'); then elseCheckIn else thencheckOut"></div>
                                <ng-template #elseCheckIn>
                                    N/A
                                </ng-template>
                                <ng-template #thencheckOut>
                                    <button [disabled]="element.pending !== 0 || element.checkOut.includes('N/A')"
                                      (click)="showModal('check_out',element.idUser)" mat-raised-button class="text-center"
                                      [class.table__data-button-yellow]="element.checkOut === 'Check Out'"
                                      [class.table__data-button-red]="element.checkOut  !== 'Check Out'">
                                      {{element.checkOut === 'Check Out' ? element.checkOut : 'CheckOut' }}
                                    </button>
                                </ng-template>
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Active </th>
                        <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.active">  </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Status </th>
                        <td mat-cell *matCellDef="let element" class="table__data" >
                            <div *ngIf="element.status.idStatusBooking === 1">Pending</div>
                            <div *ngIf="element.status.idStatusBooking === 2">Check In</div>
                            <div *ngIf="element.status.idStatusBooking === 3">Check Out</div>
                            <div *ngIf="element.status.idStatusBooking === 4">Cancel</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="idUser">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">View Profile</th>
                        <td mat-cell *matCellDef="let element">
                            <button 
                                (click)="viewDetail(element)" 
                                mat-raised-button color="accent"
                                class="table__data-button">
                                Detail
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="showBooking">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Booking </th>
                        <td mat-cell *matCellDef="let element">
                            <button 
                                (click)="viewBookingDetail('reservations', element.idUser, element.idBooking)" 
                                mat-raised-button color="accent"
                                class="table__data-button button-pink">
                                Detail
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="activeDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: activeDisplayedColumns;"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                <div class="ml-col-1">
                    <div class="ml-col-1 padding-general-m" >
                        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                            <div class="ml-col-1">
                              Total Billed: 
                              <span class="text-bold">
                                {{ activeTotal | currency }}     
                              </span>
                            </div>
                            <div class="ml-col-1">
                                Total Billed: 
                                <span class="text-bold">
                                  {{ activeTotalPending | currency }}     
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

             

            <div class="ml-col-1 padding-general-m" *ngIf="!displayActive">
                <span class="text-bold">Active Booking :</span> No Data
            </div>

            <div class="ml-col-1 padding-general-m" *ngIf="displayinactive">
                <span class="text-bold">History Booking :</span>
                <form class="ap-form__titulo ap-form__titulo--no-border date-block" [formGroup]="filterActiveForm">          
                    <div class="ml-col-1">
                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                        <mat-label>Check Out</mat-label>
                                        <mat-select [formControl]="animalControl" formControlName="ifCheckOut">
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let ifCheckOut of ifCheckOutLs" [value]="ifCheckOut">
                                            {{ifCheckOut.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                        <mat-label>Pending</mat-label>
                                        <mat-select [formControl]="animalControl" formControlName="pending">
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let pending of pendingLs" [value]="pending">
                                            {{pending.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="ml-col-1 margin-bottom-m">
                    <div class="ml-col-4">
                      <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="filterTable(false)">Filter</button>
                    </div>
                    <div class="ml-col-4">
                        <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="filterTable(false)">Reset</button>
                    </div>
                  </div>
    
                </form>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilterInactive($event)" placeholder="Ex. Mia">
                </mat-form-field>
                <mat-table mat-table matSort [dataSource]="inactiveObj" class="mat-elevation-z8 table--no-shadow">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Name </th>
                        <td mat-cell *matCellDef="let element" class="table__data" > 
                            <a style="cursor:pointer; color:inherit; text-decoration: underline; text-decoration-color: blue;" (click)="viewDetail(element)">
                                {{element.firstName}} 
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Room </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.room}} </td>
                    </ng-container>
                    <ng-container matColumnDef="membership">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Membership </th>
                        <td mat-cell *matCellDef="let element" class="table__data">
                            <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>{{element.membership.membershipType}}</ng-template>
                            <ng-template #elseBlock>None</ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="dateInit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Arrival date </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.dateInit}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="dateEnd">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> End Reservation </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.dateEnd}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amountOutstanding">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Total Billed </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> 
                            <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>{{element.membership.priceMembership + element.amountOutstanding | currency }}</ng-template>
                            <ng-template #elseBlock>{{element.amountOutstanding | currency }}</ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pendingBilled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center">Pending</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.pending | currency }}</td>
                    </ng-container>
                    <ng-container matColumnDef="totalBeds">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Total Beds	 </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.totalBeds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="roomateFlip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Roomate Type </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> {{element.roomateFlip}} </td>
                    </ng-container>
                    <ng-container matColumnDef="checkIn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check In </th>
                        <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.checkIn"></td>
                    </ng-container>
                    <ng-container matColumnDef="checkOut">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check Out </th>
                        <td mat-cell *matCellDef="let element" class="table__data"> 
                            <div *ngIf="element.checkOut.includes('Check Out') || element.checkOut.length <= 3 ; then elseOut else thenOut"></div>
                            <ng-template #thenOut >
                                <span>{{element.checkOut}}</span>
                            </ng-template>
                            <ng-template #elseOut>
                                <div *ngIf="element.checkIn.includes('<span'); then elseCheckIn else thencheckOut"></div>
                                <ng-template #elseCheckIn>
                                    N/A
                                </ng-template>
                                <ng-template #thencheckOut>
                                    <button [disabled]="element.pending !== 0 || element.checkOut.includes('N/A')"
                                      (click)="showModal('check_out',element.idUser)" mat-raised-button class="text-center"
                                      [class.table__data-button-yellow]="element.checkOut === 'Check Out'"
                                      [class.table__data-button-red]="element.checkOut  !== 'Check Out'">
                                      {{element.checkOut === 'Check Out' ? element.checkOut : 'CheckOut' }}
                                    </button>
                                </ng-template>
                            </ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Active </th>
                        <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.active">  </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Status </th>
                        <td mat-cell *matCellDef="let element" class="table__data" >
                            <div *ngIf="element.status.idStatusBooking === 1">Pending</div>
                            <div *ngIf="element.status.idStatusBooking === 2">Check In</div>
                            <div *ngIf="element.status.idStatusBooking === 3">Check Out</div>
                            <div *ngIf="element.status.idStatusBooking === 4">Cancel</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="idUser">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">View Profile</th>
                        <td mat-cell *matCellDef="let element">
                            <button 
                                (click)="viewDetail(element)" 
                                mat-raised-button color="accent"
                                class="table__data-button">
                                Detail
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="showBooking">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Booking </th>
                        <td mat-cell *matCellDef="let element">
                            <button 
                                (click)="viewBookingDetail('reservations', element.idUser, element.idBooking)" 
                                mat-raised-button color="accent"
                                class="table__data-button">
                                Detail
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="inactiveDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: inactiveDisplayedColumns;"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                <div class="ml-col-1">
                    <div class="ml-col-1 padding-general-m" >
                        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                            <div class="ml-col-1">
                              Total Billed: 
                              <span class="text-bold">
                                {{ inactiveTotal | currency }}     
                              </span>
                            </div>
                            <div class="ml-col-1">
                                Total Billed: 
                                <span class="text-bold">
                                  {{ inactiveTotalPending | currency }}     
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="ml-col-1 padding-general-m" *ngIf="!displayinactive">
                <span class="text-bold">History Booking :</span> No Data
            </div>

        </div>
    </div>
</div>

<div class="ml-modal ml-modal--bg-black" *ngIf="show_page_modal">
    <div class="ml-modal__pop" *ngIf="modal_to_show == 'check_out'">
        <p class="ml-modal__pop-titulo margin-bottom-m">
            Check Out
        </p>
        <p class="ml-modal__pop-text">
            Are you sure to Check Out?
        </p>
        <div class="ml-modal__pop-buttons">
            <button 
                (click)="showModal()"
                class="ml-modal__pop-buttons-button button-pink">
                Cancel
            </button>
            <button 
                (click)="confirmCheckInOut('out')"
                class="ml-modal__pop-buttons-button button-black">
                Check Out
            </button>
        </div>
    </div>
</div>
