<div class="login">
  <img src="assets/img/Builds/resp_1.jpg" class="login--background" />
  <div class="login__container card-style">
    <form 
      class="ap-form ml-col-1 login--logo login-form" 
      name="login-form" 
      onsubmit="return false;"
      (submit)="loginEvent()" 
      *ngIf="login_action">
      <div class="ml-col-1 margin-bottom-x">
        <h4 class="ap-form__titulo ap-form__titulo--header text-left">
          Login
        </h4>
      </div>
      <div class="ml-col-1">
        <div class="ap-form__input ap-form__input--full-width">
          <input 
            type="text" 
            placeholder="Email"
            id="login_user" 
            name="login_user"
            [(ngModel)]="user_data.username"
            [ngClass]="{
              'form_error_found' : form_data.no_user,
              'form_error_found' : form_data.no_val_mail
            }"
            class="ap-form__input-text" />
          <label 
            for="login_user" 
            class="ap-form__label ap-form__label-text"
            [class.ap-form__label-text--active]="user_data.username != ''">
            Email
          </label>
          <span class="ml-col-1 form_error_found_label" *ngIf="form_data.no_user">
            Email is required*
          </span>
          <span class="ml-col-1 form_error_found_label" *ngIf="form_data.no_val_mail && !form_data.no_user">
            Email no valid, It can not contain special characters*
          </span>
        </div>
      </div>
      <div class="ml-col-1">
        <div class="ap-form__input ap-form__input--full-width">
          <input 
            type="password" 
            placeholder="Password"
            id="login_pass" 
            [(ngModel)]="user_data.password"
            [class.form_error_found]="form_data.no_pass"
            name="login_pass"
            class="ap-form__input-text" />
          <label 
            for="login_pass" 
            class="ap-form__label ap-form__label-text"
            [class.ap-form__label-text--active]="user_data.password != ''">
            Password
          </label>
          <span class="ml-col-1 form_error_found_label" *ngIf="form_data.no_pass">
            Password is required*
          </span>
        </div>
      </div>
      <div class="ml-col-1 ap-form__buttons margin-top-m" *ngIf="!no_buttons_abaible">
        <button 
          type="submit"
          [class.button-unable]="no_buttons_abaible"
          class="ap-form__buttons-button ap-form__buttons-button--big button-black">
          Login
        </button>
        <span class="ml-col-1 padding-general-min image-name cursor-pointer" (click)="recoverPassword()">
          Forgot password?
        </span>
      </div>
      <div class="ml-col-1" *ngIf="no_buttons_abaible">
        <div class="loader-section">
          <span class="loader-section__loader"></span>
        </div>
      </div>
    </form>
    <form 
      class="ap-form ml-col-1 login-form" 
      name="login-form" 
      onsubmit="return false;" 
      (submit)="recoverPasswordAction()" 
      *ngIf="!login_action">
      <h4 class="ap-form__titulo text-left">
        Recover Password
      </h4>
      <div class="ml-col-1">
        <div class="ap-form__input ap-form__input--full-width">
          <input 
            type="text" 
            placeholder="Email"
            id="recover_email" 
            name="recover_email"
            [(ngModel)]="pass_data.username"
            [class.form_error_found]="form_pass.no_emai"
            [class.form_error_found]="form_pass.no_val_mail"
            class="ap-form__input-text" />
          <label 
            for="recover_email" 
            class="ap-form__label ap-form__label-text" 
            [class.ap-form__label-text--active]="pass_data.username != ''">
            Email
          </label>
          <span class="ml-col-1 form_error_found_label" *ngIf="form_pass.no_emai">
            Email is required*
          </span>
          <span 
            class="ml-col-1 form_error_found_label" 
            *ngIf="form_pass.no_val_mail && !form_pass.no_emai">
            Email format is not valid*
          </span>
        </div>
        <div class="ml-col-1 ap-form__buttons">
          <button 
            type="button"
            (click)="recoverPassword()"
            class="ap-form__buttons-button button-black">
            Cancel
          </button>
          <button 
            type="submit"
            class="ap-form__buttons-button button-pink">
            Recover
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #loginForm="ngForm" autocomplete="off">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" name="user" [(ngModel)]="email" placeholder="Email" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" name="pass" [(ngModel)]="password" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div *ngIf="error" class="alert alert-danger">{{error}}</div>

                      <button type="button" data-style="expand-right" class="btn btn-success btn-ladda" [disabled]="!loginForm.form.valid" (click)="Login()">
                        Login
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" (click)="recoverpass()" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

