<app-nav [section]="section"></app-nav>
<div class="ml-col-1">
  <div class="ml-col-1 padding-general-m margin-bottom-g">
    <div class="ml-col-1">
      <div class="ap-cards">
        <div class="ml-col-1 margin-bottom-x">
          <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
            Services
          </h4>
          <button 
            class="ap-form__rButton button-pink padding-lateral-m button-icon button-icon--add-white"
            (click)="toggleSectionForm( 'new' )">
            Add Service
          </button>
        </div>
        <div class="ml-col-1 margin-top-m font-big color-red text-center" *ngIf="servicesArray?.length == 0">
          We don't have services yet,
          <span class="text-underline cursor-pointer" (click)="toggleSectionForm( 'new' )">add one</span>.
        </div>
        <div class="ap-cards__container margin-bottom-x" *ngFor="let service of servicesArray;">
          <div class="ap-cards__card ap-cards__card--bbuttons card-style">
            <h4 class="ap-cards__card-titulo">
              {{ service.name }}
            </h4>
            <p class="ap-cards__card-desc">
              {{ service.description }}
            </p>
            <p class="ap-cards__card-desc">
              <span class="text-bold">Recurrent Price:</span>
              {{ service.price | currency:'USD' }}
            </p>
            <p class="ap-cards__card-desc">
              <span class="text-bold">Once day Price:</span>
              {{ service.priceUnit | currency:'USD' }}
            </p>
            <figure class="ap-cards__card-image">
              <img src="{{ service.photo }}" />
            </figure>
            <div class="ap-cards__card-buttons">
              <button 
              (click)="deleteThisService( service )"
              class="ap-cards__card-button button-red button-icon button-icon--delete-white">
              Delete
            </button>
            <button 
              (click)="toggleSectionForm( 'edit', service )"
              class="ap-cards__card-button button-green button-icon button-icon--edit-white">
              Edit
            </button>
            </div>
            <figure class="ap-cards__card-icon">
              <img class="ap-cards__card-icon-img" src="{{ service.icon }}" />
            </figure>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<div class="ml-col-1  padding-general-m margin-bottom-g new-modal" *ngIf="show_service_form">
<form (submit)="sendServiceData()" onsubmit="return false;" class="ap-form ml-col-1 card-style ap-form--fixed ap-form--fixed-big margin-bottom-m">
  <div class="ml-col-1">
    <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
      {{ service_form_action }}
     </h4>
     <button 
         class="ap-form__rButton button-red padding-lateral-m button-icon button-icon--cancel-white"
         (click)="toggleSectionForm()">
         Close
     </button>
   </div>
  <div class="ml-col-6 margin-top-x">
    <div class="ml-col-1">
      <div class="ap-form__input">
        <input 
          type="text"
          placeholder="Title"
          id="new_service_title" 
          name="new_service_title"
          [class.form_error_found]="form_service.no_name"
          [(ngModel)]="data_service.name"
          class="ap-form__input-text" />
        <label 
          for="new_service_title" 
          class="ap-form__label ap-form__label-text"
          [class.ap-form__label-text--active]="data_service.name != ''">
          Title
        </label>
        <span class="ml-col-1 form_error_found_label" *ngIf="form_service.no_name">
          Title is required*
        </span>
      </div>
    </div>
    <div class="ml-col-1">
      <div class="ap-form__input">
        <textarea 
          id="new_service_desc"
          name="new_service_desc"
          placeholder="Description"
          [class.form_error_found]="form_service.no_desc"
          [(ngModel)]="data_service.description"
          class="ap-form__label ap-form__input-textarea"></textarea>
        <label 
          for="new_service_desc" 
          class="ap-form__label ap-form__label-text"
          [class.ap-form__label-text--active]="data_service.description != ''">
          Description
        </label>
        <span class="ml-col-1 form_error_found_label" *ngIf="form_service.no_desc">
          Description is required*
        </span>
      </div>
    </div>
    <div class="ml-col-3">
      <div class="ap-form__input">
        <input 
          type="text"
          placeholder="Provider"
          id="new_service_prov" 
          name="new_service_prov"
          [class.form_error_found]="form_service.no_prov"
          [(ngModel)]="data_service.provider"
          class="ap-form__input-text" />
        <label 
          for="new_service_prov" 
          class="ap-form__label ap-form__label-text"
          [class.ap-form__label-text--active]="data_service.provider != ''">
          Provider
        </label>
        <span class="ml-col-1 form_error_found_label" *ngIf="form_service.no_prov">
          Provider is required*
        </span>
      </div>
    </div>
    <div class="ml-col-3">
      <div class="ap-form__input">
        <input 
          type="number"
          placeholder="Recurrent day price"
          id="new_service_price" 
          name="new_service_price"
          [class.form_error_found]="form_service.no_pric"
          [(ngModel)]="data_service.price"
          class="ap-form__input-text" />
        <label 
          for="new_service_price" 
          class="ap-form__label ap-form__label-text"
          [class.ap-form__label-text--active]="data_service.price != null">
          Recurrent day price
        </label>
        <span class="ml-col-1 form_error_found_label" *ngIf="form_service.no_pric">
          Recurrent day price is required*
        </span>
      </div>
    </div>
    <div class="ml-col-3">
      <div class="ap-form__input">
        <input 
          type="number"
          placeholder="Once day Price"
          id="new_service_unitp" 
          name="new_service_unitp"
          [(ngModel)]="data_service.priceUnit"
          [class.form_error_found]="form_service.no_puni"
          class="ap-form__input-text" />
        <label 
          for="new_service_unitp" 
          class="ap-form__label ap-form__label-text"
          [class.ap-form__label-text--active]="data_service.priceUnit != null">
          Once day Price
        </label>
        <span class="ml-col-1 form_error_found_label" *ngIf="form_service.no_puni">
          Once day Price is required*
        </span>
      </div>
    </div>
  </div>
  <div class="ml-col-4o">
    <div class="ml-col-6">
      <div class="ap-form__input">
        <input
          class="ap-form__input-image display-none" 
          id="nuevo_servicio_img"
          name="nuevo_servicio_img"
          type="file"
          (change)="validateImageUpload( $event, '350x350', 'nuevo_servicio_img_0', 'nuevo_servicio_name_0', 0);" />
        <label for="nuevo_servicio_img" class="ap-form__label-image">
          <figure class="ap-form__image">
            <img class="ap-form__image-image no-image" 
                 id="nuevo_servicio_img_0"
                 [class.forms_errors_nimage]="form_service.no_phot"
                 src="{{ data_service.photo }}" />
            <span class="ap-form__image-data text-center" id="nuevo_servicio_name_0">
              Image size must be <br />
              <span class="text-bold">350x350</span> 
            </span>
            <span class="ml-col-1 form_error_found_label text-center" *ngIf="form_service.no_phot">
              Image is required*
            </span>
          </figure>
        </label>
      </div>
    </div>
    <div class="ml-col-4o">
      <div class="ap-form__input">
        <input
          class="ap-form__input-image display-none" 
          id="nuevo_servicio_icon"
          name="nuevo_servicio_icon"
          type="file"
          (change)="validateImageUpload( $event, '150x150', 'nuevo_servicio_icon_0', 'nuevo_servicio_icon_name_0', 1);" />
        <label for="nuevo_servicio_icon" class="ap-form__label-image ap-form__label-image--icon">
          <figure class="ap-form__image">
            <img class="ap-form__image-image ap-form__image-image--icon no-image bg-black" 
                 id="nuevo_servicio_icon_0"
                 [class.forms_errors_nimage]="form_service.no_icon"
                 src="{{ data_service.icon }}" />
            <span class="ap-form__image-data text-center" id="nuevo_servicio_icon_name_0">
              Image size must be<br />
              <span class="text-bold">150x150</span> 
            </span>
            <span class="ml-col-1 form_error_found_label text-center" *ngIf="form_service.no_icon">
              Image is required*
            </span>
          </figure>
        </label>
      </div>
    </div>
  </div>
  <!-- div class="ml-col-1 ap-form__buttons">
    <button 
      type="submit"
      class="ap-form__buttons-button ap-form__buttons-button--big ap-form__buttons-button--aceptar">
      Guardar
    </button>
  </div -->
  <div class="ml-col-1 ap-form__buttons margin-top-x">
    <!-- <button 
      type="button"
      (click)="toggleSectionForm()"
      class="ap-form__buttons-button ap-form__buttons-button--big button-pink">
      Cancel
    </button> -->
    <button 
      type="submit"
      class="ap-form__buttons-button ap-form__buttons-button--no-margin ap-form__buttons-button--big button-green button-icon button-icon--add-white">
      Save
    </button>
  </div>
</form>
</div>

<!-- div class="bottom-container">
  <button 
    class="button button-black button-see-x right-element-absolute"
    *ngIf="!show_service_form"
    (click)="toggleSectionForm( 'new' )">
    Agregar Nuevo Servicio
  </button>
  <button 
    class="button button-blue button-x right-element-absolute"
    *ngIf="show_service_form"
    (click)="toggleSectionForm()">
    Lista de Servicios
  </button>
</div -->

<div class="ml-modal ml-modal--bg-black" *ngIf="page_modal">
  <div class="ml-modal__pop" *ngIf="modal_to_show == 'default'">
    <p class="ml-modal__pop-titulo margin-bottom-m">
      Delete Service
    </p>
    <p class="ml-modal__pop-text">
      Are you sure to delete service<br />
      <span class="text-bold">"{{ service_to_delete.name }}"</span>?
    </p>
    <div class="ml-modal__pop-buttons">
      <button 
        (click)="toggleSectionForm('delete')"
        class="ml-modal__pop-buttons-button button-pink button-icon button-icon--cancel-white">
        Cancel
      </button>
      <button 
        (click)="confirmDeleteElement()"
        class="ml-modal__pop-buttons-button button-black button-icon button-icon--delete-white">
        Delete
      </button>
    </div>
  </div>
</div>

<div class="black-box">
  <img src="" id="image_real_dimension" />
</div>


<!-- |||||||||||||||||||||||||||||||||||||||||| -->
<!-- Necesito saber que espera bien el servicio para mandarle ese objeto -->
<!-- div class="animated fadeIn">
  <div class="card">    
    <div class="card-body">
      <h5 class="card-title">Add Service</h5>
        
      <form [formGroup]="formGroup" autocomplete="off">
        <div class="row">                      
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="row">                                      
              <div class="col-12 mb-2">
                  <input type="text" formControlName="nameCtrl" class="form-control" placeholder="Title">
              </div>          
                                                            
              <div class="col-12 mb-2">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Description</span>
                      </div>
                      <textarea formControlName="descriptionCtrl" class="form-control" aria-label="With textarea"></textarea>
                  </div>                        
              </div>  
              
              <div class="col-4 mb-2">
                <input type="text" formControlName="providerCtrl" class="form-control" placeholder="Provider">
              </div>
              <div class="col-4 mb-2">
                <input type="text" formControlName="priceCtrl" class="form-control" placeholder="Price">
              </div>
              <div class="col-4 mb-2">
                <input type="text" formControlName="priceUnitCtrl" class="form-control" placeholder="PriceUnit">
              </div>
           
              <div class="col-6 mb-2">
                <div formGroupName="photoCtrl">                               
                  <div class="custom-file">
                    <input type="file" accept="image/*"
                      formControlName="photo"
                      (change)="prepareImages($event, formGroup.get('photoCtrl')['controls'])" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="customFile">    
                        {{formGroup.get('photoCtrl').get('label').value}}
                    </label>        
                  </div>                                                                                            
                </div>                 
              </div>   

              <div class="col-6 mb-2">
                <div formGroupName="iconCtrl">                               
                  <div class="custom-file">
                    <input type="file" accept="image/*"
                      formControlName="photo"
                      (change)="prepareIcon($event, formGroup.get('iconCtrl')['controls'])" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="customFile">    
                        {{formGroup.get('iconCtrl').get('label').value | slice:0:25}}
                    </label>        
                  </div>                                                                                            
                </div>                 
              </div> 

            </div>  
          </div>   

          <div class="col-12 col-lg-4 col-xl-4">
            <img style="width: 14rem; max-height: 8rem; object-fit: cover;" [src]="formGroup.get('photoCtrl').get('serverUrl').value" alt="">
            <img style="width: 4rem; height: 4rem; object-fit: cover; background: black;" [src]="formGroup.get('iconCtrl').get('serverUrl').value" alt="">
          </div>

        </div>        
              
        <div style="margin-bottom: 1rem;"></div>
        <div class="col-12">
          <button (click)="AddService()" type="button" class="btn btn-outline-dark margin-gral" [disabled]="formGroup.invalid" >Add Service</button>          
        </div>   
      </form>           

      <div style="margin-bottom: 1rem;"></div>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let post of servicesArray">
          <div class="card">
            <div class="card-header">
              {{post.name}}
            </div>

            <div class="card-body">
              <label> {{post.description | slice:0:100}}</label>
              <div>Month Price: {{post.price | currency:'USD'}}</div>
              <div>Unit Price: {{post.priceUnit | currency:'USD'}}</div>
              <div class="col-sm-6 col-md-4">
                <img class="img-size" src="{{post.photo}}">
              </div>
            </div>
            <button (click)="EditService(post.id)" type="button" class="btn btn-outline-primary">Edit Service</button>
            <button (click)="DeleteService(post.id)" type="button" class="btn  btn-outline-danger">Delete Service</button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div -->

<toaster-container></toaster-container>