<app-nav></app-nav>

<div class="animated fadeIn">
  <div class="card">    
    <div class="card-body">
      <h5 class="card-title">Add Service</h5>
        
      <form [formGroup]="formGroup" autocomplete="off">
        <div class="row">                      
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="row">                                      
              <div class="col-12 mb-2">
                  <input type="text" formControlName="nameCtrl" class="form-control" placeholder="Title">
              </div>          
                                                            
              <div class="col-12 mb-2">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Description</span>
                      </div>
                      <textarea formControlName="descriptionCtrl" class="form-control" aria-label="With textarea"></textarea>
                  </div>                        
              </div>  
              
              <div class="col-4 mb-2">
                <input type="text" formControlName="providerCtrl" class="form-control" placeholder="Provider">
              </div>
              <div class="col-4 mb-2">
                <input type="text" formControlName="priceCtrl" class="form-control" placeholder="Price">
              </div>
              <div class="col-4 mb-2">
                <input type="text" formControlName="priceUnitCtrl" class="form-control" placeholder="PriceUnit">
              </div>
           
              <div class="col-6 mb-2">
                <div formGroupName="photoCtrl">                               
                  <div class="custom-file">
                    <input type="file" accept="image/*"
                      formControlName="photo"
                      (change)="prepareImages($event, formGroup.get('photoCtrl')['controls'])" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="customFile">    
                        {{formGroup.get('photoCtrl').get('label').value}}
                    </label>        
                  </div>                                                                                            
                </div>                 
              </div>   

              <div class="col-6 mb-2">
                <div formGroupName="iconCtrl">                               
                  <div class="custom-file">
                    <input type="file" accept="image/*"
                      formControlName="photo"
                      (change)="prepareIcon($event, formGroup.get('iconCtrl')['controls'])" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="customFile">    
                        {{formGroup.get('iconCtrl').get('label').value | slice:0:25}}
                    </label>        
                  </div>                                                                                            
                </div>                 
              </div> 

            </div>  <!-- End row -->
          </div>    <!-- End col -->

          <div class="col-12 col-lg-4 col-xl-4">
            <img style="width: 14rem; max-height: 8rem; object-fit: cover;" [src]="formGroup.get('photoCtrl').get('serverUrl').value" alt="">
            <img style="width: 4rem; height: 4rem; object-fit: cover; background: black;" [src]="formGroup.get('iconCtrl').get('serverUrl').value" alt="">
          </div>

        </div>  <!-- End row -->        
              
        <div style="margin-bottom: 1rem;"></div>
        <div class="col-12">
          <button (click)="AddService()" type="button" class="btn btn-outline-dark margin-gral" [disabled]="formGroup.invalid" >Add Service</button>          
        </div>   
      </form>           
      <!-- {{formGroup.value | json}} -->

      <!-- LIST OF SERVICES -->
      <div style="margin-bottom: 1rem;"></div>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let post of servicesArray">
          <div class="card">
            <div class="card-header">
              {{post.name}}
            </div>

            <div class="card-body">
              <label> {{post.description | slice:0:100}}</label>
              <div>Month Price: {{post.price | currency:'USD'}}</div>
              <div>Unit Price: {{post.priceUnit | currency:'USD'}}</div>
              <div class="col-sm-6 col-md-4">
                <img class="img-size" src="{{post.photo}}">
              </div>
            </div>
            <button (click)="EditService(post.id)" type="button" class="btn btn-outline-primary">Edit Service</button>
            <button (click)="DeleteService(post.id)" type="button" class="btn  btn-outline-danger">Delete Service</button>

          </div>
        </div>
      </div>
      <!-- END LIST OF SERVICES -->

    </div>
  </div>
</div>

<toaster-container></toaster-container>