<!-- app-nav [section]="section"></app-nav -->
<div class="ml-col-1 ap-calendar">
  <booking-navbar [section]="section"></booking-navbar>
  <div class="ml-col-1 padding-general-m margin-bottom-g">
    <div class="ml-col-1">
      <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
        Events Calendar
      </h4>
      <button 
        class="ap-form__rButton button-black padding-lateral-m button-big"
        (click)="Refresh()">
        Update Calendar
      </button>
    </div>
    <form class="ap-form ap-form__sdato--no-padding ml-col-2 margin-bottom-x">
      <div class="ap-form__input">
        <select 
          class="ap-form__input-text" 
          [(ngModel)]="amenitySelect" 
          (change)="GetEvents();" 
          name="select_kind" 
          placeholder="Select Amenity"
          id="select_kind">
          <option *ngFor="let amenity of amenitiesArray" [value]="amenity.id" >
            {{amenity.name}}
          </option>                  
        </select>
        <label for="select_kind" class="ap-form__label ap-form__label-text">
          Select Amenity
        </label>
      </div>
    </form>
    <div class="ml-col-1 padding-general-m card-style">
      <full-calendar
        #calendar
        defaultView="dayGridMonth"
        [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
        [plugins]="calendarPlugins"
        [weekends]="calendarWeekends"        
        eventLimit= "false"
        locale="es"
        themeSystem= 'bootstrap'
        nowIndicator="true"     
        slotDuration='01:00'   
        [events]="calendarEvents"
        selectable="true" 
        (select)="handleSelect($event)"
        (eventClick)="handleEventClick($event)"
        (dateClick)="handleDateClick($event)"   
        (eventDrop)="handleEventDrop($event)"
        (eventResize)="handleEventResize($event)" 
        (datesRender)="handleDatesRender($event)"       
      ></full-calendar>
    </div>
  </div>
  <!-- button 
    (click)="Refresh()"
    class="ap-calendar__refresh card-style">
  </button -->
</div>

  <!--div class="card display-none">    
    <div class="card-body">

      <button (click)="Refresh()" type="button" class="btn btn-outline-dark margin-gral">Refresh</button> 

      <div class="form-row">
        <div class="col-12 margin-gral">
          <select class="form-control" [(ngModel)]="amenitySelect" (change)="GetEvents();">
            <option *ngFor="let amenity of amenitiesArray" [value]="amenity.id" >
              {{amenity.name}}
            </option>                  
          </select>
        </div>            
      </div>           

      
  </div>
</div -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>    

