<booking-navbar [section]="section"></booking-navbar>
<div class="ml-col-1">
    <div class="ml-col-1 padding-general-m background-white">
        <div class="ml-col-1 margin-bottom-x text-center">
            <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
               Reservaciones
             </h4>
             <button 
                    class="ap-form__rButton button-pink padding-lateral-m button-big button-icon button-icon--add-white"
                    (click)="goToPage( 'AddTenant' )">
                    Reservar
            </button>
        </div>
        <div class="ml-col-1">
            <form class="ap-form__titulo ap-form__titulo--no-border date-block" [formGroup]="filterForm">
                
                <div class="ml-col-1">
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                  <input matInput [matDatepicker]="fromDate" placeholder="A Partir De La Fecha" formControlName="fromDate">
                                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                  <mat-datepicker #fromDate></mat-datepicker>
                                </mat-form-field>                       
                            </div>
                        </div>
                    </div>
                
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field >
                                  <input matInput [matDatepicker]="toDate" placeholder="Hasta la fecha" formControlName="toDate">
                                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                  <mat-datepicker #toDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>    
                    
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                    <mat-label>Pendiente</mat-label>
                                    <mat-select [formControl]="animalControl" formControlName="pending">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let pending of pendingLs" [value]="pending">
                                        {{pending.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                    <mat-label>Check Out</mat-label>
                                    <mat-select [formControl]="animalControl" formControlName="ifCheckOut">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let ifCheckOut of ifCheckOutLs" [value]="ifCheckOut">
                                        {{ifCheckOut.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                    <mat-label>Activo</mat-label>
                                    <mat-select [formControl]="animalControl" formControlName="active">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let active of activeLs" [value]="active">
                                        {{active.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div> -->
                </div>
              
              <div class="ml-col-1">
                <div class="ml-col-4">
                  <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="applyFilterPeriod()">Filtrar</button>
                </div>
                <div class="ml-col-4">
                    <button class="ap-form__buttons-button ap-form__buttons-button--align-left button-black button-icon button-icon--refresh-white" (click)="resetForm()">Reiniciar</button>
                </div>
                <div class="ml-col-4">
                    <button class="ap-form__buttons-button ap-form__buttons-button--align-left button-black button-icon button-icon--export-file" (click)="exporter.exportTable('xlsx', {fileName:'Reservaciones', sheet: 'hoja 1', Props: {Author: 'Wander'}})">Exportar</button>
                </div>
              </div>

            </form>
            <mat-form-field class="ap-form__input">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
            </mat-form-field>
            <mat-table mat-table matSort matTableExporter  [dataSource]="tenantList" class="mat-elevation-z8 table--no-shadow" #exporter="matTableExporter">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Inquilino </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"  >
                         <a style="cursor:pointer; color:inherit; text-decoration: underline; text-decoration-color: blue;" (click)="viewDetail(element.idUser, element.idBooking)" > {{element.firstName}} </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Habitación</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.room}} </td>
                </ng-container>
                
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Age </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.age}} </td>
                </ng-container>
                <ng-container matColumnDef="membership">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center">Membresía </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.membershipType}}</ng-template>
                        <ng-template #elseBlock>None</ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dateInit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Llegada </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.dateInit}} </td>
                </ng-container>
        
                <ng-container matColumnDef="dateEnd">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Salida </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.dateEnd}} </td>
                </ng-container>
                <ng-container matColumnDef="amountOutstanding">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Facturado </th>
                    <td mat-cell *matCellDef="let element" class="table__data">
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.priceMembership + element.amountOutstanding | currency }}</ng-template>
                        <ng-template #elseBlock>{{element.amountOutstanding | currency }}</ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pendingBilled">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center">Pendiente</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.pending | currency }}</td>
                </ng-container>
                <ng-container matColumnDef="totalBeds">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Camas </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> {{element.totalBeds}} </td>
                </ng-container>
                <ng-container matColumnDef="roomateFlip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header table__header-center"> Roomate </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> {{element.roomateFlip}} </td>
                </ng-container>
                <ng-container matColumnDef="checkIn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check In </th>
                    <td mat-cell *matCellDef="let element" class="table__data"  [innerHTML]="element.checkIn"></td>
                </ng-container>
                <ng-container matColumnDef="checkOut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check Out </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> 
                        <div *ngIf="element.checkOut.includes('Check Out') || element.checkOut.length <= 3 ; then elseOut else thenOut"></div>
                        <ng-template #thenOut >
                            <span>{{element.checkOut}}</span>
                        </ng-template>
                        <ng-template #elseOut>
                            <div *ngIf="element.checkIn.includes('<span') || element.checkIn.includes('N/A'); then elseCheckIn else thencheckOut"></div>
                            <ng-template #elseCheckIn>
                                N/A
                            </ng-template>
                            <ng-template #thencheckOut>
                                <button [disabled]="element.pending !== 0 || element.checkOut.includes('N/A')"
                                  (click)="showModal('check_out',element.idUser, element.idBooking)" mat-raised-button class="text-center"
                                  [class.table__data-button-yellow]="element.checkOut === 'Check Out'"
                                  [class.table__data-button-red]="element.checkOut  !== 'Check Out'">
                                  {{element.checkOut === 'Check Out' ? element.checkOut : 'CheckOut' }}
                                </button>
                            </ng-template>
                        </ng-template>
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Activo </th>
                    <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.active">  </td>
                </ng-container> -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Estatus </th>
                    <td mat-cell *matCellDef="let element" class="table__data" >
                        <div *ngIf="element.status.idStatusBooking === 1">Pendiente</div>
                        <div *ngIf="element.status.idStatusBooking === 2">Check In</div>
                        <div *ngIf="element.status.idStatusBooking === 3">Check Out</div>
                        <div *ngIf="element.status.idStatusBooking === 4">Cancelar</div>
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="doCheckOut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Check Out </th>
                    <td mat-cell *matCellDef="let element">
                        <button 
                            [disabled]="element.pending !== 0 || element.checkOut !== 'N/A'"
                            (click)="showModal('check_out',element.idUser)" 
                            mat-raised-button color="accent"
                            class="table__data-button button-pink">
                            Check Out
                        </button>
                    </td>
                </ng-container> -->
                <!-- <ng-container matColumnDef="idUser">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Profile </th>
                    <td mat-cell *matCellDef="let element">
                        <button 
                            (click)="viewDetail(element.idUser, element.idBooking)" 
                            mat-raised-button color="accent"
                            class="table__data-button button-pink">
                            Profile
                        </button>
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="showBooking">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Reservación </th>
                    <td mat-cell *matCellDef="let element">
                        <button 
                            (click)="viewBookingDetail('reservations', element.idUser, element.idBooking, element.firstName)" 
                            mat-raised-button color="accent"
                            class="table__data-button button-yellow button-icon button-icon--edit">
                            Detalle
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>

<div class="ml-modal ml-modal--bg-black" *ngIf="show_page_modal">
    <div class="ml-modal__pop" *ngIf="modal_to_show == 'check_out'">
        <p class="ml-modal__pop-titulo margin-bottom-m">
            Check Out
        </p>
        <p class="ml-modal__pop-text">
            ¿Estás seguro de Check Out?
        </p>
        <div class="ml-modal__pop-buttons">
            <button 
                (click)="showModal()"
                class="ml-modal__pop-buttons-button button-black button-icon button-icon--cancel-white">
                Cancelar
            </button>
            <button 
                (click)="confirmCheckInOut('out')"
                class="ml-modal__pop-buttons-button button-green button-icon button-icon--add-white">
                Check Out
            </button>
        </div>
    </div>
</div>