<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-m">
        <div class="ml-col-1 padding-general-m card-style">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
            </mat-form-field>
            <table mat-table mat-sort [dataSource]="tenantList" class="mat-elevation-z8">

                <!-- Symbol Column -->
                <ng-container matColumnDef="typeRoom" style="width: 12%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Type Room </th>
                    <td mat-cell *matCellDef="let element"> {{element.typeRoom}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="name" style="width: 15%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="age" style="width: 12%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Age </th>
                    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                </ng-container>
        
        
                <ng-container matColumnDef="membership" style="width: 12%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black">Membership </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.membershipType}}</ng-template>
                        <ng-template #elseBlock>None</ng-template>
                        <!-- <div *ngIf="element.membership.membershipType != null">{{element.membership.membershipType}}</div>  -->
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="dateInit" style="width: 14%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Arrival date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateInit}} </td>
                </ng-container>
        
                <ng-container matColumnDef="dateEnd" style="width: 16%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Deperture date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateEnd}} </td>
                </ng-container>
        
                <ng-container matColumnDef="amountOutstanding" style="width: 12%;">
                    <th mat-header-cell *matHeaderCellDef class="text-bold color-black"> Amount Outstanding </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.priceMembership + element.amountOutstanding | currency }}</ng-template>
                        <ng-template #elseBlock>{{element.amountOutstanding | currency }}</ng-template>
                    </td>
                </ng-container>
        
                <!-- Position Column -->
                <ng-container matColumnDef="idUser" style="width: 7%;">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button 
                                (click)="viewDetail(element.idUser)" 
                                mat-raised-button color="accent"
                                class="ap-form__buttons-button ap-form__buttons-button--med ap-form__buttons-button--aceptar button">
                                view more
                            </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>