<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-g background-white">
        <div class="ml-col-1 margin-bottom-x">
            <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
               Reservations
             </h4>
        </div>
        <div class="ml-col-1">
            <form class="ap-form__titulo ap-form__titulo--no-border date-block" [formGroup]="filterForm">
                
                <div class="ml-col-1">
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                  <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
                                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                  <mat-datepicker #fromDate></mat-datepicker>
                                </mat-form-field>                       
                            </div>
                        </div>
                    </div>
                
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field >
                                  <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
                                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                  <mat-datepicker #toDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>    
                    
                    <div class="ml-col-4">
                        <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field>
                                    <mat-label>Active</mat-label>
                                    <mat-select [formControl]="animalControl" formControlName="active">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let active of activeLs" [value]="active">
                                        {{active.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
              
              <div class="ml-col-1">
                <div class="ml-col-4">
                  <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="applyFilterPeriod()">Filter</button>
                </div>
                <div class="ml-col-4">
                    <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="resetForm()">Reset</button>
                </div>
              </div>

            </form>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
            </mat-form-field>
            <table mat-table mat-sort [dataSource]="tenantList" class="mat-elevation-z8 table--no-shadow">
                <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Room</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.room}} </td>
                </ng-container>
                <ng-container matColumnDef="typeRoom">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Type Room</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.typeRoom}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Name </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.firstName}} </td>
                </ng-container>
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Age </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.age}} </td>
                </ng-container>
                <ng-container matColumnDef="membership">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Membership </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.membershipType}}</ng-template>
                        <ng-template #elseBlock>None</ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dateInit">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Arrival date </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.dateInit}} </td>
                </ng-container>
        
                <ng-container matColumnDef="dateEnd">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Deperture date </th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center"> {{element.dateEnd}} </td>
                </ng-container>
                <ng-container matColumnDef="amountOutstanding">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Amount Outstanding </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> 
                        <div *ngIf="element.membership !== null; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{element.membership.priceMembership + element.amountOutstanding | currency }}</ng-template>
                        <ng-template #elseBlock>{{element.amountOutstanding | currency }}</ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalBeds">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Total Beds </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> {{element.totalBeds}} </td>
                </ng-container>
                <ng-container matColumnDef="roomateFlip">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center"> Roomate Flip </th>
                    <td mat-cell *matCellDef="let element" class="table__data"> {{element.roomateFlip}} </td>
                </ng-container>
                <ng-container matColumnDef="checkIn">
                    <th mat-header-cell *matHeaderCellDef class="table__header"> Check In </th>
                    <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.checkIn"></td>
                </ng-container>
                <ng-container matColumnDef="checkOut">
                    <th mat-header-cell *matHeaderCellDef class="table__header"> Check Out </th>
                    <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.checkOut">  </td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef class="table__header"> Active </th>
                    <td mat-cell *matCellDef="let element" class="table__data" [innerHTML]="element.active">  </td>
                </ng-container>
                <ng-container matColumnDef="idUser">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button 
                            (click)="viewDetail(element.idUser, element.idBooking)" 
                            mat-raised-button color="accent"
                            class="table__data-button">
                            view more
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>