<div class="app-body">
  <main class="main">
    <div class="container-fluid  animated fadeIn">
      <div class="row">
        <!-- Logo section starts -->
        <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-7 full-height logo-section">
          <div class="row">
            <div class="col-sm-2">
              <img class="logo-flip img-fluid" src="assets/img/FLIP.png" />
            </div>
          </div>
        </div>
        <!-- Logo section ends -->
        <!-- Booking-form starts -->
        <div class="d-flex flex-column col-sm-6 col-md-6 col-lg-5 full-height booking-form ">
          <!-- Steper starts -->
          <div class="row steper">
            <div class="col-sm-2 step active-step">
              <div>
                1
              </div>
            </div>
            <div class="col-sm-2 step active-step">
              <div>
                2
              </div>
            </div>
            <div class="col-sm-2 step active-step">
              <div>
                3
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                4
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                5
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                6
              </div>
            </div>
          </div>
          <!-- Steper ends -->
          <!-- Form Section starts -->
          <div class="row flex-fill  align-items-center">
            <div class="col">
              <div class="row ">
                <div class="col-sm-12 text-center">
                  <h5>WHAT IS YOUR BUDGET?</h5>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="row row-select-budget">
                  <div class="col-sm-8 form-group">
                    <!--<label for="formControlRange">Example Range input</label>-->
                    <input type="range" class="form-control-range" id="formControlRange">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-button">
                  <button aria-pressed="true" class="btn btn-pill btn-block btn-dark active" type="button" routerLink="/wizard4">SIGUIENTE  ></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Form Section ends -->
        </div>
        <!-- Booking-form ends -->
      </div>
    </div>
    <!-- Footer starts -->
    <app-footer>
      <div class="footer">
        <ul class="footer_menu">
          <br class="brhide hiddens">
          <li class="movilhidden img-fluid"><img src="../assets/img/FLIP.png" alt="FLIP_LOGO"></li>
          <li><a href="#">Communities</a></li>
          <li><a href="#">Backstage</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">More</a></li>
          <li class="movilhidden"><hr></li>
          <li class="">
            <a id="partnerfooter" style="font-weight: 600; font-family: GothamProLight;" href="#">Partner</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Carrers</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Team</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">FAQ</a>
          </li>
          <br class="brhide hiddens">
          <br class="brhide hiddens">
          <li>
            <a id="facefooter" href="#" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="youtube"><i class="fa fa-youtube fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
        </ul>
        <br class="brhide hiddens">
        <br class="brhide hiddens">
        <br class="brhide hiddens">
      </div>
    </app-footer>
    <!-- Footer ends -->
  </main>
</div>
