<!-- div class="row">
  <div class="col-md-12">
    <br />
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <h2><mat-icon><i class="fa fa-building-o" aria-hidden="true"></i></mat-icon> Altata Room <i class="fa fa-angle-down" aria-hidden="true"></i></h2>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="amm(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Ammenities</span>
      </button>
      <button mat-menu-item (click)="gene(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home General</span>
      </button>
      <button mat-menu-item (click)="serv(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Services</span>
      </button>
      <button mat-menu-item (click)="room(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Room</span>
      </button>
    </mat-menu>
    <br />
  </div>
</div -->

<div class="row margin-tb-min">
  <div class="ml-col-1 navbar__components">
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="amm(IDBUILD)">
        Home Ammenities
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="gene(IDBUILD)">
        Home General
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="serv(IDBUILD)">
        Home Services
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button navbar__component-button--active" (click)="room(IDBUILD)">
        Home Room
      </button>
    </div>
  </div>
</div>


<div class="row padding-bottom-m">
  <div class="ml-col-1 room-data__tabs text-center">
    <span class="room-data__tab room-data__tab--active" (click)="showSection( $event, 'room_a')">
      Room A
    </span>
    <span class="room-data__tab" (click)="showSection( $event ,'room_b')">
      Room B
    </span>
  </div>
  <!-- Primer section de post  -->
  <div 
    id="room_a" 
    name="room-section"
    *ngFor="let post of posts, index as index;"
    class="ml-col-1 card-style padding-general-m margin-bottom-x">
    <div class="ml-col-1 room-data margin-bottom-m">
      <div class="room-data__card ml-col-1 card-style padding-general-m ">
        <div class="ml-col-1">
          <h4 class="room-data__card-titulo text-bold">
            {{ room_selected }}
          </h4>
          <p class="room-data__card-titulo">
            <span class="text-bold">Title: </span>
            {{ post.title }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Description: </span>
            {{ post.desc }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Price: </span>
            {{ post.price }}
          </p>
        </div>
        <div class="ml-col-1 text-center">
          <button 
            data-toggle="modal" 
            (click)="infoModal.show();passdata(post.id);"
            class="button">
            Editar
          </button>
        </div>
      </div>
    </div>
    <div class="ml-col-1 card-style margin-bottom-m" *ngFor="let photo of post.photos, index_b as index;">
      <div class="ml-col-1">
        <div class="ml-col-1 text-center">
          <div class="icon-view">
            <figure class="icon-view__icon">
              <span class="text-bold">Icon:</span>
              <img class="icon-view__icon--img" src="{{ photo.icon }}" />
            </figure>
            <figure class="icon-view__icon">
              <span class="text-bold">Icon hover:</span>
              <img class="icon-view__icon--img" src="{{ photo.icon2 }}" />
            </figure>
          </div>
        </div>
      </div>
      <div class="ml-col-1 images-view">
        <div class="ml-col-7 images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Photo:
            </span>
            <img src="../../../assets/webtmp.png" class="images-view__image--mask" />
            <img src="{{ photo.photo }}" class="images-view__image--image" />
          </figure>
        </div>
        <div class="ml-col-3o images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Movile Photo:
            </span>
            <img src="../../../assets/phone.png" class="images-view__image--maskm" />
            <img src="{{ photo.photoMobile }}" class="images-view__image--imagem" />
          </figure>
        </div>
      </div>
      <div class="ml-col-1 text-center margin-tb-min">
        <button 
          data-toggle="modal" 
          (click)="primaryModal.show(); passdata(post.id, post.title, post.desc);"
          class="button button-x">
          Editar
        </button>
      </div>
    </div>
  </div>
  <!-- Segundo section de post  -->
  <div 
    id="room_b" 
    name="room-section"
    *ngFor="let post of posts_b, index as index;"
    class="ml-col-1 card-style padding-general-m margin-bottom-x display-none" >
    <div class="ml-col-1 room-data margin-bottom-x">
      <div class="room-data__card ml-col-1 card-style padding-general-m ">
        <div class="ml-col-1">
          <h4 class="room-data__card-titulo text-bold">
            {{ room_selected }}
          </h4>
          <p class="room-data__card-titulo">
            <span class="text-bold">Title: </span>
            {{ post.title }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Description: </span>
            {{ post.desc }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Price: </span>
            {{ post.price }}
          </p>
        </div>
        <div class="ml-col-1 text-center">
          <button 
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata(photo.id); passnumroom(post.id);"
            class="button">
            Editar
          </button>
        </div>
      </div>
    </div>
    <div class="ml-col-1 card-style margin-bottom-m" *ngFor="let photo of post.photos, index_b as index;">
      <div class="ml-col-1">
        <div class="ml-col-1 text-center">
          <div class="icon-view">
            <figure class="icon-view__icon">
              <span class="text-bold">Icon:</span>
              <img class="icon-view__icon--img" src="{{ photo.icon }}" />
            </figure>
            <figure class="icon-view__icon">
              <span class="text-bold">Icon hover:</span>
              <img class="icon-view__icon--img" src="{{ photo.icon2 }}" />
            </figure>
          </div>
        </div>
      </div>
      <div class="ml-col-1 images-view">
        <div class="ml-col-7 images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Photo:
            </span>
            <img src="../../../assets/webtmp.png" class="images-view__image--mask" />
            <img src="{{ photo.photo }}" class="images-view__image--image" />
          </figure>
        </div>
        <div class="ml-col-3o images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Movile Photo:
            </span>
            <img src="../../../assets/phone.png" class="images-view__image--maskm" />
            <img src="{{ photo.photoMobile }}" class="images-view__image--imagem" />
          </figure>
        </div>
      </div>
      <div class="ml-col-1 text-center margin-tb-min">
        <button 
          data-toggle="modal" 
          (click)="primaryModal.show(); passdata(post.id, post.title, post.desc);"
          class="button button-x">
          Editar
        </button>
      </div>
    </div>
  </div>  
</div>




<!-- div class="row">
  <mat-tab-group style="width:100%;">
    <mat-tab label="ROOM A">
      <div class="container-fluid">
        <br />
        <div class=" col-sm-12 col-md-12 " *ngFor="let post of posts ">
          <div class="card ">
            <div class="card-body ">
              <div class="btn-group margin-gral col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <strong> Title :  </strong> {{post.title}}
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <strong> Description :  </strong> {{post.desc}}
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <strong> Price :  </strong> {{post.price}}
                  </div>
                  <button style="margin-top: 10%;" type="button" class="btn btn-primary margin-gral " data-toggle="modal" (click)="infoModal.show();passdata(post.id);">
                    Editar info
                  </button>


                </div>

              </div>

            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:20px;">

            </div>
          </div>
        </div>
        <div class=" col-sm-12 col-md-12 " *ngFor="let post of posts ">
          <div class="card " *ngFor="let photo of post.photos ">
            <div class="card-body ">
              <div class="col-sm-12 col-md-12">
                Photo: <img style="height: 400px; width: 600px;" class="img-size" src="../../../assets/webtmp.png">
                <img class="img-size" style="
       position: absolute;
       left: 56px;
       height: 375px;
       width: 475px;
       top: 22px;" src="{{photo.photo}}">
              </div>
              <div class="col-sm-12 col-md-12">


                Mobile Photo:
                <img style="height: 400px; width: 300px;" class="img-size" src="../../../assets/phone.png">
                <img style="position: absolute;
                           left: 166px;
                           height: 293px;
                           width: 180px;
                           top: 49px;" class="img-size" src="{{photo.photoMobile}}">
              </div>
              <div style="margin-top: 5%;" class="col-sm-12 col-md-12">
                Icon:<img style="margin: 5%; " class="img-size" src="{{photo.icon}}">
                Icon Hover :<img style="margin: 5%; " class="img-size" src="{{photo.icon2}}">

              </div>

              <button style="margin: 5%;" type="button" class="btn btn-primary margin-gral " data-toggle="modal" (click)="primaryModal.show();passdata(photo.id);passnumroom(post.id);">
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="ROOM B">
      <br />
      <div class=" col-sm-12 col-md-12 " *ngFor="let post of posts_b ">
        <div class="card ">
          <div class="card-body ">
            <div class="btn-group margin-gral col-sm-12 col-md-12">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <strong> Title :  </strong> {{post.title}}
                </div>
                <div class="col-sm-12 col-md-12">
                  <strong> Description :  </strong> {{post.desc}}
                </div>
                <div class="col-sm-12 col-md-12">
                  <strong> Price :  </strong> {{post.price}}
                </div>
                <button style="margin-top: 10%;" type="button" class="btn btn-primary margin-gral " data-toggle="modal" (click)="infoModal.show();passdata(post.id);">
                  Editar info
                </button>


              </div>

            </div>

          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:20px;">

          </div>
        </div>
      </div>
      <div class=" col-sm-12 col-md-12 " *ngFor="let post of posts_b ">
        <div class="card " *ngFor="let photo of post.photos ">
          <div class="card-body ">
            <div class="col-sm-12 col-md-12">
              Photo: <img style="height: 400px; width: 600px;" class="img-size" src="../../../assets/webtmp.png">
              <img class="img-size" style="
       position: absolute;
       left: 56px;
       height: 375px;
       width: 475px;
       top: 22px;" src="{{photo.photo}}">
            </div>
            <div class="col-sm-12 col-md-12">


              Mobile Photo:
              <img style="height: 400px; width: 300px;" class="img-size" src="../../../assets/phone.png">
              <img style="position: absolute;
                           left: 166px;
                           height: 293px;
                           width: 180px;
                           top: 49px;" class="img-size" src="{{photo.photoMobile}}">
            </div>
            <div style="margin-top: 5%;" class="col-sm-12 col-md-12">
              Icon:<img style="margin: 5%; " class="img-size" src="{{photo.icon}}">
              Icon Hover :<img style="margin: 5%; " class="img-size" src="{{photo.icon2}}">

            </div>

            <button style="margin: 5%;" type="button" class="btn btn-primary margin-gral " data-toggle="modal" (click)="primaryModal.show();passdata(photo.id);passnumroom(post.id);">
              Editar
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div -->




<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecciona las Imagenes a cambiar de la posicion: {{PostId}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #loginForm="ngForm" autocomplete="off">
        <div class="modal-body">
          Imagen   la resolución debe de ser 1920px*1080px:
          <div class="custom-file margin-gral ">
            <input type="file" accept="image/*" class="custom-file-input" id="validatedCustomFile" (change)="fileChangeEvent($event); prepareImages($event,0);" />


            <div>
              <image-cropper [imageChangedEvent]="imageChangedEvent"
                             [maintainAspectRatio]="true"
                             [aspectRatio]="1/ 2"
                             [resizeToWidth]="600"
                             [cropperMinWidth]="128"
                             [onlyScaleDown]="true"
                             [roundCropper]="false"
                             format="png"
                             outputType="both"
                             imageQuality="100"
                             (imageCropped)="imageCropped($event)"
                             (imageLoaded)="imageLoaded()"
                             (cropperReady)="cropperReady()"
                             (loadImageFailed)="loadImageFailed()"
                             [style.display]="showCropper ? null : 'none'"></image-cropper>
              Mobile Image:  <img style="width:25%;  margin-bottom: 50%; " [src]="croppedImage" />


              <button type="button" class="btn btn-dark" (click)="uploadAttachmentToServer(1)">Subir Imagen </button>

            </div>

            <label class="custom-file-label" for="customFile">{{imageInputLabel}}</label>

          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="col-lg-12">
            Icon, la resolución debe de ser 50px * 50px:

            <div class="custom-file margin-gral ">
              <input type="file" accept="image/*"
                     (change)="prepareImages($event,2);" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="customFile">{{imageInputLabelicon}}</label>
            </div>

            Icon Hover, la resolución debe de ser 50px * 50px:
            <div class="custom-file margin-gral ">
              <input type="file" accept="image/*"
                     (change)="prepareImages($event,3);" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="customFile">{{imageInputLabelicon2}}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="z-index: 9999;" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
          <button type="button" style="z-index: 9999;" class="btn btn-primary" (click)="updatephoto()">Guardar Cambios </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecciona las Imagenes a cambiar de la posicion: {{PostId}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #loginForm="ngForm" autocomplete="off">

        <div class="modal-body">
          <div class="col-12  margin-gral">
            Title:
            <input type="text" [(ngModel)]="title" class="form-control" name="postitle" id="postitle" placeholder="title" required>
          </div>
          <div class="col-12  margin-gral">
            Description:
            <input type="text" [(ngModel)]="direction" class="form-control" name="postitle" id="postitle" placeholder="Desc" required>
          </div>
          <div class="col-12  margin-gral">
            Price:
            <input type="text" [(ngModel)]="price" class="form-control" name="postitle" id="postitle" placeholder="price" required>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" style="z-index: 9999;" class="btn btn-secondary" (click)="infoModal.hide()">Cerrar</button>
          <button type="button" style="z-index: 9999;" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="updateindo()">Guardar Cambios</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
