<div class="row">
  <div class="ml-col-1 navbar__components">
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="amm(IDBUILD)">
        Build: Ammenities
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="gene(IDBUILD)">
        Build: General
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="serv(IDBUILD)">
        Build: Services
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button navbar__component-button--active" (click)="room(IDBUILD)">
        Build: Room
      </button>
    </div>
  </div>
</div>
<div class="row">
  <h3 Class="text-ultra" style="padding-left: 55px; padding-top: 15px; padding-bottom: -55px;"> {{ namebuilding}}</h3>
  <!-- *ngIf="this.lengthpost < 4" 
  <div *ngIf="this.lengthpost < 4" class="ml-col-1 position-relative margin-bottom-x">
    <button style="position: absolute;
    right: 40px;
    top: -37px;"
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata(this.post_blanck);"
            class="button button-x">
            Add Room Type
    </button>
  </div>-->
</div>
<div class="row padding-bottom-m padding-general-m" style="padding-top: 0px;">
  <div class="ml-col-1 room-data__tabs text-center">
    <span class="room-data__tab room-data__tab--active" (click)="showSection( $event, 'room_a')">
      Room type 1
    </span>
    <span class="room-data__tab" (click)="showSection( $event ,'room_b')">
      Room type 2
    </span>
  </div>
  <div 
    id="room_a" 
    name="room-section"
    *ngFor="let post of posts, index as index;"
    class="ml-col-1 size-controller card-style padding-general-m margin-bottom-x">
    <div class="ml-col-1 room-data margin-bottom-m" style="padding-bottom: 0px;">
      <div class="room-data__card ml-col-1 card-style padding-general-m ">
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Room type title: </span>
            {{ post.title }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">Room Description: </span>
            {{ post.desc }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">Guide PDF: </span>
            {{ post.getGuide }}
          </p>
        </div>
        <div class="ml-col-1 ">
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price Description: <br /> </span>
              {{ post.descPrice }}
            </p>
          </div>
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price: <br /> </span>
              {{ post.price | currency }}
            </p>
          </div>
        </div>
        <div class="ml-col-1">
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price 2 Description: <br /> </span>
              {{ post.descPrice1 }}
            </p>
          </div>
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price 2: <br /> </span>
              {{ post.price1 | currency }}
            </p>
          </div>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">View 360 Url: </span>
            {{ post.view360 }}
          </p>
        </div>
        <div class="ml-col-1 room-data__card-video margin-top-x">
          <span class="text-bold">Preview Video: </span>
          <iframe 
            class="custom-input__video--viewer"
            allowfullscreen="allowfullscreen"
            [src]="post.get_video_url">
          </iframe>
        </div>
        <div class="ml-col-1 text-center margin-top-x">
          <br>
          <button 
            data-toggle="modal" 
            (click)="infoModal.show(); passdataRoom(post);"
            class="button">
            Editar
          </button>
        </div>
      </div>
    </div>
    <div class="ml-col-1">
      <p class="room-data__card-titulo">
        <span class="text-bold">Slides of room: </span>
        {{ post.title }}
      </p>
    </div>
    <div class="ml-col-1 card-style margin-bottom-m" *ngFor="let photo of post.photos, index_b as index;">
    
      <div class="ml-col-1 margin-top-x">
        <div class="room-data__card ml-col-1">
          <div class="ml-col-1">
            <p class="room-data__card-dato">
              <span class="text-bold">Slide title: </span>
              {{ photo.title }}
            </p>
          </div>
          <div class="ml-col-1">
            <p class="room-data__card-dato">
              <span class="text-bold">Slide Description: </span>
              {{ photo.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="ml-col-1 margin-top-x">
        <div class="icon-viewB">
          <div class="icon-viewB__container">
            <!-- <p class="icon-viewB__title text-center">
              Icon Title: {{ photo.titleIcon }}
            </p> -->
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Icon Title:  </span>
              {{ photo.titleIcon }}
            </p>
            <div class="icon-viewB__icon">
              <span class="icon-viewB__icon-label text-center">Icon: </span> 
              <img class="icon-viewB__icon-img" src="{{ photo.icon }}" />
            </div>
            <div class="icon-viewB__icon">
              <span class="icon-viewB__icon-label text-center">Icon Hover: </span> 
              <img class="icon-viewB__icon-img" src="{{ photo.icon2 }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="ml-col-1 images-view">
        <div class="ml-col-7 images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Photo:
            </span>
            <img src="../../../assets/webtmpr.png" class="images-view__image--mask" />
            <img src="{{ photo.photo }}" class="images-view__image--image" />
          </figure>
        </div>
        <div class="ml-col-3o images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Movile Photo:
            </span>
            <img src="../../../assets/phone.png" class="images-view__image--maskm" />
            <img src="{{ photo.photoMobile }}" class="images-view__image--imagem" />
          </figure>
        </div>
      </div>
      <div class="ml-col-1 text-center margin-tb-min">
        <button 
          data-toggle="modal" 
          (click)="primaryModal.show(); passPhotosData( photo );"
          class="button button-x">
          Editar
        </button>
      </div>
    </div>
  </div>
  <div 
    id="room_b" 
    name="room-section"
    *ngFor="let post of posts_b, index as index;"
    class="ml-col-1 card-style size-controller padding-general-m margin-bottom-x display-none">
    <div class="ml-col-1 room-data margin-bottom-x">
      <div class="room-data__card ml-col-1 card-style padding-general-m ">
        <div class="ml-col-1">
          <p class="room-data__card-titulo">
            <span class="text-bold">Room type title: </span>
            {{ post.title }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">Room Description: </span>
            {{ post.desc }}
          </p>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">Guide PDF: </span>
            {{ post.getGuide }}
          </p>
        </div>
        <div class="ml-col-1 ">
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price Description: <br /> </span>
              {{ post.descPrice }}
            </p>
          </div>
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price: <br /> </span>
              {{ post.price | currency }}
            </p>
          </div>
        </div>
        <div class="ml-col-1">
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price 2 Description: <br /> </span>
              {{ post.descPrice1 }}
            </p>
          </div>
          <div class="ml-col-2">
            <p class="room-data__card-dato text-center">
              <span class="text-bold">Price 2: <br /> </span>
              {{ post.price1 | currency }}
            </p>
          </div>
        </div>
        <div class="ml-col-1">
          <p class="room-data__card-dato">
            <span class="text-bold">View 360 Url: </span>
            {{ post.view360 }}
          </p>
        </div>
        <div class="ml-col-1 room-data__card-video margin-top-x">
          <span class="text-bold">Preview Video: </span>
          <iframe 
            class="custom-input__video--viewer"
            allowfullscreen="allowfullscreen"
            [src]="post.get_video_url">
          </iframe>
        </div>
        <div class="ml-col-1 text-center margin-top-x">
          <br>
          <button 
            data-toggle="modal" 
            (click)="infoModal.show(); passdataRoom(post);"
            class="button">
            Editar
          </button>
        </div>
      </div>
    </div>
    <div class="ml-col-1">
      <p class="room-data__card-titulo">
        <span class="text-bold">Slides of room: </span>
        {{ post.title }}
      </p>
    </div>
    <div class="ml-col-1 card-style margin-bottom-m" *ngFor="let photo of post.photos, index_b as index;">
      <div class="ml-col-1 margin-top-x">
        <div class="room-data__card ml-col-1">
          <div class="ml-col-1">
            <p class="room-data__card-dato">
              <span class="text-bold">Slide title: </span>
              {{ photo.title }}
            </p>
          </div>
          <div class="ml-col-1">
            <p class="room-data__card-dato">
              <span class="text-bold">Slide Description: </span>
              {{ photo.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="ml-col-1 margin-top-x">
        <div class="icon-viewB">
          <div class="icon-viewB__container">
            <p class="icon-viewB__title text-center">
              Icon Description: {{ photo.titleIcon }}
            </p>
            <div class="icon-viewB__icon">
              <span class="icon-viewB__icon-label text-center">Icon: </span> 
              <img class="icon-viewB__icon-img" src="{{ photo.icon }}" />
            </div>
            <div class="icon-viewB__icon">
              <span class="icon-viewB__icon-label text-center">Icon Hover: </span> 
              <img class="icon-viewB__icon-img" src="{{ photo.icon2 }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="ml-col-1 images-view">
        <div class="ml-col-7 images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Photo:
            </span>
            <img src="../../../assets/webtmpr.png" class="images-view__image--mask" />
            <img src="{{ photo.photo }}" class="images-view__image--image" />
          </figure>
        </div>
        <div class="ml-col-3o images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Movile Photo:
            </span>
            <img src="../../../assets/phone.png" class="images-view__image--maskm" />
            <img src="{{ photo.photoMobile }}" class="images-view__image--imagem" />
          </figure>
        </div>
      </div>
      <div class="ml-col-1 text-center margin-tb-min">
        <button 
          data-toggle="modal" 
          (click)="primaryModal.show(); passPhotosData( photo, post.id );"
          class="button button-x">
          Editar
        </button>
      </div>
    </div>
  </div>  
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade modal-fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Complete the slide information</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #loginForm="ngForm" autocomplete="off">
        <div class="modal-body">
          <div class="ml-col-1 custom-input margin-top-m margin-bottom-x">
            <input
              type="text"
              class="custom-input__text" 
              name="title_slide_name" 
              id="title_slide_name" 
              placeholder="Icon Name" 
              [(ngModel)]="photos_data.title"
              [class.custom-input__text--error]="form_watcher_b.no_name"
              required />
            <label class="custom-input__label custom-input__label--active" for="title_slide_name">
              Title Slide
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher_b.no_name">
              Tile Slide is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              [(ngModel)]="photos_data.description"
              class="custom-input__textarea" 
              name="room_slide_desc" 
              id="room_slide_desc" 
              [class.custom-input__textarea--error]="form_watcher.no_desc"
              placeholder="Description" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_slide_desc">
              Slide Description  
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_desc">
              Slide Description is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input
              type="text"
              class="custom-input__text" 
              name="room_icon_name" 
              id="room_icon_name" 
              placeholder="Icon Name" 
              [(ngModel)]="photos_data.titleIcon"
              [class.custom-input__text--error]="form_watcher_b.no_name"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_icon_name">
              Icon Title
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher_b.no_name">
              Icon Tile is required
            </span>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i1_selected"
              accept="image/*"
              (change)="readImageData($event, '512x512', 0);"
              id="validatedCustomFile0" 
              required>
            <label class="form__image-img" for="validatedCustomFile0">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ photos_data.icon }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher_b.no_ico0" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Icon Default:</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher_b.no_ico0">
                  Icon Default is required <br />
                </span>
                *Image resolution 512x512px.
              </span>
            </label>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i2_selected"
              accept="image/*"
              (change)="readImageData($event, '512x512', 1);"
              id="validatedCustomFile1" 
              required>
            <label class="form__image-img" for="validatedCustomFile1">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ photos_data.icon2 }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher_b.no_ico1" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Icon Hover:</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher_b.no_ico1">
                  Icon Hover is required <br />
                </span>
                *Image resolution 512x512px.
              </span>
            </label>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i3_selected"
              accept="image/*"
              (change)="readImageData($event, '1920x1080', 2);"
              id="validatedCustomFile2" 
              required>
            <label class="form__image-img" for="validatedCustomFile2">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ photos_data.Photo }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher_b.no_img0" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Desktop Photo:</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher_b.no_img0">
                  Desktop Photo is required <br />
                </span>
                *Image resolution 1920x1080px.
              </span>
            </label>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i4_selected"
              accept="image/*"
              (change)="readImageData($event, '441x660', 3);"
              id="validatedCustomFile3" 
              required>
            <label class="form__image-img" for="validatedCustomFile3">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ photos_data.PhotoMobile }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher_b.no_img1" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Icon Default:</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher_b.no_img1">
                  Desktop Photo is required <br />
                </span>
                *Image resolution 441x660px.
              </span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            style="z-index: 9999;" 
            id="close_album" 
            class="btn btn-secondary" 
            (click)="primaryModal.hide(); resetImagesData();">
            Close
          </button>
          <button type="button" style="z-index: 9999;" class="btn btn-primary" (click)="updatephoto()">Guardar Cambios </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div bsModal #infoModal="bs-modal" class="modal fade modal-fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Complete the Room information</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form">
        <form #loginForm="ngForm" autocomplete="off">
          <div class="ml-col-1 custom-input margin-top-m margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="room_titulo" 
              id="room_titulo" 
              placeholder="Nombre" 
              [(ngModel)]="room_data.Title"
              [class.custom-input__text--error]="form_watcher.no_titl"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_titulo">
              Title
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_titl">
              Title is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              [(ngModel)]="room_data.Description"
              class="custom-input__textarea" 
              name="room_desc" 
              id="room_desc" 
              [class.custom-input__textarea--error]="form_watcher.no_desc"
              placeholder="Description" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_desc">
              Description
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_desc">
              Description is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="number"
              min="0"
              class="custom-input__text" 
              name="room_serv" 
              id="room_serv" 
              placeholder="Price" 
              [(ngModel)]="room_data.Price"
              [class.custom-input__text--error]="form_watcher.no_pric"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_serv">
              Price
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_pric">
              Price is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              class="custom-input__textarea" 
              name="room_price_0" 
              id="room_price_0" 
              [(ngModel)]="room_data.descPrice"
              [class.custom-input__textarea--error]="form_watcher.no_pde0"
              placeholder="Price Description" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_price_0">
              Price Description
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_pde0">
              Price Description is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="number"
              min="0"
              [(ngModel)]="room_data.Price1"
              class="custom-input__text" 
              name="room_price_num_1" 
              id="room_price_num_1" 
              placeholder="Price 2" 
              [class.custom-input__text--error]="form_watcher.no_pri1"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_price_num_1">
              Price 2
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_pri1">
              Price 2 is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              class="custom-input__textarea" 
              name="room_price_1" 
              id="room_price_1" 
              [(ngModel)]="room_data.descPrice1"
              [class.custom-input__textarea--error]="form_watcher.no_pde1"
              placeholder="Price 2 Description" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_price_1">
              Price 2 Description
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_pde1">
              Price 2 Description is required
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              [(ngModel)]="room_data.getGuide"
              class="custom-input__text" 
              name="room_guide" 
              id="room_guide" 
              placeholder="Get Guide URL" 
              [class.custom-input__text--error]="form_watcher.no_guid"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_guide">
              Get Guide URL
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_guid">
              Get Guide URL is required
            </span>
          </div>
          <div class="ml-col-1 custom-input">
            <input 
              type="text"
              class="custom-input__text" 
              name="room_view" 
              id="room_view" 
              placeholder="View 360 URL" 
              [class.custom-input__text--error]="form_watcher.no_view"
              [(ngModel)]="room_data.View360"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_view">
              View 360 URL
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_view">
              View 360 URL is required
            </span>
          </div>
          <div class="ml-col-1 custom-input__video margin-bottom-x custom-input__video--input" *ngIf="room_data.View360">
            <iframe 
              class="custom-input__video--viewer" 
              allowfullscreen="allowfullscreen"
              [src]="room_data.get_video_url">
            </iframe>
          </div>
          <div class="modal-footer">
            <button type="button" style="z-index: 9999;" id="close_room" class="btn btn-secondary" (click)="infoModal.hide()">Cerrar</button>
            <button type="button" style="z-index: 9999;" class="btn btn-primary" (click)="updateindo()">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="black-box">
  <img src="" id="image_data" />
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
