<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m">
        <div class="ml-col-1 padding-general-m card-style folder">
            <div class="folder__tabs">
                <div class="folder__tab" tabs-family="test" tab-show-content="tab_a">
                    Booking
                </div>
                <div class="folder__tab" tabs-family="test" tab-show-content="tab_b">
                    Profile
                </div>
                <div class="folder__tab" tabs-family="test" tab-show-content="tab_c">
                    Pay
                </div>
            </div>
            <div class="ml-col-1 block-test" tabs-family="test" tab-id="tab_a" tab-visible="on">
                <form class="ap-form ml-col-1 card-style" onsubmit="return false;" name="post_form">
                    <div class="ml-col-1">
                        <h4 class="ap-form__titulo text-left">
                           PRUEBA
                        </h4>
                    </div>
                    <div class="ml-col-4">
                        <div class="ap-form__input">
                            <input 
                              required
                              type="text" 
                              placeholder="Titulo"
                              id="new_post_title" 
                              name="new_post_title"
                            
                          
                              class="ap-form__input-text" />
                            <label 
                              for="new_post_title" 
                              class="ap-form__label ap-form__label-text"
                              >
                              Titulo
                            </label>
                            <span class="form_error_found_label" *ngIf="1==2">
                              El campo es obligatorio*
                            </span>
                          </div>
                    </div>
                    <div class="ml-col-4">
                        <div class="ap-form__input">
                            <select
                              required
                              placeholder="Gender"
                              id="profile_gender" 
                              name="profile_gender"
                              class="ap-form__input-text">
                              <option value="-1" disabled>Gender*</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                            </select>
                            <label 
                              for="profile_gender" 
                              class="ap-form__label ap-form__label-text">
                              Gender <span class="color-red text-bold">*</span> 
                            </label>
                          </div>
                    </div>
                    <div class="ml-col-4">
                        
                    </div>
                    <div class="ml-col-4">
                        
                    </div>
                </form>
            </div>
            <div class="ml-col-1 block-test" tabs-family="test" tab-id="tab_b" tab-visible="off">
               Profile Text
            </div>
            <div class="ml-col-1 block-test" tabs-family="test" tab-id="tab_c" tab-visible="off">
                Pay
            </div>
        </div>
    </div>
</div>