<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding:0;">
    <h2 Class="text-ultra">Design Section</h2>
  </div>
  <div class="row padding-bottom-m">
    <div class="index-cards__container" *ngFor="let post of posts;">
      <div class="index-cards__card card-style">
          <figure class="index-cards__card-photo">
              <img 
                  src="{{ post.frontphoto == '' ? '../../../assets/14.jpg' : post.frontphoto }}" 
                  class="index-cards__card-photo-img" />
          </figure>
          <h4 class="index-cards__card-titulo">
              {{ post.posdesc }}
          </h4>
          <p class="ndex-cards__card-titulo text-center">
             {{ post.desc }}
          </p>
          <div class="index-cards__card-buttons">
              <button 
                  (click)="primaryModal.show(); passdata( post );"
                  class="ap-cards__card-button button-green button-icon button-icon--edit-white">
                  Editar
              </button>
          </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade modal-fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div>
        <button 
              type="button" 
              id="close_modal"
              class="ap-form__rButton button-red button-icon button-icon--cancel-white padding-lateral-m"
              (click)="primaryModal.hide()" 
              aria-label="Cerrar">
            Cerrar
        </button>
        <br><br>
        <h4 class="modal-title">Select the images to change at position</h4>
      </div>
      <div class="form">
        <form #loginForm="ngForm" autocomplete="off">
          <div class="ml-col-1 custom-input margin-top-m margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="room_titulo" 
              id="room_titulo" 
              placeholder="Category" 
              [(ngModel)]="desing_data.PositionDescription"
              [class.custom-input__text--error]="form_watcher.no_titl"
              required />
            <label class="custom-input__label custom-input__label--active" for="room_titulo">
              Category
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_titl">
              Category se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              class="custom-input__textarea" 
              name="room_desc" 
              id="room_desc" 
              [(ngModel)]="desing_data.Description"
              [class.custom-input__textarea--error]="form_watcher.no_desc"
              placeholder="Descripción" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="room_desc">
              Descripción
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_desc">
              Descripción se requiere
            </span>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i4_selected"
              accept="image/*"
              (change)="readImageData($event, '1920x1080', 0);"
              id="validatedCustomFile3" 
              required>
            <label class="form__image-img" for="validatedCustomFile3">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ desing_data.Photo }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher.no_img0" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Desktop Photo :</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher.no_img0">
                  Desktop Photo se requiere <br />
                </span>
                *Resolución de imagen 1920x1080px.
              </span>
            </label>
          </div>
        </form>
      </div>
      <div  class="card__row margin-top-x" style="text-align: end;">
        <hr>
        <button type="button" 
                class="ap-form__buttons-button margin-gral ap-form__buttons-button--big button-green button-icon button-icon--add-white" 
                (click)="updatephoto()">
               Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="black-box">
  <img src="" id="image_data" />
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
