

<div class="card card-height-newsfeed" style="">

  <div class="card-body">
    <h5 class="card-title">Update Post </h5>

    <div class="form-row">
      <div class="col-12">
        <input type="text" [(ngModel)]="posttitle" class="form-control" placeholder="Title">
      </div>
    </div>
    <div class="row">
      <input class="pull-center btn btn-default btn-default"
             style="float:left; padding-left: 0px; padding-right: 5px;"
             #fileInput multiple
             type="file"
             accept="image/*"
             (change)="prepareImages($event)" />

      <button id="btncomp"
              name="btncomp"
              style="float:left;"
              type="submit"
              class="btn btn-outline-success"
              (click)="addImages()"
              [disabled]="newImages.lenght == 0">
        Upload Foto
      </button>
    </div>
    <!--<div class="custom-file">

    <input type="file" class="custom-file-input" id="customFile">

      <label class="custom-file-label" for="customFile">Choose file</label>
  </div>-->
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Write Post</span>
      </div>
      <textarea class="form-control" [(ngModel)]="posttext" aria-label="With textarea"></textarea>
    </div>
    <button (click)="addPost()" type="button" class="btn btn-outline-dark">Update Post</button>
  </div>

  <div class="card-body">
    <h5 class="card-title">Add Comments </h5>

    <div class="form-row">
      <div class="col-12">
        <input type="text" [(ngModel)]="comment" class="form-control" placeholder="Comentario">
      </div>
    </div>

    
    
    <button (click)="addComment()" type="button" class="btn btn-outline-dark">Add comment</button>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let post of posts">
      <div class="card">
        <div class="card-header">

          {{post.name[0].name}} {{post.name[0].lastName}}
        </div>

        <div class="card-body">
          <label> {{post.comment}}  </label>


        </div>
        <button (click)="deleteComment(post.idpost)" type="button" class="btn  btn-outline-danger">Delete Comment</button>

      </div>
    </div>
  </div>
</div>


