<div class="animated fadeIn">
  <div class="container-fluid">   
    <div class="col-12" >
      <br>
      <h2 style="padding-top: 25;">Content management by building</h2>
    </div>
    <div class="row">
     <!-- <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" *ngFor="let post of posts">
        <div class="card">
          <a (click)="gotonewsfeed(post.idbuild)" style="cursor:pointer; color:inherit">

            <div class="card-body">
              <img class="img-size-build" src="assets/img/Builds/altata6.jpg" />
            </div>
            <div class="card-footer">{{post.name}}</div>
            </a>
        </div>
      </div>/.col-->
      <div class="row padding-bottom-m padding-general-m" style="padding-top: 15px;">
        <div class="row padding-bottom-m">
          <div class="big-card" *ngFor="let post of posts, index as index;">
            <div class="card">
              <div class="card__row">
                <div class="card__info card__info--reziser">
                  <p class="card__info-dato">
                    <span class="text-bold">Building: </span>
                    {{post.title}}
                  </p>
                  <p class="card__info-dato">
                    <span class="text-bold">Address: </span>
                    {{post.direction}}
                  </p>
                </div>
                <p class="card__info-dato">
                  <span class="text-bold">Coming soon: </span>
                  {{post.iscomming}}
                </p>
              </div>
            <br>
              <div class="card__row" id="image_space_{{ index }}">
                <figure class="card__image card__image--full">
                  <img src="{{post.frontphoto}}" class="card__image-img card__image-img--full" />
                </figure>
              </div>
              <br>
              <div class="card__row text-center">
                <button 
                  class="button" 
                  data-toggle="modal" 
                  (click)='gotonewsfeed(post.idbuild)'>
                    Content
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.row-->      
  </div><!-- /.container-fluid -->
</div>
