/*app-header .navbar-brand {
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 500px;
}

app-header .sidebarToggler {
  color: red;
  border: solid 2px red;
}*/
.margintop-button {
    margin: 1rem 0;
  }
  .principalcontainer{
    margin-top:1%;
  }
  .breadcrumb-menu {
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 0;
  }
  
  .card-row {
    height: 500px;
  }
  
  .background-card {
    //background-color: cornflowerblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .img-size-build{
    height:100%;
    width:100%; 
  }
  .main .container-fluid {
    padding:0px;
  }
  .card-body {
    padding: 0px;
  }
  