<div class="ml-col-1 padding-general-m margin-bottom-m">
    <div class="ap-form ml-col-1 card-style">
        <div class="ml-col-1">
            <h4 class="ap-form__titulo text-left">
                Reservations
                <button 
                    type="button"
                    (click)="goToPage()"
                    class="ap-form__close button-orange">x
                </button> 
            </h4>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <h4 class="ap-form__titulo ap-form__titulo--no-border">
                {{ name_build }}
            </h4>
            <button 
                class="ap-form__rButton button-green"
                (click)="showModal('edit_end_date')">
                Edit End Date
            </button>
            <button 
                class="ap-form__rButton button-green"
                (click)="showModal('add_service'); getServicesData();">
                Add Service
            </button>
            <button 
                *ngIf="check_out_active"
                class="ap-form__rButton button-orange"
                (click)="showModal('check_out')">
                Check Out
            </button>
            <button 
                *ngIf="check_in_active"
                class="ap-form__rButton button-blue"
                (click)="showModal('check_in')">
                Check In
            </button>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1">
                  Program starts: 
                  <span class="text-bold">
                    {{ current_membership?.dateStartProgram }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                <div class="ml-col-1">
                    Program ends: 
                  <span class="text-bold">
                    {{ current_membership?.dateEndProgram }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                <div class="ml-col-1">
                    Real starts: 
                  <span class="text-bold">
                    {{ current_membership?.dateStartReal }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-right">
                <div class="ml-col-1">
                    Real ends: 
                  <span class="text-bold">
                    {{ current_membership?.dateEndReal != null ? current_membership?.dateEndReal : 'No Date' }}     
                  </span>
                </div>
            </div>
        </div>
        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1">
                Room: 
                <span class="text-bold">
                  404    
                </span>
            </div>
        </div>
        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-center">
                Beds reserved: 
                <span class="text-bold">
                  2    
                </span>
            </div>
        </div>
        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-center">
              Nights reserved: 
              <span class="text-bold">
                {{ current_membership?.customDateDif }}     
              </span>
            </div>
        </div>
        <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-right">
                Roomate type: 
                <span class="text-bold">
                    {{ current_membership?.roomateType }}
                </span>
            </div>
        </div>
        <div class="ml-col-1 margin-tb-min ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 font-big">
                Pagos realizados
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1">
                Membership: 
                <span class="text-bold">
                    {{ current_membership?.membresia }}
                </span>
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-center">
                Cost per night: 
                <span class="text-bold">
                    {{ current_membership?.costPerNigth | currency }}
                </span>
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-right">
                <span class="text-bold">
                    {{ current_membership?.price | currency }}
                </span>
            </div>
        </div>
        <div class="ml-col-1 ap-membership">
            <div class="ap-membership__container ap-membership__container--c">
                <p class="ap-membership__text ml-col-1">
                    Type Room
                    <span class="text-bold">
                        {{ current_membership?.typeRoom }}
                    </span>
                </p>
                <p class="ap-membership__text ml-col-1">
                    Servicios incluidos
                </p>
                <div class="ml-col-1 ap-membership__services">
                    <figure class="ap-membership__services-service" *ngFor="let service of current_services;">
                        <img class="ap-membership__services-service-img" 
                             src="{{ service.icon }}" />
                        <span class="ap-membership__services-service-name">
                            {{ service.name }}
                        </span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 ap-form__sdato ap-form__sdato--no-padding padding-tb-x">
                <div class="ml-col-1 ap-form__sdato--bbottom">
                    Paid/Services Included 
                </div>
            </div>
            <table mat-table mat-sort [dataSource]="current_aditionals" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Service</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.booked }}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Type</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.type }}</td>
                </ng-container>
                <ng-container matColumnDef="sdate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Start Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecini }}</td>
                </ng-container>
                <ng-container matColumnDef="edate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">End Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecfinish }}</td>
                </ng-container>
                <ng-container matColumnDef="xcost">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-right">Extra Ammount</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-right">{{ element.cost | currency }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="table_colums"></tr>
                <tr mat-row *matRowDef="let row; columns: table_colums;"></tr>
            </table>
            <div class="table__footer">
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Services bill:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ bill_services_added | currency }}
                    </span>
                </div>
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Membership cost:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ current_membership?.price | currency }}
                    </span>
                </div>
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Total:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ bill_services_added_total | currency }}
                    </span>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 ap-form__sdato ap-form__sdato--no-padding padding-tb-x">
                <div class="ml-col-1 ap-form__sdato--bbottom font-big">
                  Pending to pay
                </div>
            </div>
            <table mat-table mat-sort [dataSource]="current_topay" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Service</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.booked }}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Type</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.type }}</td>
                </ng-container>
                <ng-container matColumnDef="sdate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Start Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecini }}</td>
                </ng-container>
                <ng-container matColumnDef="edate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">End Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecfinish }}</td>
                </ng-container>
                <ng-container matColumnDef="xcost">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-right">Extra Ammount</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-right">{{ element.cost | currency }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="table_colums"></tr>
                <tr mat-row *matRowDef="let row; columns: table_colums;"></tr>
            </table>
            <div class="table__footer">
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Total:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ bill_services_topay | currency }}
                    </span>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-tb-min">
            Default Method pay
            <span class="ap-membership__payment-label"
                  [ngClass]="{
                      'ap-membership__payment-label-visa' : kind_card == 'visa',
                      'ap-membership__payment-label-mcard' : kind_card == 'mcard',
                      'ap-membership__payment-label-american' : kind_card == 'american'
                  }">
                **** {{ number_card }}
            </span>
            <button 
                class="button-orange float-right ap-membership__payment-button"
                (click)="payPendingItems()">
                Pay
            </button>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 ap-form__sdato ap-form__sdato--no-padding padding-tb-x">
                <div class="ml-col-1 ap-form__sdato--bbottom">
                  History
                </div>
            </div>
            <table mat-table mat-sort [dataSource]="current_history" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="build">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Build</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.build }}</td>
                </ng-container>
                <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Room</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.typeRoom }}</td>
                </ng-container>
                <ng-container matColumnDef="membership">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Membership</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.membresia }}</td>
                </ng-container>
                <ng-container matColumnDef="adate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Arraival<br />Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.dateStart }}</td>
                </ng-container>
                <ng-container matColumnDef="ddate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Departure<br />Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.dateEnd }}</td>
                </ng-container>
                <ng-container matColumnDef="aout">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Amount<br />outstanding</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.price | currency }}</td>
                </ng-container>
                <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef class="table__header"></th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                        <button 
                            mat-raised-button color="accent"
                            class="table__data-button"
                            (click)="showModal('history'); moreHistoryData( element )">
                            view more
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="table_history_colums"></tr>
                <tr mat-row *matRowDef="let row; columns: table_history_colums;"></tr>
            </table>
        </div>
    </div>
</div>
<div class="ml-modal ml-modal--bg-black" *ngIf="show_page_modal">
    <div class="ml-modal__pop" *ngIf="modal_to_show == 'check_in'">
        <p class="ml-modal__pop-titulo">
            Check In
        </p>
        <p class="ml-modal__pop-text">
            Are you sure to Check In?
        </p>
        <div class="ml-modal__pop-buttons">
            <button 
            (click)="showModal()"
            class="ml-modal__pop-buttons-button button-blue">
            Cancel
            </button>
            <button 
            (click)="confirmDeleteElement()"
            class="ml-modal__pop-buttons-button button-orange">
            Delete
            </button>
        </div>
    </div>
    <div class="ml-modal__pop" *ngIf="modal_to_show == 'check_out'">
        <p class="ml-modal__pop-titulo">
            Check Out
        </p>
        <p class="ml-modal__pop-text">
            Are you sure to Check Out?
        </p>
        <div class="ml-modal__pop-buttons">
            <button 
            (click)="showModal()"
            class="ml-modal__pop-buttons-button button-blue">
            Cancel
            </button>
            <button 
            (click)="confirmDeleteElement()"
            class="ml-modal__pop-buttons-button button-orange">
            Delete
            </button>
        </div>
    </div>
    <div class="ml-modal__content card-style" *ngIf="modal_to_show == 'add_service'">
        <div class="ml-col-1 margin-bottom-m position-relative">
            <span class="font-big">Add Services</span> <br />
            <span>Additional services</span>
            <button 
                type="button"
                (click)="showModal()"
                class="ap-form__close button-orange">x
            </button> 
        </div>
        <div class="ml-col-1">
            <table mat-table mat-sort [dataSource]="all_services_gotted" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="icon">
                    <th mat-header-cell *matHeaderCellDef class="table__header"></th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                        <figure class="table__icon">
                            <img src="{{ element.icon }}" 
                                  class="table__icon-img filter-brightness" />
                        </figure>
                    </td>
                </ng-container>
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Service</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Description</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                        +++ Chromin Rush +++ Today our Chromin Rush event starts once again and it runs until 7th May at 10 am LST. Pick up special loot boxes in some of the Galaxy Gates, earn the precious Chromin ore & craft event recipes: Seprom, Osmium and the brand-new SPC-SPE01 ship upgrade module!
                    </td>
                </ng-container>
                <ng-container matColumnDef="recurrent">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Recurrent</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__header-center">{{ element.price | currency }}</td>
                </ng-container>
                <ng-container matColumnDef="once">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Once cost</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__header-center">{{ element.priceUnit | currency }}</td>
                </ng-container>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="table__header"></th>
                    <td mat-cell *matCellDef="let element" class="table__data">
                        <input 
                            type="checkbox"
                            id="service_list_{{ element.id }}"
                            name="service_list_{{ element.id }}"
                            class="table__input-radio"
                            (change)="selectingServices( element )" />
                        <label class="table__icon" for="service_list_{{ element.id }}">
                            <span class="table__icon-radio"></span>
                        </label>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="table_adding_services"></tr>
                <tr mat-row *matRowDef="let row; columns: table_adding_services;"></tr>
            </table>
        </div>
        <div class="ml-col-1 margin-top-m">
            <span class="font-big">Services selected</span>
        </div>
        <div class="ml-col-1 ap-info__buttons" *ngIf="services_selected == 0">
            <span class="ap-info__noitems">
                No services selected yet
            </span>
        </div>   
        <div class="ml-col-1 margin-top-x" id="form_services_added" *ngIf="services_selected != 0">
            <div class="ml-col-1 padding-general-min card-style margin-bottom-x" service="added" *ngFor="let service of services_selected;">
                <div class="ml-col-1 ap-form__sdato margin-bottom-x">
                    <div class="ml-col-1 ap-form__sdato--bbottom">
                      Service selected 1
                    </div>
                </div>
                <div class="ml-col-4">
                    <div class="ml-col-1">
                      <div class="ap-form__input">
                        <select
                            required
                            type="text" 
                            placeholder="Relationship"
                            id="reference_relationship" 
                            name="reference_relationship"
                            class="ap-form__input-text">
                            <option disabled>Select one</option>
                            <option value="1">Once</option>
                            <option value="2">Recurrent</option>
                        </select>
                        <label 
                          for="profile_name" 
                          class="ap-form__label ap-form__label-text">
                          Name 
                        </label>
                      </div>
                    </div>
                </div>
                <div class="ml-col-4">
                    <div class="ml-col-1">
                      <div class="ap-form__input">
                        <input 
                          required
                          type="date" 
                          placeholder="Name*"
                          id="profile_name" 
                          name="profile_name"
                          class="ap-form__input-text" />
                        <label 
                          for="profile_name" 
                          class="ap-form__label ap-form__label-text">
                          Name 
                        </label>
                      </div>
                    </div>
                </div>
                <div class="ml-col-4">
                    <div class="ml-col-1">
                      <div class="ap-form__input">
                        <input 
                          required
                          type="date" 
                          placeholder="Name*"
                          id="profile_name" 
                          name="profile_name"
                          class="ap-form__input-text" />
                        <label 
                          for="profile_name" 
                          class="ap-form__label ap-form__label-text">
                          Name 
                        </label>
                      </div>
                    </div>
                </div>
                <div class="ml-col-4">
                    $4,450.77
                </div>
            </div>
            <div class="ml-col-1 text-center margin-top-x">
                Required fields <span class="color-red text-bold">*</span>
            </div>
            <div class="ml-col-1 ap-form__buttons">
                <button 
                  type="button"
                  (click)="showModal(); clearServicesSelected()"
                  class="ap-form__buttons-button ap-form__buttons-button--big ap-form__buttons-button--cancelar">
                  Cancelar
                </button>
                <button 
                  type="button"
                  (click)="saveServicesSelected()"
                  class="ap-form__buttons-button ap-form__buttons-button--no-margin ap-form__buttons-button--big ap-form__buttons-button--aceptar">
                  Save
                </button>
            </div>
        </div>
    </div>
    <div class="ml-modal__content card-style" *ngIf="modal_to_show == 'history'">
        <div class="ml-col-1">
            <h4 class="ap-form__titulo text-left">
                Reservations
                <button 
                    type="button"
                    (click)="showModal()"
                    class="ap-form__close button-orange">x
                </button> 
            </h4>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1">
                  Program starts: 
                  <span class="text-bold">
                    {{ history_selected?.dateStart }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                <div class="ml-col-1">
                    Program ends: 
                  <span class="text-bold">
                    {{ history_selected?.dateEnd }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-center">
                <div class="ml-col-1">
                    Real starts: 
                  <span class="text-bold">
                    {{ history_selected?.dateStartReal }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding text-right">
                <div class="ml-col-1">
                    Real ends: 
                  <span class="text-bold">
                    {{ history_selected?.dateEndReal != null ? history_selected?.dateEndReal : 'No Date' }}     
                  </span>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1">
                    Room: 
                    <span class="text-bold">
                        {{ history_selected?.roomName }}       
                    </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1 text-center">
                    Beds reserved: 
                    <span class="text-bold">
                        {{ history_selected?.beds }}         
                    </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1 text-center">
                  Nights reserved: 
                  <span class="text-bold">
                    {{ history_selected?.customDateDif }}     
                  </span>
                </div>
            </div>
            <div class="ml-col-4 ap-form__sdato ap-form__sdato--no-padding">
                <div class="ml-col-1 text-right">
                    Roomate type: 
                    <span class="text-bold">
                        {{ history_selected?.roomateType }}
                    </span>
                </div>
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1">
                Membership: 
                <span class="text-bold">
                    {{ history_selected?.membresia }}
                </span>
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-center">
                Cost per night: 
                <span class="text-bold">
                    {{ history_selected?.costPerNigth | currency }}
                </span>
            </div>
        </div>
        <div class="ml-col-3 ap-form__sdato ap-form__sdato--no-padding">
            <div class="ml-col-1 text-right">
                <span class="text-bold">
                    {{ history_selected?.price | currency }}
                </span>
            </div>
        </div>
        <div class="ml-col-1 ap-membership">
            <div class="ap-membership__container ap-membership__container--c">
                <p class="ap-membership__text ml-col-1">
                    Type Room
                    <span class="text-bold">
                        {{ history_selected?.typeRoom }}
                    </span>
                </p>
                <p class="ap-membership__text ml-col-1">
                    Services included
                </p>
                <div class="ml-col-1 ap-membership__services">
                    <figure class="ap-membership__services-service" *ngFor="let service of history_selected.services;">
                        <img class="ap-membership__services-service-img" 
                             src="{{ service.icon }}" />
                        <span class="ap-membership__services-service-name">
                            {{ service.name }}
                        </span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 ap-form__sdato ap-form__sdato--no-padding padding-tb-x">
                <div class="ml-col-1 ap-form__sdato--bbottom">
                    Paid/Services Included 
                </div>
            </div>
            <table mat-table mat-sort [dataSource]="history_selected?.servicesAditional" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Service</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.booked }}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Type</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.type }}</td>
                </ng-container>
                <ng-container matColumnDef="sdate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">Start Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecini }}</td>
                </ng-container>
                <ng-container matColumnDef="edate">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-center">End Date</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.fecfinish }}</td>
                </ng-container>
                <ng-container matColumnDef="xcost">
                    <th mat-header-cell *matHeaderCellDef class="table__header table__header-right">Extra Ammount</th>
                    <td mat-cell *matCellDef="let element" class="table__data table__data-right">{{ element.cost | currency }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="table_colums"></tr>
                <tr mat-row *matRowDef="let row; columns: table_colums;"></tr>
            </table>
            <div class="table__footer">
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Services bill:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ history_selected_services_bill | currency }}
                    </span>
                </div>
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Membership cost:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ history_selected?.price | currency }}
                    </span>
                </div>
                <div class="table__footer-dato">
                    <p class="table__footer-dato-a">Total:</p> 
                    <span class="text-bold table__footer-dato-b">
                        {{ history_selected_services_total | currency }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>