.img-size {
    width: 5em;
    height: 5em;
  }

  .pCard_card {
    width: 200px;
    height: 400px;
    margin: 50px auto;
    border-radius: 30px;
    background-color: #f6fcfe;
    -ms-box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.21);
    -o-box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.21);
    position: relative;
    overflow: hidden;
  }
  
  /****************
  Back
  ****************/

  .social{
    text-align: center;
    margin-bottom: 30px;

    img{
      width: 30px;
    }
  }
  
  .pCard_card .pCard_back {
    left: 10px;
    right: 10px;
    top: 171px;
    margin: 105px 10px;
    font-weight: 600;
    height: 200px;
    margin-bottom: 200px;
    z-index: 1;
    overflow-y: auto;
    display: none;
  }
  .pCard_card .pCard_back a {
    text-decoration: none;
  }
  
  /****************
  UP
  ****************/

  .photo{
    width: 100%;
    height: 100%;
  }
  
  .pCard_card .pCard_up {
    position: absolute;
    width: 100%;
    height: 200px;
    //background-image: url(https://images.pexels.com/photos/1391499/pexels-photo-1391499.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    /* background-position: 50%; */
    background-size: cover;
    z-index: 3;
    text-align: center;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -ms-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    -ms-border-top-right-radius: 30px;
    -o-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .pCard_on .pCard_up {
    height: 100px;
    box-shadow: 0 0 30px #cfd8dc;
  }
  
  .pCard_on .pCard_back{
    display: block;
  }
  .pCard_card .pCard_up .pCard_text {
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    color: #000000;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .pCard_on .pCard_up .pCard_text {
    top: 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .pCard_on .pCard_up .pCard_text h2{
    color: #ffffff;
  }

  .pCard_on .pCard_up .pCard_text p{
    color: #ffffff !important;
  }
  
  .pCard_card .pCard_up .pCard_text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  
  .pCard_card .pCard_up .pCard_text p {
    margin: 0;
    font-size: 13px;
    color: #000000;
  }
  
  .pCard_card .pCard_up .pCard_add {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #309b8a;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    -ms-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    -o-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .pCard_on .pCard_up .pCard_add {
    -webkit-transform: rotate(360deg) scale(0.5);
    -moz-transform: rotate(360deg) scale(0.5);
    -ms-transform: rotate(360deg) scale(0.5);
    -o-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
    top: 275px;
  }
  
  /****************
  Down
  ****************/
  
  .pCard_card .pCard_down {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 178px;
    z-index: 2;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -ms-border-bottom-left-radius: 30px;
    -o-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -ms-border-bottom-right-radius: 30px;
    -o-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .pCard_on .pCard_down {
    height: 100px;
    -webkit-box-shadow: 0 0 30px #cfd8dc;
    -moz-box-shadow: 0 0 30px #cfd8dc;
    -ms-box-shadow: 0 0 30px #cfd8dc;
    -o-box-shadow: 0 0 30px #cfd8dc;
    box-shadow: 0 0 30px #cfd8dc;
  }
  
  .pCard_card .pCard_down div {
    text-align: center;
    position: inherit;
    bottom: 30px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .pCard_on .pCard_down div {
    margin-top: 10px;
    width: 100%;
  }
  
  .pCard_card .pCard_down div p:first-of-type {
    color: #68818c;
    margin-bottom: 5px;
  }
  
  .pCard_card .pCard_down div p:last-of-type {
    color: #334750;
    font-weight: 700;
    margin-top: 0;
  }
  .pCard_card .pCard_back a i {
    margin: 10px;
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .pCard_card .pCard_back a i:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .pCard_card .pCard_back a:nth-of-type(1) i {
    color: #3b5998;
    border: 2px solid #3b5998;
  }
  
  .pCard_card .pCard_back a:nth-of-type(2) i {
    color: #0077b5;
    border: 2px solid #0077b5;
  }
  
  .pCard_card .pCard_back a:nth-of-type(3) i {
    color: #1769ff;
    border: 2px solid #1769ff;
  }
  
  .pCard_card .pCard_back a:nth-of-type(4) i {
    color: #000000;
    border: 2px solid #000000;
  }
  
  .pCard_card .pCard_back a:nth-of-type(5) i {
    color: #eb5e95;
    border: 2px solid #eb5e95;
  }
  
  .pCard_card .pCard_back a:nth-of-type(6) i {
    color: #3f729b;
    border: 2px solid #3f729b;
  }
  
  .pCard_card .pCard_up .pCard_add i {
    color: white;
    font-size: 25px;
    line-height: 88px;
    align-items: center;
    /* text-align: center; */
    display: flex;
    margin-left: 15px;
  }
  