<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding: 0;">
    <h2 Class="text-ultra">  Team</h2>
  </div>
  <div class="row padding-bottom-m">
    <div *ngFor="let post of posts, index as index;" class="pCard_card" [ngClass]="{'pCard_on': post.id === select}">
      <div class="pCard_up">
        <img class="photo" [src]="post.frontphoto" alt="">
         <div class="pCard_text">
            <h2>{{post.name}} {{post.lastname}}</h2>
            <p>{{post.position}}</p>
         </div>
         <div class="pCard_add" (click)="openmore(post)"><i class="fa fa-plus" [ngClass]="{'fa-minus':post.id === select}"></i></div>
      </div>
      <div class="pCard_down">
        <div class="card__row text-center">
          <button 
          class="button padding-lateral button-green button-icon button-icon--edit-white"
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata( post );">
            Editar
          </button>
        </div>
      </div>
      <div class="pCard_back">
         <p>Descripción: {{post.desc}}</p>
         <div class="ml-col-1 social" *ngIf="post.link && post.link != null && post.link != undefined">
          <a href="post.link">
            <img src="../../../assets/iconfinder_linkedin_circle_color_107178.svg" alt="" srcset="">
            
            {{post.link}}
          </a>
         </div>
         <div class="ml-col-1 social" *ngIf="post.twitter && post.twitter != null && post.twitter != undefined">
           <a href="{{post.twitter}}">
            <img src="../../../assets/iconfinder_twitter_834708.svg" alt="" srcset="">
            
            {{post.twitter}}
          </a>
         </div>
      </div>
  </div>
    <!--
    <div class="big-card" *ngFor="let post of posts, index as index;">
      <div class="card">
        <div class="card__row">
          <div class="card__info card__info--reziser">
            <p class="card__info-dato">
              <span class="text-bold">Name: </span>
              {{ post.name }}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Lastname: </span>
              {{ post.lastname }}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Position: </span>
              {{ post.position }}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Description: </span>
              {{ post.desc }}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Linkedin: </span>
              {{ post.link }}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Twitter: </span>
              {{ post.twitter }}
            </p>
          </div>
        </div>
        <div class="card__row" id="image_space_{{ index }}">
          <figure class="card__image card__image--full">
            <img src="{{post.frontphoto}}" class="card__image-img card__image-img--full" />
          </figure>
        </div>
        <div class="card__row text-center">
          <button 
            class="button" 
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata( post );">
            Editar
          </button>
        </div>
      </div>
    </div>
  -->
  </div>
</div>




<div class="ml-col-1 padding-general-m display-none">
  <div class="col-12" style="padding:0;">
    <h2>Team Sección </h2>
    <br />
  </div>
  <div class="row padding-bottom-m">
    <div class="card-auto">
      <div class="card-auto__cards" *ngFor="let post of posts, index as index;">
        <div class="card-auto__card card-style">
          <div class="card__row">
            <h4 class="card__titulo">
              {{ titulo_seccion }}
            </h4>
          </div>
          <div class="card__row margin-bottom-m">
            <div class="card__info">
              <p class="card__info-dato">
                <span class="text-bold">Nombre: </span>
                {{post.name}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Apellido: </span>
                {{post.lastname}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Puesto: </span>
                {{post.position}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Descripcion: </span> <br />
                {{post.desc}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Linkedin: </span>
                {{post.link}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Twitter: </span>
                {{post.twitter}}
              </p>
            </div>
            <div class="card__row" id="image_space_{{ index }}">
              <figure class="card__image card__image--cards">
                <img src="{{post.frontphoto}}" class="card__image-img card__image-img--card" />
              </figure>
            </div>
          </div>
          <div class="card__row text-center absolute-bottom">
            <button 
              class="button" 
              data-toggle="modal" 
              (click)="primaryModal.show(); passdata(post.id, post.name ,post.lastname, post.position, post.desc, post.twitter, post.link );
                       showImagesSpaces( 'image_space_' + index );">
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- div class="row">
  <div class="col-md-3" *ngFor="let post of posts; let i = index">
    <mat-card *ngIf="i!=1" style=" height:620px; margin-bottom: 15px">
      <div class="col-sm-12 col-md-12" style="padding:0;">
        <p><strong> Nombre : </strong>{{post.name}}</p>
        <br>
        <p><strong> Apellido : </strong> {{post.lastname}}</p>
        <br>
        <p><strong> Puesto : </strong> {{post.position}}</p>
        <br>
        <p><strong> Desc :  </strong> {{post.desc}}</p>
        <br>
        <p><strong> Linkedin :  </strong>  {{post.link}}</p>
        <br>
        <p><strong> Twitter :  </strong>  {{post.twitter}}</p>
        <br>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12" style="text-align:center">
          <img class="img-size" src="{{post.backphoto}}">
        </div>
      </div>
      <div class="col-12" style="text-align:center; vertical-align:baseline;">
        <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 20px;" (click)="primaryModal.show();passdata(post.id, post.name ,post.lastname, post.position, post.desc, post.twitter, post.link );">
          Editar
        </button>
      </div>
    </mat-card>
    <mat-card *ngIf="i==1" style="background-color: #f8cd58;height: 620px; margin-bottom: 15px">
      THE TEAM
    </mat-card>
  </div>
</div -->




<div bsModal #primaryModal="bs-modal" class="modal fade modal-fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div>
        <button 
            type="button" 
            id="close_modal"
            class="ap-form__rButton button-red button-icon button-icon--cancel-white padding-lateral-m" 
            (click)="primaryModal.hide()" 
            aria-label="Cerrar">
          Cerrar
        </button>
        <br><br>
        <h4 class="modal-title">Select the images to change at position</h4>
      </div>
      <hr>
      <form #loginForm="ngForm" autocomplete="off">
        <div class="modal-body">
          <div class="ml-col-1 custom-input margin-top-m margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="team_name" 
              id="team_name" 
              placeholder="Nombre" 
              [(ngModel)]="team_data.Name"
              [class.custom-input__text--error]="form_watcher.no_name"
              required />
            <label class="custom-input__label custom-input__label--active" for="team_name">
              Nombre
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_name">
              Nombre se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="team_lastname" 
              id="team_lastname" 
              placeholder="Apellidos" 
              [(ngModel)]="team_data.LastName"
              [class.custom-input__text--error]="form_watcher.no_lnam"
              required />
            <label class="custom-input__label custom-input__label--active" for="team_lastname">
              Apellidos
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_lnam">
              Apellidos se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="team_position" 
              id="team_position" 
              placeholder="Posición" 
              [(ngModel)]="team_data.Position"
              [class.custom-input__text--error]="form_watcher.no_post"
              required />
            <label class="custom-input__label custom-input__label--active" for="team_position">
              Posición
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_post">
              Posición se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <textarea 
              class="custom-input__textarea" 
              name="team_desc" 
              id="team_desc" 
              [(ngModel)]="team_data.Description"
              [class.custom-input__textarea--error]="form_watcher.no_desc"
              placeholder="Descripción" 
              required></textarea>
            <label class="custom-input__label custom-input__label--active" for="team_desc">
              Descripción
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_desc">
              Descripción se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="team_link" 
              id="team_link" 
              placeholder="Linkedin" 
              [(ngModel)]="team_data.LinkedinUrl"
              [class.custom-input__text--error]="form_watcher.no_link"
              required />
            <label class="custom-input__label custom-input__label--active" for="team_link">
              Linkedin
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_link">
              Linkedin se requiere
            </span>
          </div>
          <div class="ml-col-1 custom-input margin-bottom-x">
            <input 
              type="text"
              class="custom-input__text" 
              name="team_twitter" 
              id="team_twitter" 
              placeholder="Titulo"
              [(ngModel)]="team_data.TwitterUrl" 
              [class.custom-input__text--error]="form_watcher.no_twit"
              required />
            <label class="custom-input__label custom-input__label--active" for="team_twitter">
              Twitter
            </label>
            <span class="custom-input__textarea--errorm" *ngIf="form_watcher.no_twit">
              Twitter se requiere
            </span>
          </div>
          <div class="form__image form__image--fix">
            <input 
              class="display-none image_form"
              type="file" 
              name="image_i4_selected"
              accept="image/*"
              (change)="readImageData($event, '350x350', 0);"
              id="validatedCustomFile3" 
              required>
            <label class="form__image-img" for="validatedCustomFile3">
              <figure class="image_to_preview_container">
                <img 
                  src="{{ team_data.FrontPhoto }}" 
                  class="image_to_preview placeholder_image custom-input__image"
                  [class.custom-input__image--error]="form_watcher.no_img0" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span class="padding-tb-min">
                <strong>Desktop Photo :</strong> <br /> 
                <span class="color-red" *ngIf="form_watcher.no_img0">
                  Desktop Photo se requiere <br />
                </span>
                *Resolución de imagen 350x350px.
              </span>
            </label>
          </div>
        </div>
        <div class="card__row margin-top-x" style="text-align: end;">
          <button type="button" 
          class="ap-form__buttons-button margin-gral ap-form__buttons-button--big button-green button-icon button-icon--add-white"
                  (click)="updatephoto()">
                  Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="black-box">
  <img src="" id="image_data" />
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
