<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding:0;">
    <h2>Team Sección </h2>
    <br />
  </div>
  <div class="row padding-bottom-m">
    <div class="card-auto">
      <div class="card-auto__cards" *ngFor="let post of posts, index as index;">
        <div class="card-auto__card card-style">
          <div class="card__row">
            <h4 class="card__titulo">
              {{ titulo_seccion }}
            </h4>
          </div>
          <div class="card__row margin-bottom-m">
            <div class="card__info">
              <p class="card__info-dato">
                <span class="text-bold">Nombre: </span>
                {{post.name}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Apellido: </span>
                {{post.lastname}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Puesto: </span>
                {{post.position}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Descripcion: </span> <br />
                {{post.desc}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Linkedin: </span>
                {{post.link}}
              </p>
              <p class="card__info-dato">
                <span class="text-bold">Twitter: </span>
                {{post.twitter}}
              </p>
            </div>
            <div class="card__row" id="image_space_{{ index }}">
              <figure class="card__image card__image--cards">
                <img src="{{post.frontphoto}}" class="card__image-img card__image-img--card" />
              </figure>
            </div>
          </div>
          <div class="card__row text-center absolute-bottom">
            <button 
              class="button" 
              data-toggle="modal" 
              (click)="primaryModal.show(); passdata(post.id, post.name ,post.lastname, post.position, post.desc, post.twitter, post.link );
                       showImagesSpaces( 'image_space_' + index );">
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- div class="row">
  <div class="col-md-3" *ngFor="let post of posts; let i = index">
    <mat-card *ngIf="i!=1" style=" height:620px; margin-bottom: 15px">
      <div class="col-sm-12 col-md-12" style="padding:0;">
        <p><strong> Nombre : </strong>{{post.name}}</p>
        <br>
        <p><strong> Apellido : </strong> {{post.lastname}}</p>
        <br>
        <p><strong> Puesto : </strong> {{post.position}}</p>
        <br>
        <p><strong> Desc :  </strong> {{post.desc}}</p>
        <br>
        <p><strong> Linkedin :  </strong>  {{post.link}}</p>
        <br>
        <p><strong> Twitter :  </strong>  {{post.twitter}}</p>
        <br>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12" style="text-align:center">
          <img class="img-size" src="{{post.backphoto}}">
        </div>
      </div>
      <div class="col-12" style="text-align:center; vertical-align:baseline;">
        <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 20px;" (click)="primaryModal.show();passdata(post.id, post.name ,post.lastname, post.position, post.desc, post.twitter, post.link );">
          Editar
        </button>
      </div>
    </mat-card>
    <mat-card *ngIf="i==1" style="background-color: #f8cd58;height: 620px; margin-bottom: 15px">
      THE TEAM
    </mat-card>
  </div>
</div -->




<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecciona las Imagenes a cambiar de la posicion: {{PostId}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #loginForm="ngForm" autocomplete="off">

        <div class="modal-body" style="padding:0; margin-bottom:20px;">
          <br />
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Name:
            <input type="text" [(ngModel)]="Name" class="form-control" name="posname" id="posname" placeholder="Nombre" required>
          </div>
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Lastname:
            <input type="text" [(ngModel)]="apellido" class="form-control" name="posap" id="posap" placeholder="Apellido" required>
          </div>
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Position:
            <input type="text" [(ngModel)]="position" class="form-control" name="posi" id="posi" placeholder="Puesto" required>
          </div>
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Desc:
            <input type="text" [(ngModel)]="Desc" class="form-control" name="posdesc" id="posdesc" placeholder="Desc" required>
          </div>
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Link:
            <input type="text" [(ngModel)]="Link" class="form-control" name="poslink" id="poslink" placeholder="Linkedin" required>
          </div>
          <div class="col-12  margin-gral" style="margin-bottom:10px">
            Twitter:
            <input type="text" [(ngModel)]="tt" class="form-control" name="postt" id="postt" placeholder="Twitter" required>
          </div>

          <div class="col-12 margin-gral">
            Imagen Default : *La imagen deberá de ser de 350px * 350px;
            <div class="custom-file margin-gral" style="margin-bottom:10px">
              <input type="file" accept="image/*"
                     (change)="prepareImages($event,0)" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="customFile">{{imageInputLabel}}</label>

            </div>
            <!--Imagen  Hover : *La imagen deberá de ser de 350px * 350px;
            <div class="custom-file margin-gral ">
              <input type="file" accept="image/*"
                     (change)="prepareImages($event,1)" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="customFile">{{imageInputLabeltwo}}</label>

            </div>-->
          </div>
         
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Cerrar</button>
          <button type="button" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="updatephoto()">Guardar Cambios</button>
        </div>
      </form>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
