<app-nav [section]="section"></app-nav>

<div class="ml-col-1">
  <div class="ml-col-1 padding-general-m margin-bottom-g">
    <div class="ml-col-1 card-style" *ngIf="!show_ammenity_form">
      <div class="ap-cards">
        <h4 class="ap-cards__titulo">
          Ammenities
        </h4>
        <div class="ap-cards__container" *ngFor="let amenity of amenitiesArray;">
          <div class="ap-cards__card ap-cards__card--bbuttons card-style">
            <h4 class="ap-cards__card-titulo">
              {{ amenity.name }}
            </h4>
            <p class="ap-cards__card-desc">
              {{ amenity.description }}
            </p>
            <figure class="ap-cards__card-image">
              <img src="{{ amenity.photo }}" />
            </figure>
            <div class="ap-cards__card-buttons">
              <button 
                (click)="toggleSectionForm( 'edit', amenity )"
                class="ap-cards__card-button ap-cards__card-button--aceptar">
                Editar
              </button>
              <button 
                (click)="deleteThisAmenity( amenity )"
                class="ap-cards__card-button ap-cards__card-button--eliminar">
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form (submit)="sendAmenityData()" onsubmit="return false;" class="ap-form ml-col-1 card-style" *ngIf="show_ammenity_form">
      <div class="ml-col-1">
        <h4 class="ap-form__titulo text-left">
          {{ ammenity_form_action }}
          <button 
            type="button"
            class="ap-form__close button-orange" 
            (click)="toggleSectionForm()">x
          </button> 
        </h4>
      </div>
      <div class="ml-col-7 margin-top-x">
        <div class="ml-col-1">
          <div class="ap-form__input">
            <input 
              *ngIf="new_amenity_button"
              type="text" 
              [(ngModel)]="data_amenity.name"
              [class.form_error_found]="form_amenity.no_name"
              placeholder="Titulo"
              id="new_amm_title" 
              name="new_amm_title"
              class="ap-form__input-text" />
            <input 
              *ngIf="edit_amenity_button"
              type="text" 
              [(ngModel)]="data_amenity_edit.name"
              [class.form_error_found]="form_amenity.no_name"
              placeholder="Titulo"
              id="new_amm_title" 
              name="new_amm_title"
              class="ap-form__input-text" />
            <label for="new_amm_title" class="ap-form__label ap-form__label-text">
              Titulo
            </label>
            <span class="ml-col-1 form_error_found_label" *ngIf="form_amenity.no_name">
              El campo es obligatorio*
            </span>
          </div>
        </div>
        <div class="ml-col-1">
          <div class="ap-form__input">
            <textarea 
              id="new_amm_desc"
              name="new_amm_desc"
              *ngIf="new_amenity_button"
              [(ngModel)]="data_amenity.description"
              [class.form_error_found]="form_amenity.no_desc"
              placeholder="Descripcion"
              class="ap-form__label ap-form__input-textarea"></textarea>
            <textarea 
              id="new_amm_desc"
              name="new_amm_desc"
              *ngIf="edit_amenity_button"
              [(ngModel)]="data_amenity_edit.description"
              [class.form_error_found]="form_amenity.no_desc"
              placeholder="Descripcion"
              class="ap-form__label ap-form__input-textarea"></textarea>
            <label for="new_amm_desc" class="ap-form__label ap-form__label-text">
              Descripción
            </label>
            <span class="ml-col-1 form_error_found_label" *ngIf="form_amenity.no_desc">
              El campo es obligatorio*
            </span>
          </div>
        </div>
      </div>
      <div class="ml-col-3o">
        <div class="ap-form__input">
          <input
            class="ap-form__input-image display-none" 
            id="nueva_comunidad_img"
            name="nueva_comunidad_img"
            type="file"
            (change)="validateImageUpload( $event, '350x350', 'new_amm_image_0', 'new_amm_name_0' ); prepareImages( $event );" />
          <label for="nueva_comunidad_img" class="ap-form__label-image">
            <figure class="ap-form__image">
              <img class="ap-form__image-image no-image" 
                   id="new_amm_image_0"
                   *ngIf="new_amenity_button"
                   [class.forms_errors_nimage]="form_amenity.no_photo"
                   src="{{ data_amenity.photo }}" />
              <img class="ap-form__image-image no-image" 
                   id="new_amm_image_0"
                   *ngIf="edit_amenity_button"
                   [class.forms_errors_nimage]="form_amenity.no_photo"
                   src="{{ data_amenity_edit.photo }}" />
              <span class="ap-form__image-data text-center" id="new_amm_name_0">
                La imagen debe medir <br />
                <span class="text-bold">350x350</span> 
              </span>
              <span class="ml-col-1 form_error_found_label text-center" *ngIf="form_amenity.no_photo">
                El campo es obligatorio*
              </span>
            </figure>
          </label>
        </div>
      </div>
      <div class="ml-col-1 ap-form__buttons">
        <button 
          type="submit"
          class="ap-form__buttons-button ap-form__buttons-button--big ap-form__buttons-button--aceptar">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="bottom-container">
  <button 
    class="button button-black button-see-x right-element-absolute"
    *ngIf="!show_ammenity_form"
    (click)="toggleSectionForm( 'new' )">
    Agregar Nueva Amenidad
  </button>
  <button 
    class="button button-blue button-x right-element-absolute"
    *ngIf="show_ammenity_form"
    (click)="toggleSectionForm()">
    Lista de Amenidades
  </button>
</div>

<div class="black-box">
  <img src="" id="image_real_dimension" />
</div>
  
<div class="ml-modal ml-modal--bg-black" *ngIf="page_modal">
  <div class="ml-modal__pop" *ngIf="modal_to_show == 'default'">
    <p class="ml-modal__pop-titulo">
      Eliminar elemento
    </p>
    <p class="ml-modal__pop-text">
      Estas seguro que deseas eliminar el elemento <br />
      <span class="text-bold">"{{ amenity_to_delete.name }}"</span>
    </p>
    <div class="ml-modal__pop-buttons">
      <button 
        (click)="toggleSectionForm('delete')"
        class="ml-modal__pop-buttons-button button-blue">
        Cancelar
      </button>
      <button 
        (click)="confirmDeleteElement()"
        class="ml-modal__pop-buttons-button button-orange">
        Eliminar
      </button>
    </div>
  </div>
</div>





<!-- Codigo de la version anterior  -->
<!-- div class="card card-height-newsfeed">  
    <div class="card-body">
      <h5 class="card-title">Add Amenity</h5>
      
      <form #loginForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-md-6 col-sm-6 ">

            <div class="form-row">
              <div class="col-12  margin-gral">
                <input type="text" [(ngModel)]="amenityRequestModel.Name" class="form-control" name="postitle" id="postitle" placeholder="Name" required>
              </div>
            </div>
              
            <div class="custom-file margin-gral ">
              <input type="file" accept="image/*"
                     (change)="prepareImages($event)" class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="customFile">Choose file</label>  
            </div>                    
                
            <div class="input-group margin-gral ">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <textarea name="posttext" id="posttext" class="form-control" [(ngModel)]="amenityRequestModel.Description" aria-label="With textarea" required></textarea>
            </div>
            
            <button (click)="AddAmenity()" type="button" [disabled]="!loginForm.form.valid" class="btn btn-outline-dark margin-gral">Add Amenity</button>
          </div>

          <div class="col-md-6 col-sm-6 ">
            <img class="img-size" src="{{amenityRequestModel.Photo}}" />
          </div>
          
        </div>  
      </form>
    </div>

</div -->



<!-- div class="row margin-bottom-g">
    <div class="col-sm-6 col-md-4" *ngFor="let amenity of amenitiesArray">
      <div class="card">
        <div class="card-header">{{amenity.name}}</div>

        <div class="card-body">
          <label> {{amenity.description}}  </label>
          <div class="col-sm-6 col-md-4">
            <img class="img-size" src="{{amenity.photo}}">
          </div>
        </div>

        <button (click)="EditAmenity(amenity.id)" type="button" class="btn btn-outline-primary">Edit Amenity</button>
        <button (click)="DeleteAmenity(amenity.id)" type="button" class="btn  btn-outline-danger">Delete Amenity</button>  
      </div>
    </div>
  </div --> 


  
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>    