<div class="app-body">
  <main class="main">
    <div class="container-fluid  animated fadeIn">
      <div class="row">
        <!-- Logo section starts -->
        <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-7 full-height logo-section">
          <div class="row">
            <div class="col-sm-2">
              <img class="logo-flip img-fluid" src="assets/img/FLIP.png" />
            </div>
          </div>
        </div>
        <!-- Logo section ends -->
        <!-- Booking-form starts -->
        <div class="d-flex flex-column col-sm-6 col-md-6 col-lg-5 full-height booking-form ">
          <!-- Steper starts -->
          <div class="row steper">
            <div class="col-sm-2 step active-step">
              <div>
                1
              </div>
            </div>
            <div class="col-sm-2 step active-step">
              <div>
                2
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                3
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                4
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                5
              </div>
            </div>
            <div class="col-sm-2 step">
              <div>
                6
              </div>
            </div>
          </div>
          <!-- Steper ends -->
          <!-- Form Section starts -->
          <div class="row flex-fill  align-items-center">
            <div class="col">
              <div class="row ">
                <div class="col-sm-12 text-center">
                  <h5>WHAT MONTH ARE YOU PLANNING ON MOVING?</h5>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="row row-select-month">
                  <div class="col-sm-8 form-check">
                    <div class="col-sm-12">
                      <select class="form-control select-month">
                        <option value="0" ng-reflect-value="0">Please select</option>
                        <option value="1" ng-reflect-value="1">January</option>
                        <option value="2" ng-reflect-value="2">February</option>
                        <option value="3" ng-reflect-value="3">March</option>
                        <option value="4" ng-reflect-value="4">April</option>
                        <option value="5" ng-reflect-value="5">May</option>
                        <option value="6" ng-reflect-value="6">June</option>
                        <option value="7" ng-reflect-value="7">July</option>
                        <option value="8" ng-reflect-value="8">August</option>
                        <option value="9" ng-reflect-value="9">September</option>
                        <option value="10" ng-reflect-value="10">October</option>
                        <option value="11" ng-reflect-value="11">November</option>
                        <option value="12" ng-reflect-value="12">December</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-button">
                  <button aria-pressed="true" class="btn btn-pill btn-block btn-dark active" type="button" routerLink="/wizard3">SIGUIENTE  ></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Form Section ends -->
        </div>
        <!-- Booking-form ends -->
      </div>
    </div>
    <!-- Footer starts -->
    <app-footer>
      <div class="footer">
        <ul class="footer_menu">
          <br class="brhide hiddens">
          <li class="movilhidden img-fluid"><img src="../assets/img/FLIP.png" alt="FLIP_LOGO"></li>
          <li><a href="#">Communities</a></li>
          <li><a href="#">Backstage</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">More</a></li>
          <li class="movilhidden"><hr></li>
          <li class="">
            <a id="partnerfooter" style="font-weight: 600; font-family: GothamProLight;" href="#">Partner</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Carrers</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">Team</a>
          </li>
          <li class="">
            <a style="font-weight: 600; font-family: GothamProLight; " href="#">FAQ</a>
          </li>
          <br class="brhide hiddens">
          <br class="brhide hiddens">
          <li>
            <a id="facefooter" href="#" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="youtube"><i class="fa fa-youtube fa-2x"></i></a>
          </li>
          <li>
            <a id="facefooter" href="#" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
        </ul>
        <br class="brhide hiddens">
        <br class="brhide hiddens">
        <br class="brhide hiddens">
      </div>
    </app-footer>
    <!-- Footer ends -->
  </main>
</div>
