<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-m background-white">
        <div class="ml-col-1">
            <!-- h4 class="ap-form__titulo ap-form__titulo--no-border text-left">
                Room avaibility list
                <button 
                    class="ap-form__titulo-button"
                    (click)="goToPage('AddTenant')">
                    Add Booking
                </button>
            </h4 -->
            <div class="ml-col-1 margin-bottom-x">
                <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
                    Room Avaibility
                </h4>
                
            </div>

            <div class="ml-col-1">
                <form class="ap-form__titulo ap-form__titulo--no-border date-block" [formGroup]="filterForm">
                    
                    <div class="ml-col-1">
                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
                                      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                      <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>   
                                    <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_fromData">
                                        From to Date is required*
                                    </span>                    
                                </div>
                            </div>
                        </div>
                    
                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field >
                                      <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
                                      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                      <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>
                                    <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_toDate">
                                        To Date is required*
                                    </span>
                                </div>
                            </div>
                        </div>    
                        
                        <div class="ml-col-4">
                            <div class="ml-col-1">
                                <div class="ap-form__input">
                                    <mat-form-field>
                                        <mat-label>Roomate Flip</mat-label>
                                        <mat-select [formControl]="animalControl" formControlName="active">
                                          <mat-option>--</mat-option>
                                          <mat-option *ngFor="let active of activeLs" [value]="active">
                                            {{active.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="ml-col-4">
                          <div class="ml-col-1">
                            <div class="ap-form__input">
                                <mat-form-field >
                                    <mat-label>Beds Avaibility</mat-label>
                                    <input matInput formControlName="noBeds" placeholder="0" type="number" min="0">
                                </mat-form-field> 
                            </div>
                          </div>
                        </div>
                    </div>
                  
                  <div class="ml-col-1">
                    <div class="ml-col-4">
                      <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="applyFilterPeriod()">Filter</button>
                    </div>
                    <div class="ml-col-4">
                        <button class="ap-form__buttons-button ap-form__buttons-button--no-margin button-black" (click)="resetForm()">Reset</button>
                    </div>
                  </div>
    
                </form>
            <div class="ml-col-1">
                <mat-form-field class="ap-form__input">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
                </mat-form-field>
                <mat-table mat-table [dataSource]="roomList" matSort class="mat-elevation-z8 table--no-shadow" style="width: 100%;">
                    <ng-container matColumnDef="room">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Room</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.room }}</td>
                    </ng-container>
                    <ng-container matColumnDef="beds">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Beds</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.beds }}</td>
                    </ng-container>
                    <ng-container matColumnDef="disponibility">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Occupation</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <span class="ml-col-1">
                                {{ element.disponibility + '/' + element.beds }}
                            </span>
                            <div class="spaces">
                                <div *ngFor="let bed of element.bed_disponibility" class="spaces__space">
                                    <div *ngIf="bed.unable" class="spaces__space-unable"></div>
                                    <div *ngIf="!bed.unable" class="spaces__space-able"></div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="reservationsActive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Reservations Active</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.reservationsActive + element.disponibility }}</td>
                    </ng-container>
                    <ng-container matColumnDef="dateUnemployment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Date Unemployment</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.dateUnemployment }}</td>
                    </ng-container>
                    <ng-container matColumnDef="amountStanding">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Total Billed</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.amountStanding  | currency}}</td>
                    </ng-container>
                    <ng-container matColumnDef="pending">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Pending</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">{{ element.pending  | currency}}</td>
                    </ng-container>
                    <ng-container matColumnDef="roomateFlip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Roomate type</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <div *ngIf="element.roomateFlip">
                                Roomate Flip
                            </div>
                            <div *ngIf="!element.roomateFlip">
                                No Roomate
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Room Active</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <div *ngIf="element.status">
                                <label class="icon-check"></label>
                            </div>
                            <div *ngIf="!element.status">
                                <label class="icon-ban"></label>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="smoke">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Smoke</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <div *ngIf="element.smoke">
                                <label class="icon-check"></label>
                            </div>
                            <div *ngIf="!element.smoke">
                                <label class="icon-ban"></label>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="viewMore">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">View More</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <button 
                                (click)="roomDetail( element )"
                                mat-raised-button color="accent"
                                class="table__data-button">
                                view more
                            </button>   
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="addBooking">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header">Calendar</th>
                        <td mat-cell *matCellDef="let element" class="table__data table__data-center">
                            <button 
                                mat-raised-button color="accent"
                                (click)="showModal('calendar', element.id)"
                                class="table__data-button-yellow display-none ">
                                Calendar
                            </button>   
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="ml-modal ml-modal--bg-black" *ngIf="show_page_modal">
    <div class="ml-modal__pop" *ngIf="modal_to_show == 'calendar'">
        <p class="ml-modal__pop-titulo margin-bottom-m">
            Calendar
        </p>
        <div class="ml-col-1 padding-general-m card-style">
            <full-calendar
              #calendar
              defaultView="dayGridMonth"
              [header]="{
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
              }"
              [plugins]="calendarPlugins"
              [weekends]="calendarWeekends"        
              eventLimit= "false"
              locale="es"
              nowIndicator="true"     
              slotDuration='01:00'   
              [events]="calendarEvents"
              selectable="true" 
              (select)="handleSelect($event)"
              (eventClick)="handleEventClick($event)"
              (dateClick)="handleDateClick($event)"   
              (eventDrop)="handleEventDrop($event)"
              (eventResize)="handleEventResize($event)" 
              (datesRender)="handleDatesRender($event)"       
            ></full-calendar>
          </div>
        <div class="ml-modal__pop-buttons">
            <button 
                (click)="showModal()"
                class="ml-modal__pop-buttons-button button-pink">
                Cancel
            </button>
            <button 
                (click)="confirmCheckInOut('out')"
                class="ml-modal__pop-buttons-button button-black">
                Check Out
            </button>
        </div>
    </div>
</div>

<!-- <div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m">
        <div class="ml-col-1 padding-general-m card-style folder">
            <div class="folder__tabs">
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_a">
                    Tenanlist
                </div>
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_b">
                    Room Avaibility
                </div>
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_c">
                    Room Avaibility
                </div>
            </div>
            <div class="ml-col-1 block-test" tabs-family="root" tab-id="tab_a" tab-visible="on">
                Primer contenido
            </div>
            <div class="ml-col-1 block-test" tabs-family="root" tab-id="tab_b" tab-visible="off">
                Segundo contenido
            </div>
            <div class="ml-col-1 block-test padding-general-m" tabs-family="root" tab-id="tab_c" tab-visible="off">
                <div class="ml-col-1 padding-general-m card-style folder">
                    <div class="folder__tabs">
                        <div class="folder__tab" tabs-family="inner" tab-show-content="tab_a">
                            Tenanlist
                        </div>
                        <div class="folder__tab" tabs-family="inner" tab-show-content="tab_b">
                            Room Avaibility
                        </div>
                    </div>
                    <div class="ml-col-1 block-test" tabs-family="inner" tab-id="tab_a" tab-visible="on">
                        Primer contenido
                    </div>
                    <div class="ml-col-1 block-test" tabs-family="inner" tab-id="tab_b" tab-visible="off">
                        Segundo contenido
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->