<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m">
        <div class="ml-col-1 padding-general-m card-style folder">
            <div class="folder__tabs">
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_a">
                    Tenanlist
                </div>
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_b">
                    Room Avaibility
                </div>
                <div class="folder__tab" tabs-family="root" tab-show-content="tab_c">
                    Room Avaibility
                </div>
            </div>
            <div class="ml-col-1 block-test" tabs-family="root" tab-id="tab_a" tab-visible="on">
                Primer contenido
            </div>
            <div class="ml-col-1 block-test" tabs-family="root" tab-id="tab_b" tab-visible="off">
                Segundo contenido
            </div>
            <div class="ml-col-1 block-test padding-general-m" tabs-family="root" tab-id="tab_c" tab-visible="off">
                <div class="ml-col-1 padding-general-m card-style folder">
                    <div class="folder__tabs">
                        <div class="folder__tab" tabs-family="inner" tab-show-content="tab_a">
                            Tenanlist
                        </div>
                        <div class="folder__tab" tabs-family="inner" tab-show-content="tab_b">
                            Room Avaibility
                        </div>
                    </div>
                    <div class="ml-col-1 block-test" tabs-family="inner" tab-id="tab_a" tab-visible="on">
                        Primer contenido
                    </div>
                    <div class="ml-col-1 block-test" tabs-family="inner" tab-id="tab_b" tab-visible="off">
                        Segundo contenido
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>