<!-- div class="row">
  <div class="col-md-12">
    <br />
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <h2><mat-icon><i class="fa fa-building-o" aria-hidden="true"></i></mat-icon> Altata General <i class="fa fa-angle-down" aria-hidden="true"></i></h2>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="amm(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Ammenities</span>
      </button>
      <button mat-menu-item (click)="gene(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home General</span>
      </button>
      <button mat-menu-item (click)="serv(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Services</span>
      </button>
      <button mat-menu-item (click)="room(IDBUILD)">
        <mat-icon><i class="fa fa-angle-right" aria-hidden="true"></i></mat-icon>
        <span>Home Room</span>
      </button>
    </mat-menu>
    <br />
  </div>
</div -->

<div class="row margin-tb-min">
  <div class="ml-col-1 navbar__components">
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="amm(IDBUILD)">
        Home Ammenities
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button navbar__component-button--active" (click)="gene(IDBUILD)">
        Home General
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="serv(IDBUILD)">
        Home Services
      </button>
    </div>
    <div class="navbar__component ml-col-4">
      <button class="navbar__component-button" (click)="room(IDBUILD)">
        Home Room
      </button>
    </div>
  </div>
</div>

<div class="row padding-bottom-m">
  <div class="ml-col-1 card-style padding-general-m margin-bottom-x" *ngFor="let post of posts, index as index;">
    <div class="ml-col-1">
      <div class="card__info margin-bottom-x" style="height: auto !important;">
        <p class="card__info-dato">
          <span class="text-bold">Titulo: </span> 
          {{ post.title }}
        </p>
        <p class="card__info-dato">
          <span class="text-bold">Description: </span> 
          {{ post.desc }}
        </p>
      </div>
      <div class="ml-col-1 images-view">
        <div class="ml-col-7 images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Photo:
            </span>
            <img src="../../../assets/webtmp.png" class="images-view__image--mask" />
            <img src="{{ post.frontphoto }}" class="images-view__image--image" />
          </figure>
        </div>
        <div class="ml-col-3o images-view__section">
          <figure class="images-view__image">
            <span class="text-bold text-center images-view__image--title">
              Build Movile Photo:
            </span>
            <img src="../../../assets/phone.png" class="images-view__image--maskm" />
            <img src="{{ post.photomobile }}" class="images-view__image--imagem" />
          </figure>
        </div>
      </div>
      <div class="ml-col-1 text-center margin-top-m">
        <button 
          data-toggle="modal" 
          (click)="primaryModal.show();passdata(post.id);"
          class="button button-x">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- div class="row">
  <div class=" col-sm-12 col-md-12 " *ngFor="let post of posts">
    <div class="card ">
      <div class="card-body ">
        <div class="btn-group margin-gral col-sm-12 col-md-12">
          <div class="row">

            <strong> Description :  </strong> {{post.desc}}
            <br>
            <div class="col-sm-12 col-md-12">
              <img style="height: 400px; width: 600px;" class="img-size" src="../../../assets/webtmp.png">
              <img class="img-size" style="
                          position: absolute;
                          left: 56px;
                          height: 375px;
                          width: 432px;
                          top: 22px;" src="{{post.frontphoto}}">
            </div>
            <div style="    margin-top: 5%;   " class="col-sm-12 col-md-12">
              Mobile Photo:
              <img style="height: 400px; width: 300px;" class="img-size" src="../../../assets/phone.png">
              <img style="position: absolute;
                                              left: 166px;
                                              height: 293px;
                                              width: 180px;
                                              top: 49px;" class="img-size" src="{{post.photomobile}}">
            </div>
            <button style="margin-top: 10%;" type="button" class="btn btn-primary margin-gral " data-toggle="modal" (click)="primaryModal.show();passdata(post.id);">
              Editar
            </button>
          </div>

        </div>

      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:20px;">

      </div>
    </div>
  </div>
</div -->

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecciona las Imagenes a cambiar de la posicion: {{PostId}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #loginForm="ngForm" autocomplete="off">
        <div class="modal-body">
          Imagen :
          <div class="custom-file margin-gral ">
            <input type="file" accept="image/*" class="custom-file-input" id="validatedCustomFile" (change)="fileChangeEvent($event); prepareImages($event,0);" />


            <div>
              <image-cropper [imageChangedEvent]="imageChangedEvent"
                             [maintainAspectRatio]="true"
                             [aspectRatio]="1/ 2"
                             [resizeToWidth]="600"
                             [cropperMinWidth]="128"
                             [onlyScaleDown]="true"
                             [roundCropper]="false"
                             format="png"
                             outputType="both"
                             imageQuality="100"
                             (imageCropped)="imageCropped($event)"
                             (imageLoaded)="imageLoaded()"
                             (cropperReady)="cropperReady()"
                             (loadImageFailed)="loadImageFailed()"
                             [style.display]="showCropper ? null : 'none'"></image-cropper>
              Mobile Image:  <img style="width:25%;  margin-bottom: 50%; " [src]="croppedImage" />
              <button type="button" class="btn btn-dark" (click)="uploadAttachmentToServer(1)">Upload Images</button>

            </div>
            <label class="custom-file-label" for="customFile">{{imageInputLabel}}</label>
          </div>
          <div class="col-12  margin-gral">
            Descripción:
            <input type="text" [(ngModel)]="direction" class="form-control" name="postitle" id="postitle" placeholder="Desc" required>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" style="z-index: 9999;" class="btn btn-secondary" (click)="primaryModal.hide()">Cerrar</button>
        <button type="button" style="z-index: 9999;" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="updatephoto()">Guardar Cambios</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

