.schedule {
    display: flex;

    &__datetime {
        display: flex;
        align-items: center;

        &:not(:last-child){
            margin-right: 1rem;
        }
    }
}

.allDay {
    display: flex;
    &__text{
        margin-left: 1rem;
    }
}

.aaa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-books {
    display: flex;
    flex-wrap: wrap;
    max-height: 10rem;
    overflow-y: auto;
}

.book-host {
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
    
    &__avatar {
        width: 2rem;
        height: 2rem;  
        margin-right: .5rem;      
        border-radius: 50%;
        object-fit: cover;        
    }
    
    &__username {
        font-weight: 300;
    }
}

.book {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem 1rem;
    justify-content: space-between;

    &__avatar {
        width: 2rem;
        height: 2rem;  
        margin-right: .5rem;      
        border-radius: 50%;
        object-fit: cover;        
    }
    
    &__username {
        font-weight: 300;
    }

    &__icon {
        right: 16px;
    }
}

.event {
    &__photo {
        width: 100%;
        max-height: 16rem;
        object-fit: cover;
    }
}