<div class="modal-header">
    <h4 class="modal-title pull-left">{{ !isEditVisible ? eventDetail?.activity.name : 'Editar'}}</h4>               
    <!-- <h4 class="modal-title pull-left">IdProps {{idProps}}</h4> -->
    <!-- button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button -->
    <button 
        class="ap-form__rButton button-red button-icon button-icon--cancel-white" (click)="modalRef.hide()">
        Close
    </button>
</div>

<div class="modal-body">

    <!-- DETAIL -->
    <div class="container clearfix" *ngIf="!isEditVisible">
        <div class="row">
            <div class="col-8">
                <div class="row">                                            
                    <div class="col-12">
                        <h5>Description</h5>
                        <div>{{eventDetail?.activity.description}}</div>
                    </div>

                    <!-- Uncomment for Host, uncomment on service user display, or fetch from User service -->
                    <!-- <div class="col-12">
                        <img [src]="eventDetail?.user.avatar" alt="">
                        <h5>{{eventDetail?.user.name}}</h5>
                    </div> -->
        
                    <hr style="width:100%;">
                     
                    <div class="col-12">
                        <h5>Schedule</h5>
                    </div>
                    <div class="col-12">
                        {{eventDetail?.date | date:'yyyy/MM/dd'}} {{eventDetail?.timeStart | date:'HH:mm'}} - {{eventDetail?.timeEnd | date:'HH:mm'}}
                    </div>
                    <hr style="width:100%;">
                     
                    <div class="col-12 margin-bottom-x">
                        <h5>Host</h5>
                        <div class="book-host"> 
                            <img class="book-host__avatar"
                                 [src]="eventDetail?.user.avatar != '' ? eventDetail?.user.avatar : '../../../../assets/avatar-def.png'" />       
                            <div class="book-host__username">
                                {{ eventDetail?.user.name }} {{ eventDetail?.user.lastName }}
                            </div>                                                            
                        </div>   
                    </div>                    
                </div>
            </div>            
            <div class="col-4">
                <img class="event__photo" 
                    [src]="eventDetail?.activity.photo == '' ? '../../../../assets/avatar-def.png' : eventDetail?.activity.photo" 
                    alt="Event Photo" />
            </div>
        </div>

        <div class="row margin-bottom-x" *ngIf="!eventDetail?.activity.private">
            <div class="col-6">
                <h5>Books</h5>                   
                <div *ngIf="!booksArray.length">No books for this event</div>            
                
                <div class="">
                    <div class=" book" *ngFor="let bookElement of booksArray">                        
                        <!-- <img class="book__avatar" src="https://images.pexels.com/photos/1845534/pexels-photo-1845534.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">                         -->
                        <img class="book__avatar" 
                            [src]="bookElement.user.avatar == '' ? '../../../../assets/avatar-def.png' : bookElement.user.avatar" />       
                        <div class="book__username">{{bookElement.user.name}} {{bookElement.user.lastName}}</div>       
                        <div class="book__icon">
                            <div *ngIf="bookElement.status == 1">
                                <label class="icon-check"></label>
                            </div>
                            <div *ngIf="bookElement.status == 0">
                                <label class="icon-ban"></label>
                            </div>
                        </div>                                                     
                    </div>                        
                </div>                                                          
            </div>    
            
            <div class="col-6" *ngIf="showInvite">
                <h5>Invite</h5>
                <fieldset class="form-group">
                    <ng-select 
                        placeholder="Invite people"
                        [multiple]="true"
                        [items]="usersBuildingArray"
                        usersBuildingArray                         
                        [(ngModel)]="selectedUsers" 
                        bindLabel="name" 
                        bindValue="id">

                        <ng-template ng-header-tmp>
                            <button (click)="selectAll()" class="btn btn-sm btn-secondary">Select all</button>
                            <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button>
                        </ng-template>                        
                        
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">
                                <img [src]="item.avatar == '' ? '../../../../assets/avatar-def.png' : item.avatar" 
                                    style="border-radius: 50%;" 
                                    width="20px" height="20px"> 
                                {{item.name}}</span>                            
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                    
                        <ng-template ng-option-tmp let-item="item">
                            <img [src]="item.avatar == '' ? '../../../../assets/avatar-def.png' : item.avatar"
                                style="border-radius: 50%;" 
                                width="20px" height="20px"> 
                            {{item.name}} {{item.lastName}}
                        </ng-template>     
                                                
                        <!-- <ng-template ng-footer-tmp>
                            Selected count: {{selectedCity.length}}
                        </ng-template> -->
                    </ng-select>
                </fieldset>
                <!--button *ngIf="!eventDetail?.activity.private" type="button" class="btn btn-outline-dark" (click)="Invite()" >Invite</button -->
                <div class="ml-col-1 ap-form__buttons" *ngIf="showEditBtn">
                    <button 
                        class="ap-form__buttons-button ap-form__buttons-button--big button-pink button-icon button-icon--add-white"
                        (click)="Invite()">
                        Invite
                    </button>
                </div>                                         
            </div>
        </div>  
        
        <!-- div class="row" *ngIf="showEditBtn">
            <div class="col mt-2">                
                <button type="button" class="btn btn-outline-dark" (click)="Edit()">Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="Delete()">Eliminar</button>
            </div>            
        </div -->
        <div class="ml-col-1 ap-form__buttons margin-top-m" *ngIf="showEditBtn">
            <button 
                class="ap-form__buttons-button ap-form__buttons-button--big button-yellow button-icon button-icon--add-white"
                (click)="Edit()">
                Edit
            </button>
            <button 
                class="ap-form__buttons-button ap-form__buttons-button--no-margin ap-form__buttons-button--big button-red button-icon button-icon--delete-white"
                (click)="Delete()">
                Delete
            </button>
        </div>
    </div>

    <!-- EDTI -->
    <div class="container" *ngIf="isEditVisible">
        <form #loginForm="ngForm" autocomplete="off">
            <div class="row">                      
                <div class="col-8">
                    <div class="row">  
                        <div class="col-12 mb-2">
                                <!-- <input type="text" [(ngModel)]="acitivyModel.Name" [disabled]="acitivyModel.Private" class="form-control" name="activityName" id="activityName" placeholder="Title" required> -->
                                <input type="text" [(ngModel)]="acitivyModel.Name" class="form-control" name="activityName" id="activityName" placeholder="Title" required>
                        </div>          
                        
                        <div class="col-12 mb-2">
                            <div class="custom-file">
                                <input type="file" accept="image/*"
                                    (change)="prepareImages($event)" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="customFile">{{imageInputLabel}}</label>        
                            </div>
                        </div>
                        
                        <div class="col-12 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description</span>
                                </div>
                                <textarea name="activityDescription" id="activityDescription" class="form-control" [(ngModel)]="acitivyModel.Description" aria-label="With textarea"></textarea>
                            </div>
                        </div>                                                               
                        
                        <!-- Uncomment for Edit Cupo feature -->
                        <!-- <div class="col-12 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cupo</span>
                                </div>
                                <input type="number" [(ngModel)]="acitivyModel.QuoteMax" class="form-control" name="activityQuoteMax" id="activityQuoteMax" min="1" placeholder="Cupo" required>
                            </div>                        
                        </div> -->

                        <!-- <div formArrayName="schedulesCtrl"
                            *ngFor="let arrayItem of schedulesCrtlArray.controls; let i=index"> -->

                            <!-- <div [formGroupName]="i" class="col-12 mb-2 schedule"> -->
                            <div class="col-12 mb-2 schedule">                                
                            
                                <div class="input-group schedule__datetime">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Date</span>
                                    </div>  
                                    <!-- <input type="text" formControlName="dateCtrl" [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', adaptivePosition: true }" placeholder="Datepicker" class="form-control" bsDatepicker> -->
                                    <input type="text" name="date" [(ngModel)]="datePicker" [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Datepicker" class="form-control" bsDatepicker>
                                </div>                              

                                <div class="schedule__datetime" >
                                    <div clasS="schedule__datetime">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Desde</span>
                                        </div>                                            
                                        <!-- <timepicker formControlName="startTimeCtrl" [max]="formGroup.get('schedulesCtrl').at(i).get('endTimeCtrl').value"  [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker> -->
                                        <timepicker name="startTime" [(ngModel)]="startTime" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                                    </div>                            
                                    <div class="schedule__datetime">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Hasta</span>
                                        </div>                                      
                                        <!-- <timepicker formControlName="endTimeCtrl" [min]="formGroup.get('schedulesCtrl').at(i).get('startTimeCtrl').value"  [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker> -->
                                        <timepicker name="endTime" [(ngModel)]="endTime" [min]="startTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                                    </div>                            
                                </div>   
                                <!-- <div *ngIf="i!=0" (click)="RemoveScheduleCtrl();" class="schedule__datetime">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div> -->
                            </div>
                        <!-- </div> -->
                                
                        <!-- <div class="col-12 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Date</span>
                                </div>  
                                <input type="text" name="date" [(ngModel)]="datePicker" [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Datepicker" class="form-control" bsDatepicker>
                            </div>                             
                        </div> -->

                        <!-- Uncomment for all day feature -->
                        <!-- Uncomment this.isAllDayEvent();  in ngOnInit from detalle.component.ts -->
                        <!-- <div class="col-12 mb-2 allDay">
                            <label class="switch switch-sm switch-3d switch-dark">
                                <input class="switch-input" type="checkbox" name="allDaySwitch" [(ngModel)]="allDaySwitch">
                                <span class="switch-slider"></span>                            
                            </label>                         
                            <div class="allDay__text">All day event</div>                        
                        </div> -->

                        <!-- <div class="col-6 mb-2 aaa" *ngIf="!allDaySwitch">
                            <div>Desde</div>
                            <timepicker name="startTime" [(ngModel)]="startTime" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                        </div>     
                        <div class="col-6 aaa" *ngIf="!allDaySwitch">
                            <div>Hasta</div>
                            <timepicker name="endTime" [(ngModel)]="endTime" [min]="startTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                        </div> -->

                    </div>
                </div>  

                <div class="col-4">
                    <img style="width:100%" class="img-size" 
                        [src]="acitivyModel.Photo == '' ? '../../../../assets/avatar-def.png' : acitivyModel.Photo" />
                </div>                                                                                    
                      
                <div class="col">
                    <button (click)="Update()" type="button" class="btn btn-outline-dark margin-gral" [disabled]="!loginForm.form.valid" >Update</button>
                    <button (click)="isEditVisible=!isEditVisible" type="button" class="btn btn-outline-danger margin-gral">Cancelar</button>                
                </div>                
            </div>  
        </form>
    </div>

</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>  