<div class="modal-header">
    <h4 class="modal-title pull-left">Nueva Reservación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="container clearfix">
       <form #loginForm="ngForm" autocomplete="off">
        <div class="row">                      
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="row">      
                    
                    <div class="col-12 mb-3">
                        <div class="reservacion__text">Tipo de reservación:</div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" (change)="TipoReservacion('false')" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadioInline1">Actividad</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" (change)="TipoReservacion('true')" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Espacio</label>
                        </div>
                    </div>
                    
                    <div class="col-12 mb-2">
                        <input type="text" [(ngModel)]="acitivyModel.Name" class="form-control" name="activityName" id="activityName" placeholder="Title" required>
                    </div>          
                
                    <div class="col-12 mb-2">
                        <div class="custom-file">
                            <input type="file" accept="image/*"
                                (change)="prepareImages($event)" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="customFile">{{imageInputLabel}}</label>        
                        </div>
                    </div>
                    
                    <div class="col-12 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea name="activityDescription" id="activityDescription" class="form-control" [(ngModel)]="acitivyModel.Description" aria-label="With textarea"></textarea>
                        </div>
                    </div>           
                    
                    <div class="col-12 mb-2">                        
                        <div class="input-group">
                            <div class="input-group-prepend" style="position: relative; z-index:1;">
                                <span class="input-group-text">Host</span>
                            </div>  
                            <!-- <select class="form-control" [(ngModel)]="acitivyModel.UserId" name="activityUserId" id="activityUserId">
                                <option *ngFor="let user of usersArray" [value]="user.id" >
                                    {{user.name}}
                                </option>                            
                            </select> -->

                            <!-- <fieldset class="form-control"> -->
                                <ng-select    
                                    style="flex: 1"
                                    name="activityUserId" 
                                    id="activityUserId"
                                
                                    [clearable]="false"
                                    [items]="usersArray"                                                          
                                    [(ngModel)]="acitivyModel.UserId" 
                                    bindLabel="name" 
                                    bindValue="id">

                                    <ng-template ng-label-tmp let-item="item">
                                        <span class="ng-value-label"><img [src]="item.avatar" style="border-radius: 50%;" width="20px" height="20px"> {{item.name}} {{item.lastName}} </span>                                                                
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        <img [src]="item.avatar" style="border-radius: 50%;" width="20px" height="20px"> {{item.name}} {{item.lastName}}
                                    </ng-template>  
                                </ng-select>
                            <!-- </fieldset> -->
                        </div>
                    </div> 

                    <!-- <div class="col-12 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cupo</span>
                            </div>
                            <input type="number" [(ngModel)]="acitivyModel.QuoteMax" class="form-control" name="activityQuoteMax" id="activityQuoteMax" min="1" placeholder="Cupo" required>
                        </div>                        
                    </div> -->
                            
                    <div class="col-12 mb-2 schedule">
                        <div class="input-group schedule__datetime">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date</span>
                            </div>  
                            <input type="text" name="date" [(ngModel)]="datePicker" [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Datepicker" class="form-control" bsDatepicker>                            
                        </div>                              

                        <div class="schedule__datetime" >
                            <div clasS="schedule__datetime">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Desde</span>
                                </div> 
                                <timepicker name="startTime" [(ngModel)]="startTime" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>                            
                            </div>                            
                            <div class="schedule__datetime">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Hasta</span>
                                </div> 
                                <timepicker name="endTime" [(ngModel)]="endTime" [min]="startTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                            </div>                            
                        </div>   
                                                
                        <!-- <div class="input-group schedule__datetime">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Desde</span>
                            </div> 
                            <timepicker name="startTime" [(ngModel)]="startTime" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>                            
                        </div>

                        <div class="input-group schedule__datetime">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Hasta</span>
                            </div> 
                            <timepicker name="endTime" [(ngModel)]="endTime" [min]="startTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                        </div> -->
                    </div>   
                    
                    <!-- <div class="col-12 mb-2 schedule">
                        <div class="schedule__datetime">
                             <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Start</span>
                                </div>  
                                <input type="text" name="dateZZ"  [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', timePicker: true }" placeholder="Datepicker" class="form-control" bsDatepicker>
                            </div> 
                            <timepicker name="startTimeZZZZZ" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                        </div>   
                        <div class="schedule__datetime">
                             <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">End</span>
                                </div>  
                                <input type="text" name="dateZZ"  [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', timePicker: true }" placeholder="Datepicker" class="form-control" bsDatepicker>
                            </div> 
                            <timepicker name="startTimeZZZZZ" [max]="endTime" [showMeridian]="isMeridian" [showMinutes]="showMin" [showSeconds]="showSec"></timepicker>
                        </div>                                            
                    </div> -->

                    <!-- Uncomment for all day feature -->
                    <!-- <div class="col-12 mb-2 allDay">
                        <label class="switch switch-sm switch-3d switch-dark">
                            <input class="switch-input" type="checkbox" name="allDaySwitch" [(ngModel)]="allDaySwitch">
                            <span class="switch-slider"></span>                            
                        </label>                         
                        <div class="allDay__text">All day event</div>                        
                    </div> -->
                  
                    <div class="col-12">+ Add Schedule</div>

                </div>
            </div>

            <div class="col-4">
                <img style="width:100%" class="img-size" [src]="acitivyModel.Photo" />
            </div>                                    
                      
            <div class="col-12">
                <button (click)="AddActivity()" type="button" class="btn btn-outline-dark margin-gral " [disabled]="!loginForm.form.valid" >Add Activity</button>
            </div>            
                  
        </div>  
      </form>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>    