<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding: 0;">
    <h2 class="text-ultra">Index Homes</h2>
    <div class="ml-col-1 position-relative margin-bottom-x">
      <button style="position: absolute;
      right: 40px;
      top: -37px;"
              data-toggle="modal" 
              (click)="primaryModal.show(); passdata(0, '', '', false);"
              class="button button-x button-pink button-icon button-icon--add-white">
              Add Biulding
      </button>
    </div>
  </div>
  <div class="row padding-bottom-m">
    <div class="big-card" *ngFor="let post of posts, index as index;">
      <div class="card">
        <div class="card__row">
          <div class="card__info card__info--reziser">
            <p class="card__info-dato">
              <span class="text-bold">Building: </span>
              {{post.title}}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Address: </span>
              {{post.direction}}
            </p>
          </div>
          <p class="card__info-dato">
            <span class="text-bold">Coming soon: </span>
            {{post.iscomming}}
          </p>
        </div>
      <br>
        <div class="card__row" id="image_space_{{ index }}">
          <figure class="card__image card__image--full">
            <img src="{{post.frontphoto}}" class="card__image-img card__image-img--full" />
          </figure>
        </div>
        <br>
        <div class="card__row text-center">
          <button style="width: 45%;"
            class="button button-red button-icon button-icon--delete-white" 
            data-toggle="modal" 
            (click)="delete(post);">
            Delete
          </button>
          &nbsp;
          <button style="width: 45%;"
            class="button button-green button-icon button-icon--edit-white" 
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata(post.id, post.title, post.direction, post.iscomming); showImagesSpaces( 'image_space_' + index );">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div>
        <button type="button" id="close_button" class="ap-form__rButton button-red button-icon button-icon--cancel-white padding-lateral-m" (click)="primaryModal.hide()" aria-label="Close">
          Close
        </button>
        <br><br>
        <h4 class="modal-title">Complete the information of the building</h4>
      </div>
      <hr>
      <div class="form">
        <form #loginForm="ngForm" autocomplete="off">
          <div class="form__image form__image--full margin-bottom-x">
            <input 
              class="display-none"
              type="file" 
              name="image_one_selected"
              type="file" accept="image/*"
              (change)="readImageData($event, '288x576');" 
              id="validatedCustomFile" />
            <label class="form__image-img" for="validatedCustomFile">
              <figure class="image_to_preview_container form_large_image">
                <img src="" class="image_to_preview placeholder_image" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span>
                <strong>Image:</strong> <br /> 
                *The image must be 288x576px;
              </span>
            </label>
          </div>
          <div class="card__row margin-bottom-x">
            <div class="ml-col-1 custom-input">
              <input 
                type="text"
                [(ngModel)]="title"
                class="custom-input__text" 
                name="titulo_home" 
                id="titulo_home" 
                placeholder="Name" 
                required />
              <label class="custom-input__label" for="titulo_home">
                Name
              </label>
            </div>
            <div class="ml-col-1 custom-input">
              <textarea 
                [(ngModel)]="direction"
                class="custom-input__textarea" 
                name="descripcion_home" 
                id="descripcion_home" 
                placeholder="Adress" 
                required></textarea>
              <label class="custom-input__label" for="descripcion_home">
                Adress
              </label>
            </div>
            <div class="ml-col-1 custom-input">
                <input 
                type="checkbox"
                id="profile_active" 
                name="profile_active"
                [(ngModel)]="comming"
                class="ap-form__input-checkbox display-none" />
              <label for="profile_active" class="ap-form__label ap-form__label-checkbox">
                Cooming soon
              </label>
            </div>
          </div>
          <div class="card__row margin-top-x" style="text-align: end;">
            <hr>
              <button 
                type="button" 
                class="ap-form__buttons-button margin-gral ap-form__buttons-button--big button-green button-icon button-icon--add-white" 
                [disabled]="!loginForm.form.valid" 
                (click)="updatephoto()">
                Save
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="ml-modal ml-modal--bg-black" *ngIf="page_modal">
  <div class="ml-modal__pop" *ngIf="modal_to_show == 'default'">
    <p class="ml-modal__pop-titulo margin-bottom-m">
      Delete Map
    </p>
    <p class="ml-modal__pop-text">
      Are you sure to delete <br />
      <span class="text-bold">"{{ datadelete.title}}"</span>?
    </p>
    <div class="ml-modal__pop-buttons">
      <button (click)="showModal()"
        class="ml-modal__pop-buttons-button button-black button-icon button-icon--cancel-white">
        Cancel
      </button>
      <button (click)="confirmDeleteElement()"
        class="ml-modal__pop-buttons-button button-red button-icon button-icon--delete-white">
        Delete
      </button>
    </div>
  </div>
</div>
<div class="black-box">
  <img src="" id="image_data" />
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
