<div class="ml-col-1 padding-general-m">
  <div class="col-12" style="padding: 0;">
    <h2 class="text-ultra">Index Homes</h2>
    <div class="ml-col-1 position-relative margin-bottom-x">
      <button style="position: absolute;
      right: 40px;
      top: -37px;"
              data-toggle="modal" 
              (click)="primaryModal.show(); passdata(0, '', '', false);"
              class="button button-x">
              Add Biulding
      </button>
    </div>
  </div>
  <div class="row padding-bottom-m">
    <div class="big-card" *ngFor="let post of posts, index as index;">
      <div class="card">
        <div class="card__row">
          <div class="card__info card__info--reziser">
            <p class="card__info-dato">
              <span class="text-bold">Building: </span>
              {{post.title}}
            </p>
            <p class="card__info-dato">
              <span class="text-bold">Address: </span>
              {{post.direction}}
            </p>
          </div>
          <p class="card__info-dato">
            <span class="text-bold">Coming soon: </span>
            {{post.iscomming}}
          </p>
        </div>
      <br>
        <div class="card__row" id="image_space_{{ index }}">
          <figure class="card__image card__image--full">
            <img src="{{post.frontphoto}}" class="card__image-img card__image-img--full" />
          </figure>
        </div>
        <br>
        <div class="card__row text-center">
          <button 
            class="button" 
            data-toggle="modal" 
            (click)="primaryModal.show(); passdata(post.id, post.title, post.direction, post.iscomming); showImagesSpaces( 'image_space_' + index );">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Complete the information of the building: {{PostId}}</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form">
        <form #loginForm="ngForm" autocomplete="off">
          <div class="form__image form__image--full margin-bottom-x">
            <input 
              class="display-none"
              type="file" 
              name="image_one_selected"
              type="file" accept="image/*"
              (change)="readImageData($event, '288x576');" 
              id="validatedCustomFile" />
            <label class="form__image-img" for="validatedCustomFile">
              <figure class="image_to_preview_container form_large_image">
                <img src="" class="image_to_preview placeholder_image" />
              </figure>
              <span class="image_to_preview_name name_image_uploaded"></span>
              <span>
                <strong>Imagen:</strong> <br /> 
                *La imagen deberá de ser de 288x576px;
              </span>
            </label>
          </div>
          <div class="card__row margin-bottom-x">
            <div class="ml-col-1 custom-input">
              <input 
                type="text"
                [(ngModel)]="title"
                class="custom-input__text" 
                name="titulo_home" 
                id="titulo_home" 
                placeholder="Name" 
                required />
              <label class="custom-input__label" for="titulo_home">
                Name
              </label>
            </div>
            <div class="ml-col-1 custom-input">
              <textarea 
                [(ngModel)]="direction"
                class="custom-input__textarea" 
                name="descripcion_home" 
                id="descripcion_home" 
                placeholder="Adress" 
                required></textarea>
              <label class="custom-input__label" for="descripcion_home">
                Adress
              </label>
            </div>
            <div class="ml-col-1 custom-input">
                <input 
                type="checkbox"
                id="profile_active" 
                name="profile_active"
                [(ngModel)]="comming"
                class="ap-form__input-checkbox display-none" />
              <label for="profile_active" class="ap-form__label ap-form__label-checkbox">
                Cooming soon
              </label>
            </div>
          </div>
          <div class="card__row margin-top-x">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="close_button" (click)="primaryModal.hide()">Cerrar</button>
              <button 
                type="button" 
                class="btn btn-primary" 
                [disabled]="!loginForm.form.valid" 
                (click)="updatephoto()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="black-box">
  <img src="" id="image_data" />
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
