<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-g background-white">
        <div class="ml-col-1 margin-bottom-x">
            <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
               Alerts
             </h4>
        </div>
        <div class="alerts">
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    La teoria de cuerda
                </div>
            </div>
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    La teoria de cuerda
                </div>
            </div>
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    La teoria de cuerda
                </div>
            </div>
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    La teoria de cuerda
                </div>
            </div>
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    La teoria de cuerda
                </div>
            </div>
        </div>
    </div>
</div>