<div class="ml-col-1">
    <booking-navbar [section]="section"></booking-navbar>
    <div class="ml-col-1 padding-general-m margin-bottom-g background-white">
        <div class="ml-col-1">
            <h4 class="ap-form__titulo ap-form__titulo--header ap-form__titulo--auto-width">
               Alerts
            </h4>
            <button 
                class="ap-form__rButton button-big button-green"
                (click)="showModal()">
                New Alert
            </button>
        </div>
        <div class="ml-col-1">
            <div class="ml-col-4">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <select
                        placeholder="Alert By"
                        id="staff_when" 
                        name="staff_when"
                        class="ap-form__input-text">
                        <option value="">Alert By</option>
                        <option value="1">By Status</option>
                        <option value="2">By Actions</option>
                      </select>
                      <label 
                        for="staff_when" 
                        class="ap-form__label ap-form__label-text">
                        Alerts By
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-4">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="date" 
                        [min]="today"
                        [value]="today"
                        placeholder="Start Date"
                        id="filter_start" 
                        name="filter_start"
                        class="ap-form__input-text" />
                      <label 
                        for="filter_start" 
                        class="ap-form__label ap-form__label-text ap-form__label-text--active">
                        Start Date
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-4">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="date" 
                        placeholder="End Date"
                        id="filter_end" 
                        name="filter_end"
                        class="ap-form__input-text" />
                      <label 
                        for="filter_end" 
                        class="ap-form__label ap-form__label-text">
                        End Date
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="alerts">
            <div class="alerts__section">
                <div class="alerts__card-container card-style">
                    <h4 class="alerts__card-titulo">
                        Pending Schedule
                    </h4>
                    <div class="alerts__card-card card-style">
                        <div class="ml-col-1 text-bold position-relative">
                            <span class="alerts__card-card--status alerts__card-card--status-error">
                                Order Number: 777
                            </span>
                            <span class="alerts__card-card--bubble"></span>
                        </div>
                        <div class="ml-col-1">
                            <span class="ml-col-2">Nombre Dow</span>
                            <span class="ml-col-2 text-right">Alatata No. 7</span>
                        </div>
                        <div class="ml-col-1 text-bold">
                            There no electricity in the apartament
                        </div>
                        <div class="ml-col-1 margin-top-x text-center">
                            <button 
                                class="alerts__card-button button-big button-green">
                                Schedule
                            </button>
                        </div>
                    </div>
                    <div class="alerts__card-card card-style">
                        <div class="ml-col-1 text-bold position-relative">
                            <span class="alerts__card-card--status alerts__card-card--status-error">
                                Order Number: 777
                            </span>
                            <span class="alerts__card-card--bubble"></span>
                        </div>
                        <div class="ml-col-1">
                            <span class="ml-col-2">Nombre Dow</span>
                            <span class="ml-col-2 text-right">Alatata No. 7</span>
                        </div>
                        <div class="ml-col-1 text-bold">
                            There no electricity in the apartament
                        </div>
                        <div class="ml-col-1">
                            <div class="ml-col-1">29/10/2022</div>
                            <div class="ml-col-1">07:00 am - 10:00 am</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ml-modal ml-modal--bg-black" *ngIf="show_modal">
    <div class="ml-modal__content card-style">
        <div class="ml-col-1 margin-bottom-x">
            <p class="ml-modal__pop-titulo ap-form__titulo--auto-width">
                Schedule
            </p>
            <button 
                class="ap-form__rButton button-red"
                (click)="showModal();">
                Close
            </button>
        </div> 
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-4">
                Order number: <span class="text-bold">777</span>
            </div>
            <div class="ml-col-6">
                Job Description: <span class="text-bold">Make me bien wey all day amigo!</span>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-4">
                <div class="ml-col-2">
                    <div class="ml-col-1">
                        Tenant:
                    </div>
                    <div class="ml-col-1 text-bold">
                        Jonh Peek
                    </div>
                </div>
            </div>
            <div class="ml-col-4">
                <div class="ml-col-2">
                    <div class="ml-col-1">
                        Phone:
                    </div>
                    <div class="ml-col-1 text-bold">
                        55 66778899
                    </div>
                </div>
            </div>
            <div class="ml-col-4">
                <div class="ml-col-2">
                    <div class="ml-col-1">
                        Email:
                    </div>
                    <div class="ml-col-1 text-bold">
                        carlos@lolol
                    </div>
                </div>
            </div>
            <div class="ml-col-4">
                <div class="ml-col-2">
                    <div class="ml-col-1">
                        Job Site:
                    </div>
                    <div class="ml-col-1 text-bold">
                        Alatat No. 7
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 at-bcard__stitle">Company</div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Name"
                        id="company_name" 
                        name="company_name"
                        class="ap-form__input-text" />
                      <label 
                        for="company_name" 
                        class="ap-form__label ap-form__label-text">
                        Name
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Phone"
                        id="company_phone" 
                        name="company_phone"
                        class="ap-form__input-text" />
                      <label 
                        for="company_phone" 
                        class="ap-form__label ap-form__label-text">
                        Phone
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Email"
                        id="company_mail" 
                        name="company_mail"
                        class="ap-form__input-text" />
                      <label 
                        for="company_mail" 
                        class="ap-form__label ap-form__label-text">
                        Email
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 at-bcard__stitle">Staff Asign</div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Staff Name"
                        id="staff_name" 
                        name="staff_name"
                        class="ap-form__input-text" />
                      <label 
                        for="staff_name" 
                        class="ap-form__label ap-form__label-text">
                        Staff Name
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Phone"
                        id="staff_phone" 
                        name="staff_phone"
                        class="ap-form__input-text" />
                      <label 
                        for="staff_phone" 
                        class="ap-form__label ap-form__label-text">
                        Phone
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="text" 
                        placeholder="Mail"
                        id="staff_mail" 
                        name="staff_mail"
                        class="ap-form__input-text" />
                      <label 
                        for="staff_mail" 
                        class="ap-form__label ap-form__label-text">
                        Mail
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-col-1 margin-bottom-x">
            <div class="ml-col-1 at-bcard__stitle">Staff Asign</div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="number" 
                        placeholder="Max Budget"
                        id="staff_mbadget" 
                        name="staff_mbadget"
                        class="ap-form__input-text" />
                      <label 
                        for="staff_mbadget" 
                        class="ap-form__label ap-form__label-text">
                        Max Budget
                      </label>
                    </div>
                </div>
            </div>
            <div class="ml-col-3">
                <div class="ml-col-1">
                    <div class="ap-form__input">
                      <input 
                        required
                        type="date" 
                        placeholder="When?"
                        id="staff_when" 
                        name="staff_when"
                        class="ap-form__input-text" />
                      <label 
                        for="staff_when" 
                        class="ap-form__label ap-form__label-text">
                        When?
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-col-1 ap-form__buttons margin-top-m">
            <button 
                class="ap-form__buttons-button ap-form__buttons-button--no-margin ap-form__buttons-button--big button-green">
                Save
            </button>
        </div>
    </div>
</div>