<div class="animated fadeIn">
  <div class="card">    
    <div class="card-body">
      <h5 class="card-title">Update Perk</h5>
        
      <form [formGroup]="formGroup" autocomplete="off">
        <div class="row">                      
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="row">                                      
              <div class="col-12 mb-2">
                  <input type="text" formControlName="perkNameCtrl" class="form-control" placeholder="Title">
              </div>          
                                                            
              <div class="col-12 mb-2">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Description</span>
                      </div>
                      <textarea formControlName="perkDescriptionCtrl" class="form-control" aria-label="With textarea"></textarea>
                  </div>                        
              </div>  
              
              <div class="col-4 mb-2">
                <input type="text" formControlName="perkStreetAddressCtrl" class="form-control" placeholder="StreetAddress">
              </div>   
              <div class="col-4 mb-2">
                <input type="text" formControlName="perkCityCtrl" class="form-control" placeholder="City">
              </div>   
              <div class="col-4 mb-2">
                <input type="text" formControlName="perkStateProvincyCtrl" class="form-control" placeholder="StateProvincy">
              </div>   
              <div class="col-3 mb-2">
                <input type="text" formControlName="perkZipCtrl" class="form-control" placeholder="Zip">
              </div>   
              <div class="col-3 mb-2">
                <input type="text" formControlName="perkCountryCtrl" class="form-control" placeholder="Country">
              </div>   
              <div class="col-3 mb-2">
                <input type="text" formControlName="perkLatitudeCtrl" class="form-control" placeholder="Latitude">
              </div>   
              <div class="col-3 mb-2">
                <input type="text" formControlName="perkLongitudeCtrl" class="form-control" placeholder="Longitude">
              </div>                 
              
              <div class="col-6 mb-2">                        
                <div class="input-group">
                  <div class="input-group-prepend" style="position: relative; z-index:1;">
                    <span class="input-group-text">Host</span>
                  </div>                                  
                        
                  <ng-select    
                    style="flex: 1"
                    formControlName="perkCategoryIdCtrl"                 
                    [clearable]="false"
                    [items]="perkCategories"                                                                                              
                    bindLabel="name" 
                    bindValue="id">                   
                  </ng-select>                                
                </div>
              </div> 

              <div class="col-6 mb-2">
                <div formGroupName="perkPhotoCtrl">                               
                  <div class="custom-file">
                    <input type="file" accept="image/*"
                      formControlName="photoCtrl"
                      (change)="prepareImages($event, formGroup.get('perkPhotoCtrl').controls)" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="customFile">    
                        {{formGroup.get('perkPhotoCtrl').get('labelCtrl').value}}                  
                    </label>        
                  </div>                                                                                            
                </div> 
                <!-- <img style="width: 14rem; max-height: 8rem;" [src]="formGroup.get('perkPhotoCtrl').get('serverUrlCtrl').value" alt=""> -->
              </div>                            
            </div>  <!-- End row -->
          </div>    <!-- End col -->

          <div class="col-12 col-lg-4 col-xl-4">
            <img style="width: 14rem; max-height: 8rem;" [src]="formGroup.get('perkPhotoCtrl').get('serverUrlCtrl').value" alt="">
          </div>
        </div>  <!-- End row -->
        
        <div style="margin-bottom: 1rem;"></div>
        <h5 class="card-title">Imagenes</h5>
        <div class="row">          
          
          <div formArrayName="perkGalleryCtrl"
            class="col-4 mb-2 input-file"
            *ngFor="let arrayItem of perkGalleryCrtlArray.controls; let i=index">

            <div [formGroupName]="i" class="input-file__container">                               
              <div class="custom-file">
                <input type="file" accept="image/*"
                  formControlName="photoCtrl"
                  (change)="prepareImages($event, formGroup.get('perkGalleryCtrl').at(i).controls)" class="custom-file-input" id="validatedCustomFile">
                <label class="custom-file-label" for="customFile">
                  {{formGroup.get('perkGalleryCtrl').at(i).get('labelCtrl').value}}
                </label>        
              </div>

              <div *ngIf="i!=0" (click)="RemoveGalleryCtrl();" class="input-file__remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>                                                                             
            </div> 
            
            <img class="input-file__img" [src]="formGroup.get('perkGalleryCtrl').at(i).get('serverUrlCtrl').value" alt="">
          </div>
          
          <div (click)="AddGalleryCtrl()" class="add-btn">+ Add Image</div>
        </div>  <!-- End row -->

        <div style="margin-bottom: 1rem;"></div>
        <div class="col-12">
          <button (click)="UpdatePerk()" type="button" class="btn btn-outline-dark margin-gral" [disabled]="formGroup.invalid" >Update Perk</button>
          <button (click)="Cancel()" type="button" class="btn btn-outline-danger margin-gral">Cancel</button>
        </div>   
      </form>     
      
      <!-- {{formGroup.value | json}} -->
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>