<app-header [fixed]="true"
            [navbarBrandFull]="{src: 'assets/flipF.png', width: 50, height: 50, alt: 'Flip'}"
            [navbarBrandMinimized]="{src: 'assets/flipF.png', width: 30, height: 30, alt: 'Flip'}"
            [sidebarToggler]="'lg'"
            [asideMenuToggler]="false"
            [mobileAsideMenuToggler]="false">


  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3" *ngFor="let item of navSections">
      <a  class="nav-link cursor-pointer"         
        [ngClass]="{'navSection--active': item.id == selectedSection}"
        (click)="GoSection(item)">
        {{item.name}}
      </a>      
    </li>   
  </ul>
  
  <ul class="nav navbar-nav ml-auto">

    <!-- Notification Bell -->
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right" *ngIf="systemTypeId === 3 || systemTypeId === 4">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{ alertsCount }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>You have {{ alertsCount }} alerts</strong></div>
        <div *ngFor="let alert of alerts">
          <a (click)="goNotifications(alert)" class="dropdown-item">
            <div class="message">
              <div class="py-3 mr-3 float-left">
                <div class="avatar">
                  <!-- <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"> -->
                  <img [src]="alert.icon" class="img-avatar" alt="">
                </div>
              </div>
              <div>
                <small class="text-muted">{{ alert.nameComplete }}</small>
                <small class="text-muted float-right mt-1"> {{ alert.status }}</small>
              </div>
              <div class="text-muted"> {{ alert.date }} </div>
              <div class="text-truncate font-weight-bold"> {{ alert.name }}</div>
              <div class="small text-muted text-truncate font-weight-bold"> {{ alert.message }}</div>
            </div>
          </a>
        </div>
      </div>
    </li>
    <!-- End Notification Bell -->        

    <!-- Notification Messages -->
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right" *ngIf="systemTypeId === 3 || systemTypeId === 4">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-comments"></i><span class="badge badge-pill badge-info">{{ messagesCount }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>You have {{ messagesCount }} messages</strong></div>
        <div *ngFor="let item of messages">
          <a (click)="goMessage(item)" class="dropdown-item">
            <div class="message">
              <div class="py-3 mr-3 float-left">
                <div class="avatar">
                  <!-- <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"> -->
                  <img [src]="item.photo" class="img-avatar" alt="">
                </div>
              </div>
              <div>
                <small class="text-muted">{{ item.name + " " + item.lastname}}</small>
                <small class="text-muted float-right mt-1">{{ item.lastMessageTime }}</small>
              </div>
              <div class="text-truncate font-weight-bold"><span ></span> {{ item.lastMessage }}</div>
              <div class="small text-muted text-truncate">Unread messages : {{ item.unreadMessages }}</div>
            </div>
          </a>
        </div>
        <!-- <a href="#" class="dropdown-item text-center">
          <strong>View all messages</strong>
        </a> -->
      </div>
    </li>
    <!-- End Notification Messages -->

    <!-- Actions ACTIONS -->
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right" *ngIf="systemTypeId === 3 || systemTypeId === 4">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-tasks"></i><span class="badge badge-pill badge-warning">{{ actionsCount }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>You have {{ actionsCount }} actions</strong></div>
        <div *ngFor="let action of actions">
          <a (click)="goActions(action)" class="dropdown-item">
            <div class="message">
              <div class="py-3 mr-3 float-left">
                <div class="avatar">
                  <!-- <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"> -->
                  <img [src]="action.avatar" class="img-avatar" alt="">
                </div>
              </div>
              <div>
                <small class="text-muted font-weight-bold">{{ action.nameComplete}}</small>
                
              </div>
              <div>
                <small class="text-muted float-right mt-1">{{ action.type }}</small>
              </div>
              <div class="text-muted ">Days late: <span class="font-weight-bold">{{ action.expirationsDays }}</span></div>
              <div class="small text-muted text-truncate">Amount : {{ action.amount | currency }}</div>
            </div>
          </a>
        </div>
        <!-- <a href="#" class="dropdown-item text-center">
          <strong>View all messages</strong>
        </a> -->
      </div>
    </li>
    <!-- End Actions Task -->
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li> -->

    <!-- Profile Menu -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img [src]="dataUser" class="img-avatar" alt="">
        <!-- <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" /> -->
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" (click)="goNotifications(alerts[0])" *ngIf="systemTypeId === 3 || systemTypeId === 4"><i class="fa fa-bell-o"></i> Alerts<span class="badge badge-info">{{ alertsCount }}</span></a>
        <a class="dropdown-item" (click)="goMessage(messages[0])" *ngIf="systemTypeId === 3 || systemTypeId === 4"><i class="fa fa-comments"></i> Messages<span class="badge badge-success">{{ messagesCount }}</span></a>
        <a class="dropdown-item" (click)="goActions(actions[0])" *ngIf="systemTypeId === 3 || systemTypeId === 4"><i class="fa fa-tasks"></i> Actions<span class="badge badge-danger">{{ actionsCount }}</span></a>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a> fa-envelope-o -->
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" (click)="goToProfile(userId)"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="salir($event)"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <!-- End Profile Menu -->

  </ul>  
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav 
      [navItems]="navItems" 
      [perfectScrollbar] 
      [disabled]="sidebarMinimized"
      ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <!-- Main content -->
  <main class="main">    
    <!-- <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>        
        <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>    
          </div>
        </li>
    </ol> -->

    <div class="ml-col-1">
      <router-outlet></router-outlet>
    </div>    
  </main>    
</div>

<app-footer>  
  <span class="ml-auto"></span>
</app-footer>

