<booking-navbar [section]="section"></booking-navbar>
<div class="ml-col-1">
  <div class="ml-col-1 padding-general-m margin-bottom-g">
    <div class="ml-col-1">
      <form 
        class="ap-form ml-col-1 card-style" 
        onsubmit="return false;" 
        name="post_form"
        (submit)="sendProfileData()">
        <div class="ml-col-1">
          <h4 class="ap-form__titulo text-left">
            Profile
          </h4>
        </div>
        <div class="ml-col-1 margin-bottom-x">
          <div class="ap-form__input">
            <p class="ap-form__input-radio-titulo">
                Profile Type
            </p>
            <div class="ml-col-15">
                <div class="ap-form__input-radio-opc">
                    <input 
                        type="radio" 
                        id="profile_single"
                        name="profile_type"
                        [checked]="!profile_data.clientKind"
                        (change)="toggleKindClientForm( profile_data.clientKind )"
                        value="sing"
                        class="ap-form__input-radio display-none" />
                    <label for="profile_single" class="ap-form__label-radio">
                      Single
                    </label>
                </div>
            </div>
            <div class="ml-col-15">
                <div class="ap-form__input-radio-opc">
                    <input 
                        type="radio" 
                        id="profile_buss" 
                        name="profile_type"
                        value="buss"
                        [checked]="profile_data.clientKind"
                        (change)="toggleKindClientForm( profile_data.clientKind )"
                        class="ap-form__input-radio display-none" />
                    <label for="profile_buss" class="ap-form__label-radio">
                      Business
                    </label>
                </div>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <input 
                required
                type="text" 
                placeholder="Name*"
                id="profile_name" 
                name="profile_name"
                class="ap-form__input-text"
                [class.form_error_found]="form_required.no_name"
                [(ngModel)]="profile_data.name" />
              <label 
                for="profile_name" 
                class="ap-form__label ap-form__label-text"
                [class.ap-form__label-text--active]="profile_data.name != ''">
                Name <span class="color-red text-bold">*</span>
              </label>
              <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_name">
                Name is required*
              </span>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <input 
                required
                type="text" 
                placeholder="Last Name*"
                id="profile_lname" 
                name="profile_lname"
                class="ap-form__input-text"
                [class.form_error_found]="form_required.no_lnam"
                [(ngModel)]="profile_data.lastName" />
              <label 
                for="profile_lname" 
                class="ap-form__label ap-form__label-text"
                [class.ap-form__label-text--active]="profile_data.lastName != ''">
                Last Name <span class="color-red text-bold">*</span>
              </label>
              <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_lnam">
                Lastname is required*
              </span>
            </div>
          </div>
        </div>
        <div class="ml-col-3 ml-col-r">
          <div class="ap-form__input">
            <input
              required
              class="ap-form__input-image display-none" 
              id="nueva_comunidad_img"
              name="nueva_comunidad_img"
              type="file"
              accept="image/*"
              (change)="validateImageUpload( $event, '350x350', 'new_post_image_0', 'new_post_name_0' ); prepareImages( $event );" />
            <label for="nueva_comunidad_img" class="ap-form__label-image">
              <figure class="ap-form__image">
                <img class="ap-form__image-image no-image" 
                    id=""
                    src="{{ profile_data.photo }}" />
                <span class="ap-form__image-data text-center" id="">
                  La imagen debe medir <br />
                  <span class="text-bold">350x350</span> 
                </span>
              </figure>
            </label>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <input 
                required
                type="text" 
                placeholder="Second Name*"
                id="profile_sname" 
                name="profile_sname"
                class="ap-form__input-text"
                [class.form_error_found]="form_required.no_snam"
                [(ngModel)]="profile_data.motherName" />
              <label 
                for="profile_sname" 
                class="ap-form__label ap-form__label-text"
                [class.ap-form__label-text--active]="profile_data.motherName != ''">
                Second Name <span class="color-red text-bold">*</span>
              </label>
              <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_snam">
                Secondname is required*
              </span>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <input 
                required
                type="number" 
                placeholder="*Phone"
                id="profile_phone" 
                name="profile_phone"
                class="ap-form__input-text"
                [class.form_error_found]="form_required.no_phon"
                [(ngModel)]="profile_data.phone" />
              <label 
                for="profile_phone" 
                class="ap-form__label ap-form__label-text"
                [class.ap-form__label-text--active]="profile_data.phone != ''">
                <span class="color-red text-bold">*</span>
                Phone
              </label>
              <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_phon">
                Phone is required*
              </span>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <input 
                required
                type="text" 
                placeholder="*Mail"
                id="profile_mail" 
                name="profile_mail"
                class="ap-form__input-text"
                [class.form_error_found]="form_required.no_email"
                [(ngModel)]="profile_data.email" />
              <label 
                for="profile_mail" 
                class="ap-form__label ap-form__label-text"
                [class.ap-form__label-text--active]="profile_data.email != ''">
                <span class="color-red text-bold">*</span>
                Mail
              </label>
              <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_email">
                Phone is required*
              </span>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <select
                required
                placeholder="Gender"
                id="profile_gender" 
                name="profile_gender"
                class="ap-form__input-text">
                <option value="-1" disabled>Gender*</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <label 
                for="profile_gender" 
                class="ap-form__label ap-form__label-text">
                Gender <span class="color-red text-bold">*</span> 
              </label>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <select
                required 
                placeholder="Birthplace"
                id="profile_bplace" 
                name="profile_bplace"
                class="ap-form__input-text">
                <option value="-1" disabled>Birthplace</option>
              </select>
              <label 
                for="profile_bplace" 
                class="ap-form__label ap-form__label-text">
                Birthplace
              </label>
            </div>
          </div>
        </div>
        <div class="ml-col-3">
          <div class="ml-col-1">
            <div class="ap-form__input">
              <select
                required 
                placeholder="Nationality"
                id="profile_nationality" 
                name="profile_nationality"
                class="ap-form__input-text">
                <option value="-1" disabled>Nationality</option>
                <option *ngFor="let country of country_catalogo;" [value]="country.id">
                  {{ country.name }}
                </option>
              </select>
              <label 
                for="profile_nationality" 
                class="ap-form__label ap-form__label-text">
                Nationality
              </label>
            </div>
          </div>
        </div>
        <div class="ml-col-1">
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="date" 
                  placeholder="Birthday"
                  id="profile_bday" 
                  name="profile_bday"
                  [(ngModel)]="profile_data.birth"
                  class="ap-form__input-text" />
                <label 
                  for="profile_bday" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.birth != ''">
                  Birthday
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Linked In"
                  id="profile_linkedin" 
                  name="profile_linkedin"
                  class="ap-form__input-text" />
                <label 
                  for="profile_linkedin" 
                  class="ap-form__label ap-form__label-text">
                  Linked In
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Twitter"
                  id="profile_twitter" 
                  name="profile_twitter"
                  [(ngModel)]="profile_data.twitterUrl"
                  class="ap-form__input-text" />
                <label 
                  for="profile_twitter" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.twitterUrl != ''">
                  Twitter
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Facebook"
                  id="profile_facebook" 
                  name="profile_facebook"
                  [(ngModel)]="profile_data.facebookUrl"
                  class="ap-form__input-text" />
                <label 
                  for="profile_facebook" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.facebookUrl != ''">
                  Facebook
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <select
                  required 
                  placeholder="Civil Status"
                  id="profile_cstatus" 
                  name="profile_cstatus"
                  [(ngModel)]="profile_data.userData.civilStatusId"
                  class="ap-form__input-text">
                  <option value="-1" disabled>Civil Status</option>
                  <option *ngFor="let civil_status of civilStatus_catalogo;" [value]="civil_status.id">
                    {{ civil_status.name }}
                  </option>
                </select>
                <label 
                  for="profile_cstatus" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userData.civilStatusId != ''">
                  Civil Status
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <select
                  required 
                  placeholder="Scholarship"
                  id="profile_scholarship" 
                  name="profile_scholarship"
                  [(ngModel)]="profile_data.userData.scholarshipId"
                  class="ap-form__input-text">
                  <option value="-1" disabled>Scholarship</option>
                  <option *ngFor="let scholarship of scholarship_catalogo;" [value]="scholarship.id">
                    {{ scholarship.name }}
                  </option>
                </select>
                <label 
                  for="profile_scholarship" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userData.scholarshipId != ''">
                  Scholarship
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="RFC"
                  id="profile_rfc" 
                  name="profile_rfc"
                  class="ap-form__input-text" />
                <label 
                  for="profile_rfc" 
                  class="ap-form__label ap-form__label-text">
                  RFC
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <select
                  required 
                  placeholder="Have you ever rented?"
                  id="profile_rented" 
                  name="profile_rented"
                  class="ap-form__input-text">
                  <option value="-1" disabled>Have you ever rented?</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
                <label 
                  for="profile_rented" 
                  class="ap-form__label ap-form__label-text">
                  Have you ever rented?
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <select
                  required 
                  placeholder="Do you bring pets?"
                  id="profile_pets" 
                  name="profile_pets"
                  [(ngModel)]="profile_data.userData.pet"
                  class="ap-form__input-text">
                  <option value="-1" disabled>Do you bring pets?</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
                <label 
                  for="profile_pets" 
                  class="ap-form__label ap-form__label-text">
                  Do you bring pets?
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required 
                  type="number"
                  min="0"
                  placeholder="How many cars will you bring?"
                  id="profile_cars" 
                  name="profile_cars"
                  class="ap-form__input-text">
                <label 
                  for="profile_cars" 
                  class="ap-form__label ap-form__label-text">
                  How many cars will you bring?
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  min="0"
                  type="number" 
                  placeholder="Money spend monthly in food?"
                  id="profile_mfood" 
                  name="profile_mfood"
                  class="ap-form__input-text" />
                <label 
                  for="profile_mfood" 
                  class="ap-form__label ap-form__label-text">
                  Money spend monthly in food?
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  min="0"
                  type="number" 
                  placeholder="Money spend monthly on Free Time?"
                  id="profile_mtime" 
                  name="profile_mtime"
                  class="ap-form__input-text" />
                <label 
                  for="profile_mtime" 
                  class="ap-form__label ap-form__label-text">
                  Money spend monthly on Free Time?
                </label>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ap-form__input">
              <input 
                type="checkbox"
                id="profile_active" 
                name="profile_active"
                [checked]="profile_data.active"
                class="ap-form__input-checkbox display-none" />
              <label for="profile_active" class="ap-form__label ap-form__label-checkbox">
                Active
              </label>
            </div>
          </div>
        </div>
        <div class="ml-col-1" *ngIf="profile_data.clientKind">
          <div class="ml-col-1">
            <h4 class="ap-form__titulo text-left">
              About Business
            </h4>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Name*"
                  id="profile_bname" 
                  name="profile_bname"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.name"
                  [class.form_error_found]="form_required.no_bname" />
                <label 
                  for="profile_bname" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.name != ''">
                  Name <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_bname">
                  Name is required*
                </span>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Activity/Routine business*"
                  id="profile_bactivity" 
                  name="profile_bactivity"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.activity"
                  [class.form_error_found]="form_required.no_bacti" />
                <label 
                  for="profile_bactivity" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.activity != ''">
                  Activity/Routine business <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_bacti">
                  Activity/Routine business is required*
                </span>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Trade name*"
                  id="profile_btrade" 
                  name="profile_btrade"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.tradeName"
                  [class.form_error_found]="form_required.no_btrad" />
                <label 
                  for="profile_btrade" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.tradeName != ''">
                  Trade name <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_btrad">
                  Trade name is required*
                </span>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="RFC*"
                  id="profile_brfc" 
                  name="profile_brfc"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.rfc"
                  [class.form_error_found]="form_required.no_brfc" />
                <label 
                  for="profile_brfc" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.rfc != ''">
                  RFC <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_brfc">
                  RFC is required*
                </span>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Counsel for the Firm*"
                  id="profile_bfirm" 
                  name="profile_bfirm"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.legalRepresentative"
                  [class.form_error_found]="form_required.no_bfirm" />
                <label 
                  for="profile_bfirm" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.legalRepresentative != ''">
                  Counsel for the Firm <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_bfirm">
                  Counsel for the Firm is required*
                </span>
              </div>
            </div>
          </div>
          <div class="ml-col-3">
            <div class="ml-col-1">
              <div class="ap-form__input">
                <input 
                  required
                  type="text" 
                  placeholder="Phone*"
                  id="profile_bphone" 
                  name="profile_bphone"
                  class="ap-form__input-text"
                  [(ngModel)]="profile_data.userTaxData.phone"
                  [class.form_error_found]="form_required.no_bphon" />
                <label 
                  for="profile_bphone" 
                  class="ap-form__label ap-form__label-text"
                  [class.ap-form__label-text--active]="profile_data.userTaxData.phone != ''">
                  Phone <span class="color-red text-bold">*</span>
                </label>
                <span class="ml-col-1 form_error_found_label" *ngIf="form_required.no_bphon">
                  Phone is required*
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-col-1 text-center margin-top-x">
          Required fields <span class="color-red text-bold">*</span>
        </div>
        <div class="ml-col-1 ap-form__buttons">
          <button 
            type="submit"
            class="ap-form__buttons-button ap-form__buttons-button--no-margin ap-form__buttons-button--big ap-form__buttons-button--aceptar">
            Save
          </button>
        </div>
      </form>
  </div>
</div>































<div class="ml-col-1">
    <div class="ml-col-1 padding-general-m margin-bottom-m">

        <div class="ml-col-1">
          <h4 class="ap-form__titulo text-left">
            Personal Data
          </h4>
        </div>
        <div class="ml-col-1 room-data__tabs text-center">
          <span class="room-data__tab room-data__tab--active" (click)="showSection( $event, 'personalData')">
            Personal Data
          </span>
          <span class="room-data__tab" (click)="showSection( $event ,'addIformation')">
            Additional Information
          </span>
          <span class="room-data__tab" (click)="showSection( $event ,'otraformation')">
            References
          </span>
        </div>
        <div id="personalData" name="room-section" class="ml-col-1">
          <form (submit)="sendBookingData()" class="ap-form ml-col-1 card-style padding-general-m">
          <div class="ml-col-7 margin-top-x" >
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                  <input 
                    type="text"
                    placeholder="First Name"
                    id="firstName" 
                    name="firstName"
                    class="ap-form__input-text"
                    [(ngModel)]="name" />
                  <label for="firstName" class="ap-form__label ap-form__label-text">
                    First Name
                  </label>
                </div>
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                  <input 
                    type="text"
                    placeholder="Last Name"
                    id="middlename" 
                    name="middlename"
                    class="ap-form__input-text"
                    [(ngModel)]="firstName" />
                  <label for="middlename" class="ap-form__label ap-form__label-text">
                    Last Name
                  </label>
                </div>  
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                    <input 
                      type="text"
                      placeholder="Mother Name"
                      id="lastname" 
                      name="lastname"
                      class="ap-form__input-text"
                      [(ngModel)]="lastName" />
                    <label for="lastname" class="ap-form__label ap-form__label-text">
                      Mother Name
                    </label>
                  </div>
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                    <label for="birth" class="ap-form__label ap-form__label-text">
                        Date of Birth
                    </label>
                    <input 
                        placeholder="Date of Birth" 
                        id="birth" 
                        name="birth"  
                        type="date"
                        [(ngModel)]="date.value" 
                        class="ap-form__input-text">
                </div>
                
                  <!-- <mat-form-field class="ap-form__input">
                    <mat-label class="ap-form__label ap-form__label-text">Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" class="ap-form__input-text"
                    [value]="date.value" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                  <input 
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    [(ngModel)]="email"
                    class="ap-form__label ap-form__input-text"/>
                  <label for="email" class="ap-form__label ap-form__label-text">
                    Email
                  </label>
                </div>
            </div>
            <div class="ml-col-3 padding-right-min">
              <div class="ap-form__input">
                <input 
                  type="number"
                  placeholder="Cell Phone"
                  id="phone" 
                  name="phone"
                  class="ap-form__input-text"
                  [(ngModel)]="phone" />
                <label for="booking_latitud" class="ap-form__label ap-form__label-text">
                  Cell Phone
                </label>
              </div>
            </div>
            <div class="ml-col-3 padding-right-min">
              <div class="ap-form__input">
                <input 
                  type="text"
                  placeholder="Workplace"
                  id="workplace" 
                  name="workplace"
                  class="ap-form__input-text"
                  [(ngModel)]="work" />
                <label for="workplace" class="ap-form__label ap-form__label-text">
                  Workplace
                </label>
              </div>
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                  <mat-checkbox [(ngModel)]="active" [checked]="active" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
                </div>
            </div>
            <div class="ml-col-3 padding-right-min">
                <div class="ap-form__input">
                  <input
                    id="facebook"
                    name="facebook"
                    placeholder="Facebook URL"
                    [(ngModel)]="facebook"
                    class="ap-form__label ap-form__input-text"/>
                  <label for="facebook" class="ap-form__label ap-form__label-text">
                    Facebook URL
                  </label>
                </div>
            </div>
            <div class="ml-col-2 padding-right-min">
                <div class="ap-form__input">
                  <input 
                    id="aboutMe"
                    name="aboutMe"
                    placeholder="About Me"
                    type="text"
                    [(ngModel)]="aboutMe"
                    class="ap-form__label ap-form__input-text"/>
                  <label for="aboutMe" class="ap-form__label ap-form__label-text">
                    About Me
                  </label>
                </div>
            </div>
            <div class="ml-col-2 padding-right-min">
                <div class="ap-form__input">
                  <input
                    id="instagram"
                    name="instagram"
                    placeholder="Instagram URL"
                    [(ngModel)]="instagram"
                    class="ap-form__label ap-form__input-text"/>
                  <label for="instagram" class="ap-form__label ap-form__label-text">
                    Instagram URL
                  </label>
                </div>
            </div>
            <div class="ml-col-2 padding-right-min">
                <div class="ap-form__input">
                  <input 
                    id="booking_direccion"
                    name="booking_direccion"
                    placeholder="Twitter URL"
                    [(ngModel)]="twitter"
                    class="ap-form__label ap-form__input-text"/>
                  <label for="booking_direccion" class="ap-form__label ap-form__label-text">
                    Twitter URL
                  </label>
                </div>
            </div>
        </div>
        <div class="ml-col-3o">
          <div class="ap-form__input">
              <input
                class="ap-form__input-image display-none" 
                id="booking_img"
                name="booking_img"
                type="file" 
                accept="image/*"
                (change)="validateImageUpload( $event, '350x350', 'booking_img_0', 'booking_img_name_0' ); prepareImages( $event )" />
              <label for="booking_img" class="ap-form__label-image">
                <figure class="ap-form__image">
                  <img class="ap-form__image-image no-image" 
                       id="booking_img_0"
                       [src]="photo != null ? photo : '../../../assets/14.jpg'"/>
                  <span class="ap-form__image-data text-center" id="booking_img_name_0">
                    La imagen debe medir <br />
                    <span class="text-bold">350x350</span> 
                  </span>
                </figure>
              </label>
          </div>
      </div>
      <div class="ml-col-1 ap-form__buttons">
        <button 
          type="submit"
          class="ap-form__buttons-button ap-form__buttons-button--aceptar">
          Save profile
        </button>
      </div>
    </form>
        </div>
        
      <div id="addIformation" class="ml-col-1 display-none" name="room-section">
        <form (submit)="updateDataAddition()" class="ap-form ml-col-1 card-style padding-general-m">
        <div class="ml-col-7 margin-top-x" >
          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <select 
                placeholder="Country"
                id="country" 
                name="country"
                class="ap-form__input-text"
                [(ngModel)]="countrySelect"
                (change)="selectCountryOption($event.target.value)">
                <option *ngFor="let countries of country;" [value]="countries.id">
                  {{ countries.name }}
                </option>
              </select>
              <label for="country" class="ap-form__label ap-form__label-text">
                Country
              </label>
            </div>
          </div>

          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <select 
                placeholder="Civil Status"
                id="civilStatus" 
                name="civilStatus"
                class="ap-form__input-text"
                [(ngModel)]="civilSelect"
                (change)="selectCivilOption($event.target.value)">
                <option *ngFor="let civil of civilStatus;" [value]="civil.id">
                  {{ civil.name }}
                </option>
              </select>
              <label for="civilStatus" class="ap-form__label ap-form__label-text">
                Civil Status
              </label>
            </div>
          </div>

          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <select 
                placeholder="Scholarship"
                id="scholarship" 
                name="scholarship"
                class="ap-form__input-text"
                [(ngModel)]="scholarSelect"
                (change)="selectScholarshipOption($event.target.value)">
                <option *ngFor="let scholar of scholarShip;" [value]="scholar.id">
                  {{ scholar.name }}
                </option>
              </select>
              <label for="scholarship" class="ap-form__label ap-form__label-text">
                Scholarship
              </label>
            </div>
          </div>

        <div class="ml-col-3 padding-right-min">
          <div class="ap-form__input">
            <mat-checkbox [(ngModel)]="pet" [checked]="pet" [ngModelOptions]="{standalone: true}">Pet</mat-checkbox>
          </div>
        </div>

        <div class="ml-col-1 ap-form__buttons">
          <button 
            type="submit"
            class="ap-form__buttons-button ap-form__buttons-button--aceptar">
            Update profile
          </button>
        </div>

        </div>
        </form>
      </div>

      <div id="otraformation" class="ml-col-1 display-none " name="room-section">
        <div  class="ml-col-7 margin-top-x " >
        </div>
      </div>
        
    
    
          <div class="ml-col-1">
            <h4 class="ap-form__titulo text-left">
              Payment Methods
            </h4>
          </div>
          <div class="ml-col-1">
            <div class="ml-col-7 margin-top-x" *ngFor="let card of payementMethods;let i = index;">
              <form (submit)="updateOrAddMethod(payementMethods[i])" class="ap-form ml-col-1 card-style padding-general-m">
          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <input type="text"  placeholder="Name" id="Name" name="Name" class="ap-form__input-text" [(ngModel)]="payementMethods[i].name" />
              <label for="Name" class="ap-form__label ap-form__label-text">
                Name
              </label>
            </div>
          </div>
          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <input type="number" placeholder="Card Number" id="Card Number" name="CardNumber" class="ap-form__input-text" [(ngModel)]="payementMethods[i].number" />
              <label for="CardNumber" class="ap-form__label ap-form__label-text">
                Card number
              </label>
            </div>
          </div>
          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <input type="number" placeholder="ccv" id="ccv" name="ccv" class="ap-form__input-text" [(ngModel)]="payementMethods[i].ccv"/>
              <label for="ccv" class="ap-form__label ap-form__label-text">
                CCV
              </label>
            </div>
          </div>
          <div class="ml-col-3 padding-right-min">
              <label for="month" class="ap-form__label ap-form__label-text">
                  Month
              </label>
              <input 
                  placeholder="Month" 
                  id="month" 
                  name="month"  
                  type="number"
                  class="ap-form__input-text" [(ngModel)]="payementMethods[i].month">
          </div>
          <div class="ml-col-3 padding-right-min">
            <label for="year" class="ap-form__label ap-form__label-text">
                Year
            </label>
            <input 
                placeholder="Year" 
                id="year" 
                name="year"  
                type="number"
                class="ap-form__input-text" [(ngModel)]="payementMethods[i].year">
          </div>
          <div class="ml-col-3 padding-right-min">
            <div class="ap-form__input">
              <mat-checkbox >Active</mat-checkbox>
            </div>
          </div>
          <div class="ml-col-1 ap-form__buttons">
            <button type="submit" class="ap-form__buttons-button ap-form__buttons-button--aceptar">
              Save Method
            </button>
          </div>
        </form>
        </div>
          </div>
          
    </div>
    </div>