<h1 mat-dialog-title>Messages</h1>
<div mat-dialog-content class="heigh-users">
    <h5>Invite</h5>
    <!-- <fieldset class="form-group"> -->
    <ng-select placeholder="Invite people" [multiple]="true" [items]="usersBuildingArray" usersBuildingArray
        [(ngModel)]="selectedUsers" bindLabel="name" bindValue="id">

        <ng-template ng-header-tmp>
            <button (click)="selectAll()" class="btn btn-sm btn-secondary">Select all</button>
            <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button>
        </ng-template>

        <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label"><img [src]="item.avatar" style="border-radius: 50%;" width="20px"
                    height="20px"> {{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
            <img [src]="item.avatar" style="border-radius: 50%;" width="20px" height="20px"> {{item.name}}
            {{item.lastName}}
        </ng-template>

        <!-- <ng-template ng-footer-tmp>
                            Selected count: {{selectedCity.length}}
                        </ng-template> -->
    </ng-select>

    <!-- </fieldset> -->
    <br>
    <div class="row">
        <textarea placeholder="Type your message" autoresize [(ngModel)]="messageInput" id="sent-input" class="sent__input" maxlength="1900"
            rows="1"></textarea>

    </div>

    <button mat-button (click)="onNoClick()">Close</button>
    <button [disabled]="!messageInput" mat-button *ngIf="!eventDetail?.activity.private" type="button" class="btn btn-outline-dark"
        (click)="Send()">Send</button>

    <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<!-- <div mat-dialog-actions>
 
</div> -->