.heigh-users{
    height: 250px!important;
}
.sent {
    display: flex;
    background-color: inherit;
    padding: .2rem .4rem;

    align-items: center;

    &__input {
        flex: 1;
        border-radius: 20px;        
        border: 1px solid #fff;
        background: inherit;
        color: rgb(5, 5, 5);    
        margin: .5rem .2rem;        
        margin-right: auto;
        outline: none;
        padding: .5rem 1rem;

        //text area
        resize: none;
        min-height: 2rem;
        height: 4rem;
        max-height: 5rem;
        overflow: auto;        
    }

    &__icon {
        width: 1.5rem;
        margin: 1rem;        
    }
}