<div class="ml-col-1">
    <div class="ml-col-1 padding-general-m margin-bottom-m">
        <div class="ml-col-1 padding-general-m card-style">
            <h4 class="ap-form__titulo ap-form__titulo--no-border text-left">
                Users list
                <button 
                    class="ap-form__titulo-button"
                    (click)="goToPage('AddTenant')">
                    Add User
                </button>
            </h4>
            <mat-form-field style="width: 100%;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
            </mat-form-field>
            <table mat-table mat-sort [dataSource]="userList" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef fxFlex="40" class="table__header">Active</th>
                    <td mat-cell *matCellDef="let element" fxFlex="40" class="table__data">
                        <div *ngIf="element.active">
                            <label class="icon-check"></label>
                        </div>
                        <div *ngIf="!element.active">
                            <label class="icon-ban"></label>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Name</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Email</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.email }}</td>
                </ng-container>
                <ng-container matColumnDef="systemType">
                    <th mat-header-cell *matHeaderCellDef class="table__header">System Type</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.systemType }}</td>
                </ng-container>
                <ng-container matColumnDef="rfc">
                    <th mat-header-cell *matHeaderCellDef class="table__header">RFC</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.rfc }}</td>
                </ng-container>
                <ng-container matColumnDef="birth">
                    <th mat-header-cell *matHeaderCellDef class="table__header">Birth</th>
                    <td mat-cell *matCellDef="let element" class="table__data">{{ element.birth }}</td>
                </ng-container>
                <ng-container matColumnDef="more">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="table__data">
                        <button 
                            (click)="viewDetail( element )"
                            mat-raised-button color="accent"
                            class="table__data-button">
                            view more
                        </button>   
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>
