

.icon-add {
  margin-left: 5%;
}

.header-card {
  padding: 0px;
  padding-left: 5%;
  padding-top: 5%;
}

.title-card {
  font-size: 1.1em;
}
.margin-gral {
  margin: 1%;
}

.content-card {
  padding: 0px;
  padding-left: 5%;
}

.img-size {
  width: 10em;
  height: 10em;
  margin-left:50%; 
}

.img-padding {
  padding: 6%;
}
